<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${SessionSysPortal.appTitle}-病区床位设置表管理</title>
    #parse("./common/pageCss.vm") #parse("./common/pageJs.vm")
    <style>
        .choose {
            position: absolute;
            right: 18px;
            top: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<form class="layui-form" id="wardBedForm" style="padding: 20px 0 0 0;">
    <!-- 表单 开始 -->
    #formHiddenInput("wardBedId" "$!{inpatientWardBed.wardBedId}" " id='wardBedId' ")
    #formHiddenInput("bedUsageFlag" "$!{inpatientWardBed.bedUsageFlag}" " id='bedUsageFlag' ")

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">#requiredTag()病区</label>
            <div class="layui-input-inline">
                #formHiddenInput("wardId" "$!{inpatientWardBed.wardId}" " id='wardId' ")
                #formTextInput("wardName" "$!{inpatientWardBed.wardName}" " readonly id='wardName' lay-verify='required' class='layui-input'")
                <i class="layui-icon layui-icon-more choose" title="选择病区"></i>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">#requiredTag()科室</label>
            <div class="layui-input-inline">
                #formHiddenInput("inpatientWardOfficeId" "$!{inpatientWardBed.inpatientWardOfficeId}" " id='inpatientWardOfficeId' ")
                #formTextInput("wardOfficeName" "$!{inpatientWardBed.wardOfficeName}" " readonly id='wardOfficeName' lay-verify='required' class='layui-input'")
                <i class="layui-icon layui-icon-more choose" title="选择科室"></i>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">#requiredTag()房间号 </label>
            <div class="layui-input-inline">
                #formNotInChineseInput("wardRoomNo" "#htmlEscape($!{inpatientWardBed.wardRoomNo})" " id='wardRoomNo' maxlength='10' autocomplete='off' lay-verify='required' class='layui-input'")
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">#requiredTag()床位号</label>
            <div class="layui-input-inline">
                #formNotInChineseInput("wardBedNo" "$!{inpatientWardBed.wardBedNo}" " id='bedNo' lay-verify='required' autocomplete='off' class='layui-input'")
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">#requiredTag()床位费用</label>
            <div class="layui-input-inline">
                #formTextInput("bedFee" $!{inpatientWardBed.bedFee} " id='bedFee' maxlength='10' lay-verify='required|number' autocomplete='off' class='layui-input'")
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">#requiredTag()ICU费用</label>
            <div class="layui-input-inline">
                #formTextInput("icuFee" $!{inpatientWardBed.icuFee} " id='icuFee' maxlength='10' lay-verify='number' autocomplete='off' class='layui-input'")
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">床位级别</label>
            <div class="layui-input-inline">
                #formSingleSelectSearchFirstNone("wardBedLevel" "$!inpatientWardBed.wardBedLevel" $dicData.dicWardBedLevel " lay-filter='wardBedLevel' autocomplete='off'  id='wardId' lay-search" "直接选择或搜索选择")
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">#requiredTag()性别限制 </label>
            <div class="layui-input-inline" style="width: auto;">
                #formRadioGroup("sexFlag" "$!{inpatientWardBed.sexFlag}" ${dicData.dicSexLimit} "check-msg='请选择性别限制' lay-verify='reqRedio'")
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        #if(${inpatientWardBed})
        <div class="layui-inline">
            <label class="layui-form-label">是否有效</label>
            <div class="layui-input-inline">
                #formRadioGroup("validFlag" "$!{inpatientWardBed.validFlag}" ${dicData.dicYesNo} "")
            </div>
        </div>
        #end
    </div>
    <div class="tool-bottom-fixed">
        <button type="button" id="btn_save" lay-submit="" lay-filter="btn_save" class="layui-btn layui-btn-sm">保 存</button>
    </div>
    <!-- 表单 结束 -->
</form>
#parse("./inpatient/wardbed/wardBedEdit.js.vm")
</body>
</html>
