<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<!--[if lt IE 9]>
<meta http-equiv="refresh" content="0;ie.html" />
<![endif]-->
<link href="$!contextPath/resource/layuiadmin/layui/css/layui.css"  rel="stylesheet" media="all">
<link href="$!contextPath/resource/layuiadmin/style/admin.css?v=124" rel="stylesheet" media="all">
<link href="$!contextPath/resource/layuiadmin/style/media.css?v=124" rel="stylesheet" media="all">
<link href="$!contextPath/resource/layuiadmin/style/template.css" rel="stylesheet" media="all">
<link href="$!contextPath/resource/layuiadmin/style/style.css" rel="stylesheet" media="all">
