<!-- 全局js -->
<script src="../resource/hplus/js/plugins/pinyin/pinyinDictWithtone.js"></script>
<script src="../resource/hplus/js/plugins/pinyin/pinyinDictPolyphone.js"></script>
<script src="../resource/hplus/js/plugins/pinyin/pinyinUtil.js"></script>
<script type="text/javascript">
$(function (){
    initChosen();
})

function initChosen() {
	    var config = {
            '.chosen-select': {search_contains: true},
            '.chosen-select-deselect': {
                allow_single_deselect: true
            },
            '.chosen-select-no-single': {
                disable_search_threshold: 100
            },
            '.chosen-select-no-results': {
                no_results_text: '无匹无数据'
            },
            '.chosen-select-width': {
                width: "95%"
            }
        }
	for (var selector in config) {
	    $(selector).chosen(config[selector]);
	}
}

</script>