<!DOCTYPE html>
<html>
<head>
	<title>患者查询</title>
	#parse("./common/pageCss.vm")
	#parse("./common/pageJs.vm") 
	<style type="text/css">
	 .layui-table, .layui-table-view {  margin: 0px 0; }
	</style>
</head>  

<body class="full-height white-bg table-width-full" >
  <!-- 查询表单 -->
  <form id="medicine_queryForm"> 
    #formHiddenInput("inhospitalNo" "" " id='inhospitalNo' class='layui-input' placeholder='住院号检索' ")
  </form>
 
  <!-- 数据表格 -->
  <table id="medicineTable" lay-filter="medicineTable"></table>
 
  #parse("./settlement/inpatient/patientInfo/patientSelect.js.vm")<!-- 页面js -->
</body>
</html>