@import url(http://at.alicdn.com/t/font_817903_x1vrw6nrjml.css);

html, body { margin: 0; padding: 0; border: 0; font-family: "Microsoft YaHei",Arial}


#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50
}

#nav {
    padding: 30px
}

#nav a {
    font-weight: 700;
    color: #2c3e50
}

#nav a.router-link-exact-active {
    color: #42b983
}


div {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #f9f9f9
}

.container .header {
    height: 179px
}

.container .header .bg {
    width: 100%;
    height: 179px
}

.container .header .avatar {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 96px;
    left: 25px;
    border-radius: 50%;
    border: 6px solid hsla(0, 0%, 100%, .25)
}

.container .header .person-info {
    position: absolute;
    top: 154px;
    left: 126.5px;
    font-size: 16px;
    color: rgba(0, 0, 0, .8)
}

.container .info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff
}

.container .other-info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 57px;
    padding: 0 15px;
    margin-top: 15px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.container .other-info label {
    font-size: 12px;
    color: rgba(0, 0, 0, .5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.container .other-info label span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.container .other-info .info-val {
    font-size: 14px;
    padding: 10px 0;
    color: rgba(0, 0, 0, .7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.container .other-info .info-val span {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.container .service-box {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 323px;
    width: 100%;
    height: 80px;
    padding: 15px 22.5px 0 22.5px;
    font-size: 12px;
    color: #000
}

.container .service-item {
    -webkit-box-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5
}
.container a.service-item{ text-decoration: none; color: #000;}

.container .service-item .iconfont {
    display: block;
    height: 48px;
    width: 48px;
    font-size: 28px;
    line-height: 48px;
    border-radius: 50%;
    color: #fff;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.container .baogao {
    position: absolute;
    width: 100%;
    top: 418px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 12px
}

.container .baogao-table {
    width: 100%;
    height: 400px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 9px #999a9a;
    box-shadow: 0 1px 9px #999a9a
}

.container .baogao-table td {
    border: 1px solid rgba(199, 198, 211, .45);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    text-align: left;
    vertical-align: top;
    overflow: auto;
    height: 200px;
    border-top: 0
}

.container .baogao-table tr td {
    border-right: 0
}

.container .baogao-table tr td div {
    height: 200px;
    font-size: 14px;
    overflow-y: auto;
    line-height: 24px;
    color: rgba(0, 0, 0, .7)
}

.container .baogao-table tr td:first-child {
    text-align: center;
    color: #01aebd;
    width: 35px;
    font-size: 14px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    border-left: 0
}

.container .baogao-table tr:last-child td {
    border-bottom: 0;
    height: 48px
}

.container .more-operate-box {
    height: 48px;
    width: 100%;
    margin-top: -48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.container .more-operate-box .more-operate {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 48px;
    line-height: 48px;
    display: inline-block;
    text-align: center
}

.container .more-operate-box .more-operate .iconfont {
    font-size: 20px;
    width: 24px;
    height: 48px;
    display: inline-block
}

.container .more-operate-box .more-operate span {
    font-size: 14px;
    margin-left: 2.5px;
    display: inline-block;
    position: relative;
    top: -2px
}

.container .footer {
    position: absolute;
    width: 100%;
    top: 936px;
    padding: 15px 0 30px 0;
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
    height: 64px;

}

.container .subHead {
    height: 48px;
    background-color: #05B3D4;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex: 1;
    display: flex;
    z-index: 999;
}
.container .subHead a{ color: #fff;}
.container .subHead .iconfont {
    font-size: 20px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    display: inline-block;
    float: left;

}
.container .subHead .tit {
    line-height: 48px;
    width: 100%;
}


.container .main {
    position: absolute;
    top: 48px;
    left: 0;
    height: 100%;
    width: 100%;
}
/*.container .main div { padding: 15px;}*/
.container .main div iframe { border: 0; width: 100%; height: 100%}

.container.sub .footer {
    position: relative;
    width: 100%;
    top: 100%;
    padding: 15px 0 30px 0;
    font-size: 12px;
    color: rgba(0, 0, 0, .6);
    height: 64px;
    bottom: 0;

}
