<!DOCTYPE html>
<html>
<head>
    <title>${SessionSysPortal.appTitle}-EMR设置-模板类名</title>
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
</head>
<body>
<div class="layui-content-wrapper">
    <div class="layui-fluid">
        <!--搜索条件 开始-->
        <form id="emrTlpClass_queryForm" class="layui-form autoWidth">
            <div class="layui-row-query search-term">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">模板对应类名（数据库物理表名）</label>
                        <div class="layui-input-inline">
                            #formTextInput("emrTlpClassId" "" "id='q_emrTlpClassId' maxlength='40'
                            autocomplete='off' class='layui-input'")
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">类名中文名</label>
                        <div class="layui-input-inline">
                            #formTextInput("emrClassNameChs" "" "id='q_emrClassNameChs' maxlength='50' autocomplete='off'
                            class='layui-input'")
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">类-值对象名路径</label>
                        <div class="layui-input-inline">
                            #formTextInput("emrClassPath" "" "id='q_emrClassPath' maxlength='100' autocomplete='off'
                            class='layui-input'")
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">查询类--queryInfo类路径</label>
                        <div class="layui-input-inline">
                            #formTextInput("emrQueryClassPath" "" "id='q_emrQueryClassPath' maxlength='100' autocomplete='off'
                            class='layui-input'")
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">值对象主键ID</label>
                        <div class="layui-input-inline">
                            #formTextInput("emrClassPrimaryKey" "" "id='q_emrClassPrimaryKey' maxlength='40' autocomplete='off'
                            class='layui-input'")
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-inline">
                            #formTextInput("remark" "" "id='q_remark' maxlength='40' autocomplete='off'
                            class='layui-input'")
                        </div>
                    </div>
                    <div class="layui-inline layui-btn-group">
                        <button type="button" id="btn_query" class="layui-btn layui-btn-sm" lay-tips="查询"><i class="layui-icon layui-icon-search"></i></button>
                        <button type="button" id="btn_clean" class="layui-btn layui-btn-sm" lay-tips="清 空"><i class="iconfont icon-qingchu"></i></button>
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" id="btn_add" lay-tips="新增"><i class="layui-icon layui-icon-add-1"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <!--搜索条件 结束-->
        <!-- 操作栏按钮模板 -->
        <script type="text/html" id="operateTpl">
            <a class="layui-btn layui-btn-xs" lay-event="btn_edit" lay-tips="修改"><i class="layui-icon layui-icon-edit"></i></a>
            <a class="layui-btn layui-btn-danger layui-btn-xs " lay-tips="删除" lay-event="btn_delete"><i class="layui-icon layui-icon-delete"></i></a>
        </script>
        <!-- 列表表格 工具栏 结束-->
        <!-- 列表表格 begin -->
        <table id="emrTlpClassListGrid" lay-filter="emrTlpClassListGrid"></table>
        <!--  列表表格 end -->
    </div>
</div>
<!-- 本页面js -->
#parse("./emr/emrTlpClass/emrTlpClassList.js.vm")
</body>
</html>
