<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>${SessionSysPortal.appTitle}-发票打印格式--个人设置表详细信息</title>
#parse("./common/pageCss.vm") 
#parse("./common/pageJs.vm")
</head>
<body class="white-bg">
        <!-- 显示内容begin -->
        <div class="table-content">
            <div class="form-group">
                <label class="col-sm-2 control-label text-right p-r-none p-l-none">#requiredTag()发票类型</label>
                <div class="col-sm-2 p-r-none">
                    #formTextInput("billModeId" "#htmlEscape($!{billPrintSetting.billModeId})" " id='billModeId' maxlength='9' adapter='required' required-msg='请填写发票类型' class='form-control'")
                </div>

                <label class="col-sm-2 control-label text-right p-r-none p-l-none">#requiredTag()发票名称</label>
                <div class="col-sm-2 p-r-none">
                    #formTextInput("billModeName" "#htmlEscape($!{billPrintSetting.billModeName})" " id='billModeName' maxlength='25' adapter='required' required-msg='请填写发票名称' class='form-control'")
                </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right p-r-none p-l-none">#requiredTag()医疗机构</label>
                <div class="col-sm-2 p-r-none">
                    #formIntInput("hospitalId" $!{billPrintSetting.hospitalId} " id='hospitalId' maxlength='255' adapter='required' required-msg='请填写医疗机构' class='form-control'")
                </div>
            </div>
                <label class="col-sm-2 control-label text-right p-r-none p-l-none">#requiredTag()打印格式</label>
                <div class="col-sm-2 p-r-none">
                    #formDefArea("printFormat" "#htmlEscape($!{billPrintSetting.printFormat})" " id='printFormat' maxlength='2000' adapter='required' required-msg='请填写打印格式' class='form-control' rows='3'")
                </div>

            <div class="form-group">
                <label class="col-sm-2 control-label text-right p-r-none p-l-none">#requiredTag()打印机设置</label>
                <div class="col-sm-2 p-r-none">
                    #formTextInput("printerSetting" "#htmlEscape($!{billPrintSetting.printerSetting})" " id='printerSetting' maxlength='250' adapter='required' required-msg='请填写打印机设置' class='form-control'")
                </div>
            </div>
                <label class="col-sm-2 control-label text-right p-r-none p-l-none">设置时间</label>
                <div class="col-sm-2 p-r-none">
                    #formLayDateInput("settingTime" $!{billPrintSetting.settingTime} " maxlength='10' class='form-control layer-date' ")
                </div>

                <label class="col-sm-2 control-label text-right p-r-none p-l-none">#requiredTag()设置人</label>
                <div class="col-sm-2 p-r-none">
                    #formIntInput("userId" $!{billPrintSetting.userId} " id='userId' maxlength='255' adapter='required' required-msg='请填写设置人' class='form-control'")
                </div>
            </div>

        </div>
        <!-- 显示内容begin -->
 </body>
<script type="text/javascript">
    // 下载附件
    function downFile(fileId) {
        common.downLoadFile('downLoadFile', 'emAffixService', fileId);
    }
</script>
</html>













<!-- 
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>发票打印格式--个人设置表 - 详细信息</title>
<link href="../resource/css/bootstrap.min.css" rel="stylesheet">
<link href="../resource/css/font-awesome.css" rel="stylesheet">
<link href="../resource/css/animate.css" rel="stylesheet">
<link href="../resource/css/style.css" rel="stylesheet">
<link href="../resource/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">

<link href="../resource/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link href="../resource/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="../resource/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="../resource/style/css/page.css" rel="stylesheet">



<style>
.lightBoxGallery img {
    margin: 5px;
    width: 90px;
}

.hzzb-tool {
    height: 48px;
    background: #ccc;
    width: 100%;
    line-height: 48px;
    padding: 0 15px;
}

.hzzb-yxzl-left {
    width: 20%
}

.hzzb-yxzl-right {
    width: 77.5%
}

.form-control.full-height {
    height: 100%
}

table.table-jcdj>tbody>tr>th, table.table-jcdj>tbody>tr>td {
    padding: 9px 15px
}

table.table-jcdj>tbody>tr>td:hover {
    border-bottom: #00b7ee 1px solid
}

.modal-dialog {
    width: 100%;
    margin: 0 auto
}
</style>
</head>

<body class="gray-bg top-navigation">
    <div class="wrapper wrapper-content full-height">                
        <div class="ibox-content">
            表格显示内容 开始
            <div class="table-responsive">
                <table class="table table-bordered table-jcdj">
                    <tbody>
                        <tr>

                            <th class="text-nowrap">发票类型：</th>
                            <td > #htmlEscape($!{billPrintSetting.billModeId})</td>

                            <th class="text-nowrap">发票名称：</th>
                            <td > #htmlEscape($!{billPrintSetting.billModeName})</td>

                            <th class="text-nowrap">医疗机构：</th>
                            <td >$!{billPrintSetting.hospitalId}</td>
                        </tr>
                        <tr>

                            <th class="text-nowrap">打印格式：</th>
                            <td > #htmlEscape($!{billPrintSetting.printFormat})</td>

                            <th class="text-nowrap">打印机设置：</th>
                            <td > #htmlEscape($!{billPrintSetting.printerSetting})</td>
                        </tr>
                        <tr>

                            <th class="text-nowrap">设置时间：</th>
                            <td >$!date.format('yyyy-MM-dd HH:mm', $!{billPrintSetting.settingTime})</td>

                            <th class="text-nowrap">设置人：</th>
                            <td colspan="3">$!{billPrintSetting.userId}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            表格显示内容 结束
        </div>
    </div>

    全局js
    <script src="../resource/js/jquery.min.js"></script>
    <script src="../resource/js/bootstrap.min.js"></script>

    Flot
    <script src="../resource/js/plugins/flot/jquery.flot.js"></script>
    <script src="../resource/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="../resource/js/plugins/flot/jquery.flot.resize.js"></script>

    ChartJS
    <script src="../resource/js/plugins/chartJs/Chart.min.js"></script>

    Data picker
    <script src="../resource/js/plugins/datapicker/bootstrap-datepicker.js"></script>


    Chosen
    <script src="../resource/js/plugins/chosen/chosen.jquery.js"></script>

    iCheck
    <script src="../resource/js/plugins/iCheck/icheck.min.js"></script>

    <script>
        $(document).ready(function () {

            $('#myTabs a[href="#tab-one"]').tab('show') // Select tab by name
            $('#myTabs a:first').tab('show') // Select first tab
            $('#myTabs a:last').tab('show') // Select last tab
            $('#myTabs li:eq(2) a').tab('show') // Select third tab (0-indexed)

            //下拉表单
            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': {
                    allow_single_deselect: true
                },
                '.chosen-select-no-single': {
                    disable_search_threshold: 10
                },
                '.chosen-select-no-results': {
                    no_results_text: 'Oops, nothing found!'
                },
                '.chosen-select-width': {
                    width: "350px;"
                }
            };
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            };


            $('#data_4 .input-group.date').datepicker({
                minViewMode: 1,
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                todayHighlight: true
            });

            $('#data_5 .input-daterange').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });


            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            //性别switch
            $(".switch").click(function () {
                if ($(".switch-left").hasClass('chosen') == true) {
                    $(".switch-left").removeClass('chosen');
                    $("input[name=male]").attr("checked", false);
                    $(".switch-right").addClass('chosen');
                    $("input[name=female]").attr("checked", true);
                } else {
                    $(".switch-right").removeClass('chosen');
                    $("input[name=female]").attr("checked", false);
                    $(".switch-left").addClass('chosen');
                    $("input[name=male]").attr("checked", true);
                }
            });

            $(".chosen-container.chosen-container-single").css({width:"150px",height:"30px"});
            $(".chosen-container.chosen-container-multi").css({width:"100%",height:"30px"});
            $("a.chosen-single").css("line-height","30px");



        });
    </script>


</body>

</html>
 -->