<!DOCTYPE html>
<html>
<head>
	<title>门诊医生工作区-维护</title>  
	#parse("./common/pageCss.vm")
	#parse("./common/pageJs.vm")
	#parse("./outpatient/outpatientMain/outpatientMain.css.vm")
	#parse("./outpatient/outpatientMain/outMaintenance.js.vm")
    #set($iframeAttr = 'width="100%" height="100%" frameborder="0" scrolling="auto"')
</head>

<body>
    <!-- 中间导航nav -->
    <div class="outMaintenanceTab full-height" id="component-tabs">
        <div class="layui-tab layui-tab-card blod white-bg outMaintenanceNav full-height" lay-filter="outMaintenanceNav" lay-allowclose="true">
            <!-- 主页导航名称 -->
            <ul class="layui-tab-title">
                <!-- <li lay-id="1" class="layui-this">常用诊断维护</li>
                <li lay-id="2">门诊病历</li> -->
            </ul>

            <!-- 导航内容 根据index对应li -->
            <div class="layui-tab-content" style="height: calc(100% - 35px);">
                <!-- <div lay-id="1" class="layui-tab-item layui-show">
                    <iframe src="$contextPath/basCommDiagnosis/outCommDiagnosisList.do" $iframeAttr ></iframe>
                </div>
                <div lay-id="outpatientEmr" class="layui-tab-item">
                    <iframe src="" $iframeAttr></iframe>
                </div> -->
            </div>
        </div>
    </div>
    <!-- 中间导航nav end -->
</body>
</html>