<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>药房入库汇总</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
    <link rel="stylesheet" href="../resource/hplus/js/webui-popover/jquery.webui-popover.css"/>
    <link href="$!contextPath/resource/hplus/js/plugins/layout/layout-default-latest.css" rel="stylesheet">
    <script src="../resource/hplus/js/webui-popover/jquery.webui-popover.js?v=2"></script>
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery-ui.js"></script>
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery.layout.js"></script>
    #parse("./common/layuiJs.vm")
    #parse("./common/common.js.vm")
    <style>
        .layui-table { margin: 0;}
        .layui-tab-card > .layui-tab-title li { background-color: #ddd; }
        .layui-tab-card > .layui-tab-title li.layui-this{ font-weight: bold; background-color: #1c8ee2; color: #fff;}
        .layui-tab-card {  border-radius: 0; margin: 0; box-shadow: initial}
        .layui-tab-card > .layui-tab-title .layui-this:after { border-width: 0;}
        .layui-table-header div.layui-table-cell{
         text-align: left;
          }

    </style>
</head>
<body>

<div class="layui-content-wrapper">
    <div class="layui-fluid">
        <div class="layui-show-md-inline">
            <form class="layui-form" id="queryForm">
                #formHiddenInput("pharmacyInOutDateBegin" "$!{queryInfo.pharmacyInOutDateBegin}" "id='pharmacyInOutDateBegin'")
                #formHiddenInput("pharmacyInOutDateEnd" "$!{queryInfo.pharmacyInOutDateEnd}" "id='pharmacyInOutDateEnd'")
                #formHiddenInput("medicineId" "$!{queryInfo.medicineId}" "id='medicineId'")
            </form>
        </div>
        <div class="layui-tab layui-tab-card  white-bg outpatientFeeNav" lay-filter="demo">
            <table id="mainTable" class="layui-table" lay-filter="mainTable"></table>
        </div>
    </div>
</div>
</body>
    #parse("./pharmacy/pharmacySearch/pharmacyInOutItemListShow.js.vm")

</html>
