<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>${SessionSysPortal.appTitle}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    #parse("./common/pageCss.vm")
    <style>
        html, body {
            height: 100%;
        }

        .layadmin-pagetabs {
            -moz-box-shadow: 1px 1px 3px #757575;
            -webkit-box-shadow: 1px 1px 3px #757575;
            box-shadow: 1px 1px 3px #757575;
        }

        .layadmin-pagetabs .layui-tab-title li {
            line-height: 32px;
        }

        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }

        .layui-nav-tree .layui-nav-bar {
            background-color: #ff9000;
        }

        .layadmin-pagetabs {
            transition: none;
            -webkit-transition: none;
        }

        /*无子菜单，隐藏掉，只显示左边菜单*/
        .not-child-menu > .member-left {
            width: 40px;
        }
        .not-child-menu> .member-content {
            width: calc(100% - 40px);
        }
        .not-child-menu > .member-content > #LAY_app_tabs {
            left: 40px;
        }
        .not-child-menu > .member-content > #LAY_app_body {
            left: 40px;
        }
    </style>
</head>
<body>
<div id="LAY_app">
    <div class="layadmin-maillist-fluid full-height" style="overflow-x: hidden">
        <!--菜单栏-->
        <div class="member-left full-height">
            <div class="tab_page_menu">
                <ul id="rootMenu"></ul>
            </div>
            <div id="searchMenuContainer">
                <div class="searchMenu layadmin-flexible" lay-unselect>
                    <input id="searchMenu" type="text" class="inputMenu" placeholder="菜单搜索">
                    <span layadmin-event="flexible">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </span>
                </div>
                <div id="leftMenu" class="tab_box"></div>
                <!--菜单搜索层-->
                <dl class="searchMenu-lay">
                    <dd><a href="javascript:void(0);">菜单栏</a></dd>
                    <dd><a href="javascript:void(0);">菜单栏</a></dd>
                    <dd><a href="javascript:void(0);">菜单栏</a></dd>
                    <dd><a href="javascript:void(0);">菜单栏</a></dd>
                </dl>
            </div>

        </div>
        <!--右侧内容-->
        <div class="member-content">
            <!-- 页面标签 -->
            <div class="layadmin-pagetabs sub-pagetabs" style="top:0px" id="LAY_app_tabs">
                <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
                <div class="layui-icon layadmin-tabs-control layui-icon-down">
                    <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                        <li class="layui-nav-item" lay-unselect>
                            <a href="javascript:;"></a>
                            <dl class="layui-nav-child layui-anim-fadein">
                                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                    <ul class="layui-tab-title" id="LAY_app_tabsheader">
                        <li lay-id="$!contextPath/drugstore/expireDrugList.do"
                            lay-attr="$!contextPath/drugstore/expireDrugList.do" class="layui-this">失效预测
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 主体内容 -->
            <div class="layui-body layui-body-min-left" id="LAY_app_body" style="top:34px">
                <div class="layadmin-tabsbody-item layui-show">
                    <iframe src="../drugstore/expireDrugList.do" id="inhospitalIframe" scrolling="no" frameborder="0"
                            class="layadmin-iframe"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
#parse("./common/pageJs.vm")
#parse("./drugstore/drugStoreMain.js.vm")
</html>
