<script>
    var layuiIndex;
    layui.config({
        base: '../resource/layuiadmin/'
    }).extend({
        index: 'lib/index',
        autocomplete: 'autocomplete'
    }).use(['index', 'form', 'laydate', 'element', 'autocomplete'], function () {
        var laydate = layui.laydate, form = layui.form, element = layui.element, autocomplete = layui.autocomplete;
        layuiIndex = layui.index;

        // 菜单收缩
        $(".side-tree .layui-nav-item").click(function () {
            $('#LAY_app').siblings().removeClass("layadmin-side-shrink");
        });

        // 初始化左边菜单
        var menuData = parent.menuData;
        if (menuData) {
            var html = [];
            var tabContent = [];
            var menu = JSON.parse(menuData).children;
            $.each(menu, function (i, r) {
                var href = r.href ? contextPath + "/" + r.href : '';
                html.push('<li id="' + r.id + '" tab-url="' + href + '" data-menu=' + (r.children ? JSON.stringify(r.children).replace(/\s+/g, "@") : '[]') + '><span><i class="' + r.icon + '"></i><p>' + r.text + '</p></span></li>');
                tabContent.push('<div class="container_page full-height-scroll"><ul id="leftMenu_' + i + '" class="layui-nav layui-nav-tree layui-inline side-tree"></ul></div>');
            });
            $('#rootMenu').html(html.join(''));
            $('#leftMenu').html(tabContent.join(''));

            /*跟菜单页选项卡切换监听*/
            $(".tab_page_menu ul li").click(function () {
                var index = $(".tab_page_menu ul li").index(this);
                $(this).addClass("selected").siblings().removeClass("selected");
                $(".tab_box .container_page").eq(index).addClass("selected").siblings().removeClass("selected");

                // 菜单数据
                var menuHtml = [];
                var hasChild = false; // 标识是否有子菜单
                var strData = $(this).attr('data-menu');
                var data = JSON.parse(strData);
                if(data.length === 0) {
                    //判断是否子菜单，如果没有就隐藏
                    $('.layadmin-maillist-fluid').addClass('not-child-menu');
                    // 当存在链接且链接长度必须大于5时才打开选项卡
                    if ($(this).attr('tab-url') && $(this).attr('tab-url').length > 5) {
                        var url = $(this).attr('tab-url');
                        // 最后一个参数url 做为iframe的ID
                        layui.index.openTabsPage(url, $(this).text(), $(this).attr('id'));
                    }
                    return
                }
                $('.layadmin-maillist-fluid').removeClass('not-child-menu');
                $.each(data, function (i, r) {
                    var href = r.href ? contextPath + "/" + r.href : '';
                    menuHtml.push('<li id="' + r.id + '" class="layui-nav-item">');
                    menuHtml.push('<a id="' + r.id + '" href="javascript:void(0);" title="' + r.text + '" tab-url="' + href + '"><i class="' + (r.icon ? r.icon.replace('@', ' ') : '') + '"></i><span>' + r.text + '</span></a>');
                    if (r.children && r.children.length > 0) {
                        hasChild = true;
                        menuHtml.push('<dl class="layui-nav-child">');
                        $.each(r.children, function (j, v) {
                            href = v.href ? contextPath + "/" + v.href : '';
                            menuHtml.push('<dd><a id="' + v.id + '" href="javascript:void(0);" title="' + v.text + '" tab-url="' + href + '">' + v.text + '</a></dd>');
                        });
                        menuHtml.push('</dl>');
                    }
                    menuHtml.push('</li>');
                });
                $('#leftMenu_' + index).html(menuHtml.join(''));
                // 重新渲染菜单标签元素
                element.render();


                // 左边菜单点击事件
                $('#leftMenu a').click(function () {
                    // 当存在链接且链接长度必须大于5时才打开选项卡
                    if ($(this).attr('tab-url') && $(this).attr('tab-url').length > 5) {
                        var url = $(this).attr('tab-url');
                        // 最后一个参数url 做为iframe的ID
                        layui.index.openTabsPage(url, $(this).text(), $(this).attr('id'));
                    }
                });

                if (hasChild) {
                    // 监听左边树型菜单展开和收缩
                    $('#leftMenu li.layui-nav-item').click(function () {
                        $('li.layui-nav-item').each(function () {
                            $(this).removeClass('layui-nav-itemed');
                        });
                        $(this).addClass('layui-nav-itemed');
                    });
                    // 默认打开第一个树型菜单
                    $('li.layui-nav-item:first').click();
                }
            });

            // 打开第一选项卡
            $(".tab_page_menu ul li:first").click();

            // 监听检索菜单
            $('#searchMenu').bind('input propertychange', function () {
                var html = [];
                var value = $(this).val();
                $("dl.searchMenu-lay").html('');
                if (!value) {
                    return;
                }
                $.each(menu, function (i, m) {
                    var rootId = m.id;
                    if (!m.children) {
                        return true;
                    }
                    $.each(m.children, function (j, c) {
                        var reg = RegExp("^.*" + value + ".*$");
                        if (reg.test(c.text)) {
                            var selector = (c.href ? 'a#' : "li#") + c.id;
                            html.push('<dd pId="' + rootId + '" id="' + selector + '" ><a href="javascript:void(0);">' + c.text + '</a></dd>');
                        }
                        if (!c.children) {
                            return true;
                        }
                        $.each(c.children, function (k, v) {
                            var reg = RegExp("^.*" + value + ".*$");
                            if (reg.test(v.text)) {
                                html.push('<dd pId="' + rootId + '" id="a#' + v.id + '"><a href="javascript:void(0);">' + v.text + '</a></dd>');
                            }
                        });
                    });
                });
                $("dl.searchMenu-lay").html(html.join(''));
                $("dl.searchMenu-lay > dd").click(function () {
                    var pId = $(this).attr('pId');
                    var menuId = $(this).attr('id');
                    $('li#' + pId).click();
                    $(menuId).click();
                    $("dl.searchMenu-lay").hide();
                });
                $("dl.searchMenu-lay").show();
            });
        }
        $('#searchMenuContainer').mouseleave(function () {
            $("dl.searchMenu-lay").html('');
            $("dl.searchMenu-lay").hide();
        });
    });

    // 打开一个新的选项卡窗口，一般在子窗口调用
    function openTab(url, text, id) {
        layuiIndex.openTabsPage(url, text, id);
    }
</script>
