<!DOCTYPE html>
<html>
<head>
    <title>${SessionSysPortal.appTitle}-系统维护-管理类配置-医生排班-添加医生排班-添加挂号医生-诊室关联医生</title>
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
    <style>
        .choose {
            position: absolute;
            right: 18px;
            top: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="layui-content-wrapper">
    <div class="layui-fluid layui-transfer layui-border-box ">
        <div class="layui-transfer-box full-height" data-index="0" style="width: 60%;">
            <!--搜索条件 开始-->
            <form id="basPostDoctor_queryForm" class="layui-form">
                <div class="layui-row-query search-term">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">#requiredTag()门诊科室</label>
                            <div class="layui-input-inline ">
                                #formHiddenInput("arrangeDutyOfficeId" "" " id='arrangeDutyOfficeId' ")
                                #formTextInput("arrangeDutyOfficeName" "" " readonly id='arrangeDutyOfficeName' lay-verify='required' class='layui-input'")
                                <i class="layui-icon layui-icon-more choose" title="选择门诊科室"></i>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-btn-group">
                                <button type="button" id="btn_query" class="layui-btn layui-btn-sm"
                                        lay-tips="查询">
                                    <i class="layui-icon layui-icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--搜索条件 结束-->
            <!-- 列表表格 begin -->
            <table id="consultingRoomListGrid" lay-filter="consultingRoomListGrid"></table>
            <!--  列表表格 end -->

        </div>
        <div class="layui-transfer-active">
            <button type="button" class="layui-btn layui-btn-sm layui-btn-primary layui-btn-disabled" id="btn_add"><i class="layui-icon layui-icon-next"></i></button>
        </div>
        <div class="layui-transfer-box full-height" data-index="1" style="width: calc(40% - 85px) ">
            <form id="consultingRoomDoctor_queryForm" class="layui-form">
                <div class="layui-row-query search-term">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">医生</label>
                            <div class="layui-input-inline">
                                #formSingleSelect("doctorId" "" "" " id='q_doctorId' lay-filter='q_doctorId' lay-search" " ")
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!-- 列表表格 begin -->
            <table id="consultingRoomDoctorListGrid" lay-filter="consultingRoomDoctorListGrid"></table>
            <!--  列表表格 end -->
        </div>
    </div>
</div>
<!-- 本页面js -->
#parse("./outpatient/consultingRoomDoctor/roomToDoctorEdit.js.vm")
</body>
</html>
