<!DOCTYPE html>
<html>
<head>
    <title>${SessionSysPortal.appTitle}-药房管理-基础设置-药房摆药机设置列表-新增</title>
    #parse("./common/pageCss.vm")
    <style>
        @media screen and (max-width: 1366px) {
            /*table*/
            .layui-table-view .layui-table td, .layui-table-view .layui-table th {
                padding: initial;
            }
        }
    </style>
    #parse("./common/pageJs.vm")
    <style type="text/css">
        .layui-card.left-box {
            height: calc(100vh - 10px);
        }

        .layui-card.right-box {
            height: calc(100vh - 50px);
            overflow-y: auto;
        }

        .layui-card-header .caller-seach {
            display: inline-block;
            width: calc(100% - 85px);
        }

        .layui-card-header .caller-seach > .caller-icon {
            right: 110px;
        }

        .layui-card-header .caller-seach > input:invalid + .caller-icon {
            visibility: hidden;
        }

        .layui-card-header .layui-btn-group {
            height: 35px;
        }

        .layui-card-header .layui-btn-group i.layui-icon {
            position: initial;
            line-height: inherit;
        }

        .layui-form .layui-form-label {
            text-overflow: inherit !important;
        }

        .layui-input-inline .caller-icon {
            position: absolute;
            right: 30px;
            top: 3px;
            cursor: pointer;
        }

        .layui-input-inline input:invalid + .caller-icon {
            visibility: hidden;
        }

        .layui-input-inline .choose {
            font-size: 18px;
            position: absolute;
            top: 3px;
            right: 6px;
            cursor: pointer;
        }

        /* 表格警告框 */
        .table-danger {
            border-color: #FF5722 !important;
        }

        /*单元格 必填红框*/
        .layui-table-cell-danger {
            border: 1px solid rgb(255, 87, 34) !important;
        }
    </style>
</head>
<body>
<div class="layui-content-wrapper">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md3 layui-col-xs3">
                <div class="layui-card left-box">
                    <div class="layui-card-header">
                        <div class="layui-form caller-seach" action="">
                            <input type="text" id="q_pharmacyName"
                                   autocomplete="off" class="layui-input caller-pl32" required title="">
                            <i class="layui-icon layui-icon-close caller-dump-icon caller-icon" lay-tips="清空"></i>
                        </div>
                        <div class="layui-btn-group">
                            <button id="btn_query" class="layui-btn layui-btn-primary layui-btn-sm" type="button"
                                    lay-tips="查询"><i
                                    class="layui-icon layui-icon-search "></i></button>
                            <button id="btn_add" class="layui-btn layui-btn-sm layui-btn-normal" type="button"
                                    lay-tips="新增"><i class="layui-icon layui-icon-add-1"></i></button>
                        </div>
                    </div>
                    <div class="layui-card-body">
                        <table id="pharmacyListGrid" lay-filter="pharmacyListGrid"></table>
                        <!--  列表表格 end -->
                    </div>
                </div>
            </div>
            <div class="layui-col-md9 layui-col-xs9">
                <form class="layui-form" lay-filter="pharmacyMachineForm" id="pharmacyMachineForm">
                    <div class="layui-card right-box">
                        <div class="layui-card-header">药房摆药机设置</div>
                        <div class="layui-card-body">
                            <input type="hidden" id="submitFlag">
                            <input type="hidden" name="pharmacyId" value="$!{pharmacyId}" id="pharmacyId"
                                   lay-verify="pharmacyId">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">#requiredTag()药房名称</label>
                                    <div class="layui-input-inline">
                                        <input name="pharmacyName" id="pharmacyName"
                                               lay-length='30' lay-verify='required|length'
                                               class='layui-input' readonly>
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">#requiredTag()是否有效</label>
                                    <div class="layui-input-inline">
                                        #formRadioGroup("validFlag" "$!{CONST.AppConstants.YES_FLAG}"
                                        ${dicData.dicYesNo} "lay-verify='reqRedio' check-msg='请选择是否有效'")
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table id="pharmacyMachineListGrid"
                               lay-filter="pharmacyMachineListGrid"
                               lay-verify="pharmacyMachineListGrid"></table>
                    </div>
                    <div class="tool-bottom-fixed " style="position: sticky;">
                        <button type="button" id="btn_save" lay-submit="" lay-filter="btn_save"
                                class="layui-btn layui-btn-sm">保 存
                        </button>
                        <button type="button" id="btn_close" class="layui-btn layui-btn-sm">关闭</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 本页面js -->
#parse("./pharmacy/pharmacyMachine/pharmacyMachineAdd.js.vm")
</body>
</html>
