<!DOCTYPE html>
<html>
<head>
    <title>${SessionSysPortal.appTitle}-药库管理-基础设置-药库列表</title>
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
</head>
<body>
<div class="layui-content-wrapper">
    <div class="layui-fluid">
        <!--搜索条件 开始-->
        <form id="drugstore_queryForm" class="layui-form autoWidth">
            <div class="layui-row-query search-term">
                <div class="layui-form-item ">
                    <div class="layui-inline">
                        <label class="layui-form-label">药库</label>
                        <div class="layui-input-inline">
                            #formTextInput("drugstoreName" "" "class='layui-input' id='q_drugstoreName'
                            autocomplete='off' ")
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-btn-group">
                            <button id="btn_query" class="layui-btn layui-btn-sm" type="button" lay-tips="查询"><i
                                    class="layui-icon layui-icon-search "></i></button>
                            <button id="btn_clean" class="layui-btn layui-btn-sm " type="button" lay-tips="清 空">
                                <i class="iconfont icon-qingchu"></i></button>
                        </div>
                        <button id="btn_add" class="layui-btn layui-btn-sm layui-btn-normal" type="button"
                                lay-tips="新增药库"><i class="layui-icon layui-icon-add-1"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <!--搜索条件 结束-->
        <!-- 列表表格 begin -->
        <table id="drugstoreListGrid" lay-filter="drugstoreListGrid"></table>
        <!--  列表表格 end -->

    </div>
</div>
<!-- 本页面js -->
#parse("./drugstore/drugstoreMedicine/drugstoreMedicineList.js.vm")
</body>
</html>
