<!DOCTYPE html>
<html>
<head>
    <title>患者管理</title>
    <link href="$!contextPath/resource/hplus/js/plugins/layout/layout-default-latest.css" rel="stylesheet">
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery-ui.js"></script>
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery.layout.js"></script>
    <link href="../resource/hplus/css/bootstrap.min.css" rel="stylesheet">
    <link href="../resource/hplus/js/plugins/daterangepicker/1.3.4/daterangepicker.css" rel="stylesheet">
    <script type="text/javascript" src="../resource/hplus/js/plugins/daterangepicker/1.3.4/moment.js"></script>
    <script type="text/javascript" src="../resource/hplus/js/plugins/daterangepicker/1.3.4/daterangepicker.js"></script>

</head>

<body>
    <form id="inpatientMgrForm" class="layui-form">
    <input type="hidden" id="inhospitalDateBegin" name="inhospitalDateBegin">
    <input type="hidden" id="inhospitalDateEnd" name="inhospitalDateEnd">
    <input type="hidden" id="outhospitalDateBegin" name="outhospitalDateBegin">
    <input type="hidden" id="outhospitalDateEnd" name="outhospitalDateEnd">
          <div class="layui-row-query" >
              <div class="layui-form-item">
                   <div class="layui-inline">
                       <label class="layui-form-label">姓名</label>
                       <div class="layui-inline wd-120">
                         #formTextInput("patientName" "" " class='layui-input' ")
                       </div>
                   </div>
                   <div class="layui-inline">
                       <label class="layui-form-label">病区</label>
                       <div class="layui-inline wd-120">
                         #formTextInput("wardName" "" "id='wardName' class='layui-input' ")
                       </div>
                   </div>
                   <div class="layui-inline">
                       <label class="layui-form-label">科室</label>
                       <div class="layui-inline wd-120">
                         #formTextInput("inhospitalId" "" "id='inhospitalId' class='layui-input' ")
                       </div>
                   </div>
                   <div class="layui-inline">
                        <label class="layui-form-label" style="width:120px;">入院时间：</label>
                        <div class="layui-input-inline input-inline-long" style="width:180px;">
                         #formTextInput("" "" "class='layui-input layer-date' tag='inhospitalDateBegin,inhospitalDateEnd'  id='inhospitalDate' placeholder='入院时间范围' readOnly")
                        </div>
                     </div>


                   <div class="layui-inline" style="margin-top: -7px;">
                       <button class="layui-btn  layui-btn-sm " id="btn_query" type="button">
							<i class="layui-icon layui-icon-search "></i>
					   </button>
					   <button class="layui-btn layui-btn-sm " type="reset" lay-tips="刷新" id="btn_freshen" style="margin-left: auto;">
							<i class="layui-icon layui-icon-refresh"></i>
					   </button>
                   </div>
              </div>
          </div>
     </form>

     <!-- 数据表格 -->
     <table id=inpatientListTab lay-filter="inpatientListTab"></table>
     #parse("./doc/docBorrow/inpatientSelectList.js.vm")
</body>
</html>
