<!DOCTYPE html>
<html>
<head>
#parse("./common/pageCss.vm") #parse("./common/pageJs.vm")
<style type="text/css">
.layui-form-select dl {
    max-height: 220px;
}
</style>
</head>
<body>
    <form class="layui-form" lay-filter="" id="basSurgeryIncisionLevelForm" style="padding: 20px 30px 0 0;">
        #formHiddenInput("surgeryIncisionLevelId" "$!{basSurgeryIncisionLevel.surgeryIncisionLevelId}" " ")
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">#requiredTag()等级名称</label>
                <div class="layui-input-inline">#formTextInput("incisionLevelName" "$!{basSurgeryIncisionLevel.incisionLevelName}" "class='layui-input' lay-verify='required' maxlength='20' placeholder='' autocomplete='off'")</div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">#requiredTag()等级类别</label>
                <div class="layui-input-inline">#formSingleSelectSearchFirstNone("incisionLevel" "$!{basSurgeryIncisionLevel.incisionLevel}" $!{dicData.dicSurgeryLevel} "lay-search lay-verify='required'" "请选择")</div>
            </div>
        </div>
        #if(${basSurgeryIncisionLevel})
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">是否有效</label>
                <div class="layui-input-inline">#formRadioGroup("validFlag" "$!{basSurgeryIncisionLevel.validFlag}" ${dicData.dicYesNo} "lay-verify='reqRedio' check-msg='请选择是否有效'")</div>
            </div>
        </div>
        #end
        <div class="tool-bottom-fixed">
            <button type="button" id="btn_save" lay-submit="" lay-filter="btn_save" class="layui-btn layui-btn-sm">保 存
            </button>
        </div>
    </form>
    #parse("./bas/basSurgeryIncisionLevel/basSurgeryIncisionLevelEdit.js.vm")
</body>
</html>