<!DOCTYPE html>
<html>
<head>
    #parse("./common/pageCss.vm") #parse("./common/pageJs.vm")
</head>
<body>
<div class="layui-form" lay-filter="" id="basSurgeryIncisionLevelForm" style="padding: 20px 30px 0 0;">
    #formHiddenInput("surgeryIncisionLevelId" "$!{basSurgeryIncisionLevel.surgeryIncisionLevelId}" " ")
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">#requiredTag()等级名称</label>
            <div class="layui-input-inline">#formIntInput("incisionLevelName"
                "$!{basSurgeryIncisionLevel.incisionLevelName}" "class='layui-input' lay-verify='required'
                maxlength='20' placeholder='' autocomplete='off'")
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">#requiredTag()等级类别</label>
            <div class="layui-input-inline">
                #formIntInput("incisionLevel"
                "$!{dicData.dicSurgeryLevel.get(${basSurgeryIncisionLevel.incisionLevel.toString()})}"
                "class='layui-input'")
            </div>
        </div>
    </div>
    #if(${basSurgeryIncisionLevel})
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">是否有效</label>
            <div class="layui-input-inline">#formRadioGroup("validFlag" "$!{basSurgeryIncisionLevel.validFlag}"
                ${dicData.dicYesNo} "lay-verify='reqRedio' check-msg='请选择是否有效'")
            </div>
        </div>
    </div>
    #end
    <div class="tool-bottom-fixed">
        <button type="button" id="btn_close" class="layui-btn layui-btn-sm">关 闭
        </button>
    </div>
</div>
<script>
    layui.use(['form'], function () {
        var $ = layui.$, form = layui.form
        common.setFormReadOnly($("#basSurgeryIncisionLevelForm"));
        $("#btn_close").click(function () {
            // 关闭窗口
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        })
    })
</script>
</body>
</html>