<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
<style>

	.layui-table tbody tr:hover {background-color:transparent;}
	.treeBody {height:calc(100vh - 187px);overflow-y:auto;}
	tr th {padding:2px 5px;font-weight:700;margin-left:20px;font-size:14px;}
	.layui-card {box-shadow:none;}
	.appointItem {width:140px;height:40px;background:#F2F2F2;border-radius:5px;display:inline-block;padding:5px;}
	.appointItem td {padding-right:5px;}
	.layui-table,.layui-table-view {margin:0px;}

    .wrapp-left, .wrapp-midd, .wrapp-right {float: left; height: calc(100% - 46px); overflow: hidden; background: #fff;}
    .wrapp-left { width: calc(55% - 120px); }
    .wrapp-right { width: 320px }
    .wrapp-midd {width: calc(45% - 220px); margin: 0 10px;}

    @media screen and (max-width: 768px){
        .wrapp-left .layui-form-label{width: unset;}
        .wrapp-left .layui-input-inline{width: 170px}
    }
</style>
</head>
<body>
    <div class="layui-row full-height layui-content-wrapper" style="min-width: 755px">
            #formHiddenInput("userId" "" "id='userId'")
            #formHiddenInput("arrangeDutyDate" "" "id='arrangeDutyDate'")
            <!-- 门诊医师号表管理 -->
            <div class="wrapp-left full-height">
                <div class="layui-card full-height">
                    <div class="layui-card-header ">门诊医师号表管理</div>
                    <div class="layui-card-body">
                        <form class="layui-form" id="queryForm">
                            <div class="layui-form-item m-b-n">
                                <div class="layui-inline">
                                    <label class="layui-form-label">时间范围</label>
                                    <div class="layui-input-inline">
                                      #formTextInput("" "" "class='layui-input layer-date' tag='arrangeDutyDateBegin,arrangeDutyDateEnd'  id='arrangeDutyDateRange' placeholder='排班时间范围' readOnly")
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">预约科室</label>
                                    <div class="layui-input-inline">
                                     #formSingleSelectSearchFirstNone("doctorOfficeId" "131" ${dicData.dicOffice} " lay-search" "直接选择或搜索选择")
                                    </div>
                                </div>
                                <div class="layui-inline">
                                    <label class="layui-form-label">预约医生</label>
                                    <div class="layui-input-inline">
                                      #formTextInput("doctorName" "" " autocomplete='off' class='layui-input'")
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">职称类别</label>
                                    <div class="layui-input-inline">
                                     #formSingleSelectSearchFirstNone("chargeItemId" "" ${dicData.dicRegisterDoctorDutyName} "  lay-search" "直接选择或搜索选择")
                                    </div>
                                </div>
                                 <div class="layui-inline" style="margin-left: 33px;">
                                     <i class="layui-icon alone-tips"></i>
                                     <p style="color: black;">上午：$!dicData.dicVisitTimeRange.get('1')                          &nbsp;&nbsp;&nbsp;&nbsp;
                                         下午：$!dicData.dicVisitTimeRange.get('2')  </p>
                                </div>
                                <div class="layui-inline" style="margin-left: 66px;">
                                    <div class="layui-btn-group " >
                                        <button class="layui-btn  layui-btn-sm " type="button"  lay-submit lay-filter="btn_query" id="btn_query">
                                            <i class="layui-icon layui-icon-search "></i>
                                        </button>
                                        <button class="layui-btn layui-btn-sm " type="reset" id="btn_reset" style="margin-left: auto;">
                                            <i class="layui-icon layui-icon-refresh"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <div class="" style="width:100%;">
                             <table id="onDutyDoctorTable" lay-filter="onDutyDoctorTable"  style="width:900px;"></table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 号源表 -->
            <div class="wrapp-midd full-height">
                <div class="layui-card full-height">
                    <div class="layui-card-header ">号源表</div>
                    <div class="layui-card-body">
                           <table id="appointResourceTable" lay-filter="appointResourceTable"></table>
                    </div>
                </div>
            </div>
            <!-- 患者信息 -->
            <div class=" wrapp-right full-height white-bg">
                <div class="layui-card full-height">
                    <div class="layui-card-header ">患者信息</div>
                    <div class="layui-card-body full-height-scroll text-center" style="height: calc(100% - 50px);">
                        <form class="layui-form" lay-filter="" id="patientInfoForm">
                            <!-- 从值班医生表格获取 -->
                            #formHiddenInput("scheduleDate" "" " id='scheduleDate' ")
                            #formHiddenInput("timeFlag" "" " id='timeFlag' ")
                            #formHiddenInput("visitOfficeId" "" " id='visitOfficeId' ")
                            #formHiddenInput("visitOfficeName" "" " id='visitOfficeName' ")
                            #formHiddenInput("doctorId" "$!{appoint.doctorId}" " id='doctorId'")
                            #formHiddenInput("doctorName" "$!{appoint.doctorName}" " id='doctorName'")
                            #formHiddenInput("chargeName" "$!{appoint.chargeName}" " id='chargeName'")
                            #formHiddenInput("regFee" "$!{appoint.regFee}" " id='regFee' ")
                            #formHiddenInput("appointSourceFlag" $!{appoint.appointSourceFlag} "id='appointSourceFlag'")
                            <!-- 从号源表格获取 -->
                            #formHiddenInput("sort" "$!{appoint.sort}" " id='sort' ")
                            #formHiddenInput("scheduleBeginTime" "$!{appoint.scheduleBeginTime}" " id='scheduleBeginTime' ")
                            #formHiddenInput("scheduleEndTime" "$!{appoint.scheduleEndTime}" " id='scheduleEndTime' ")
                            <!--  -->
                            #formHiddenInput("appointId" "$!{appoint.appointId}" " id='appointId' ")
                            #formHiddenInput("patientId" $!{appoint.patientId} " id='patientId'")
                            #formHiddenInput("appointFlag" "5" " id='appointFlag'")
                        ##formHiddenInput("payOrderId" "$!{appoint.payOrderId}" " id='payOrderId' ")
                        ##formHiddenInput("refundOrderId" "$!{appoint.refundOrderId}" " id='refundOrderId' ")
                        ##formHiddenInput("registerFlag" "$!{appoint.registerFlag}" " id='registerFlag' ")
                        ##formHiddenInput("registerId" "$!{appoint.registerId}" " id='registerId' ")
                        ##formHiddenInput("transactionCode" "$!{appoint.transactionCode}" " id='transactionCode' ")
                        ##formHiddenInput("transactionMsg" "$!{appoint.transactionMsg}" " id='transactionMsg' ")
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">#requiredTag()就诊卡号 </label>
                                    <div class="layui-input-inline">
                                        #formTextInput("visitCardNo" "$!{appoint.visitCardNo}" " id='visitCardNo' maxlength='20' lay-verify='required' autocomplete='off' placeholder='' class='layui-input'")<i class="layui-icon layui-icon-search select-patient" style="position: absolute; right: 5px; top: 5px; cursor: pointer; color: #5FB878;" title="选择患者"></i>
                                    </div>
                                </div>
                            </div>
                            <div class=" layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label"> #requiredTag()患者姓名</label>
                                    <div class="layui-input-inline">#formTextInput("patientName" $!{appoint.patientName} " id='patientName' maxlength='10' lay-verify='required' autocomplete='off' placeholder='' class='layui-input'")</div>
                                </div>

                            </div>
                            <div class=" layui-form-item">

                                <div class="layui-inline">
                                    <label class="layui-form-label">出生年月</label>
                                    <div class="layui-input-inline">#formLayDateInput("patientBirth" $!{appoint.patientBirth} " maxlength='10' autocomplete='off' class='layui-input layer-date' ")</div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">#requiredTag()性别</label>
                                    <div class="layui-input-inline" style="width: auto;">#formRadioGroup("patientSex" "$!{appoint.patientSex}" ${dicData.dicClearSex} "lay-verify='required'")</div>
                                </div>

                            </div>
                            <div class="layui-form-item">

                                <div class="layui-inline">
                                    <label class="layui-form-label">#requiredTag()患者类别</label>
                                    <div class="layui-input-inline" style="width:auto;">#formRadioGroup("patientClassify" "$!{appoint.patientClassify}" ${dicData.dicPatientClassify} "lay-verify='required'")</div>
                                </div>
                            </div>
                            <div class=" layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" title="患者为儿童此项可为空">证件类型</label>
                                    <div class="layui-input-inline">#formSingleSelectSearchFirstNone("patientIdType" "$!{appoint.patientIdType}" ${dicData.dicPatientIdType} "id='patientIdType' lay-verify='required' lay-search" "直接选择或搜索选择")</div>

                                </div>
                            </div>
                            <div class=" layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label" >证件号码</label>
                                    <div class="layui-input-inline " >#formTextInput("patientIdCard" "$!{appoint.patientIdCard}" " id='patientIdCard' maxlength='20' lay-verify='required' autocomplete='off' placeholder='' class='layui-input'")</div>
                                </div>
                            </div>

                            <div class=" layui-form-item ">
                                <div class="layui-inline">
                                    <label class="layui-form-label">患者电话</label>
                                    <div class="layui-input-inline">#formTextInput("patientPhone" "#htmlEscape($!{appoint.patientPhone})" " id='patientPhone' maxlength='15' autocomplete='off' placeholder='' class='layui-input'")</div>
                                </div>

                            </div>
                            <div class=" layui-form-item ">

                                <div class="layui-inline">
                                    <label class="layui-form-label">监护人姓名</label>
                                    <div class="layui-input-inline ">#formTextInput("guardName" "#htmlEscape($!{appoint.guardName})" " id='guardName' maxlength='10' autocomplete='off' placeholder='' class='layui-input'")</div>
                                </div>
                            </div>
                            <div class=" layui-form-item ">
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width: auto;padding-left:0px;">监护人证件类型</label>
                                    <div class="layui-input-inline">#formSingleSelectSearchFirstNone("guardIdType" "$!appoint.guardIdType" $dicData.dicGuardIdType "id='guardIdType'  lay-search" "证件类型")</div>
                                </div>
                            </div>
                            <div class=" layui-form-item ">
                                <div class="layui-inline">
                                    <label class="layui-form-label" style="width: auto;padding-left:0px;">监护人证件号码</label>
                                    <div class="layui-input-inline " >#formTextInput("guardIdCard" "$!appoint.guardIdCard" " id='guardIdCard' maxlength='20' autocomplete='off' placeholder='' class='layui-input'")</div>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">现居住地 </label>
                                    <div class="layui-input-inline ">#formTextInput("patientAddr" "#htmlEscape($!{appoint.patientAddr})" "id='patientAddr' maxlength='100' autocomplete='off' placeholder='' class='layui-input'")</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        <div class="tool-bottom-fixed btn_gorup" style="background: #ffffff; border-top: 1px solid #e7eaec;">
            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="btn_save" id="btn_save"> 预 约 </button>
            <button class="layui-btn  layui-btn-sm" type="reset" id="btn_reset">&nbsp;&nbsp;重&nbsp;置&nbsp;&nbsp;</button>
            <button class="layui-btn  layui-btn-sm" type="button" id="btn_cancel">&nbsp;取消预约&nbsp;</button>
            <button type="button" id="btn_refresh" class="layui-btn layui-btn-sm " style="margin-left: 30px" onclick="location.reload()" lay-tips="刷新">
                <i class="layui-icon layui-icon-refresh"></i>
            </button>
        </div>
    </div>

    #parse("./outpatient/appoint/outAppointEdit.js.vm")
</body>
</html>

