<!DOCTYPE html>
<html>
<head>
	<title>会诊申请报告</title> 
	#parse("./common/pageCss.vm")
	#parse("./common/pageJs.vm")
    <link href="$!contextPath/resource/hplus/js/plugins/layout/layout-default-latest.css" rel="stylesheet">
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery-ui.js"></script>
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery.layout.js"></script>
    <style type="text/css">
    #container .ui-layout-resizer-closed {
    display: block !important;
}

.ui-layout-pane {
    padding: 0 2px !important;
}

.ui-layout-resizer-east {
    width: 10px !important;
}
    .ui-layout-toggler-east {
    background-color: #6cbbd4;
    line-height: 9px;
    width: 10px !important;
}
    </style>
</head>  

<body class="full-height white-bg table-width-full">
	<div id="container">
		<div class="layui-form ui-layout-center">
		    <div class="layui-card" >
            <div class="layui-card-header"><h5>输液列表</h5></div>
            <div class="layui-card-body layadmin-takerates">
                <!-- 查询表单 -->
	            <form id="commonDiagnosis_queryForm" class="layui-form"> 
	                <div class="layui-form-item p-t-xs"> 
	                    <div class="layui-inline">
	                      <label class="layui-form-label wd-50">卡号</label>
	                      <div class="layui-input-inline">
	                          #formTextInput("visitCardNo" "" "id='visitCardNo' class='layui-input'")
	                      </div>
	                    </div>
	                    <div class="layui-inline">
	                        <label class="layui-form-label">患者姓名</label>
	                        <div class="layui-input-inline ">
	                            #formTextInput("patientName" "" "id='patientName' class='layui-input ' placeholder='患者姓名'")
	                        </div>
	                    </div>
	                    <div class="layui-inline">
	                       <label class="layui-form-label">就诊日期</label>
	                       <div class="layui-input-inline">
	                         #formTextInput("" "" "id='makeOrderTime'  tag='makeOrderTimeBegin,makeOrderTimeEnd'  class='layui-input layui-input-s'")
	                       </div>
	                    </div>
	             
	                    <div class="layui-inline">
	                         <button id="btn_query" class="layui-btn layui-btn-sm" type="button"><i class="layui-icon layui-icon-search"></i></button>
	                    </div>
	                     
	                </div>
	             </form>
	             
	             <div class="data-table">
	                  <!-- 数据表格 -->
	                  <table id="commonDiagnosisTable" lay-filter="commonDiagnosisTable"></table>
	             </div>
            </div>
         </div>
		</div>
		<div class="ui-layout-east">
		     <div class="top" style="width:100%;height: 48%;" >
				<div class="layui-card full-height">
					<div class="layui-card-header">
						<h5>患者信息</h5>
					</div>
					<div class="layui-card-body layadmin-takerates">
					      
					
					</div>
				</div>

			</div>
			<div class="line" style="height: 8px;background-color: #f5f6f7;"></div>
		     <div class="buttom" style="width:100%; height:calc(52% - 10px)" >
		           <div class="layui-card full-height">
                    <div class="layui-card-header">
                        <h5>输液详情</h5>
                    </div>
                    <div class="layui-card-body layadmin-takerates">
                                                                         姓名：张三
                    </div>
                </div>
		     
		     
		     
		     </div>
		      
		</div>
	</div>


<!-- 自定义流列表 -->
   <div class="pageContent layadmin-maillist-fluid layui-hide">
    <div class="layui-col-space15  patient-list">
      <!-- 每个挂号患者的信息 -->
      <div class="infoTpl layui-col-sm4 layui-col-md3 ">
        <div class="layadmin-contact-box cursorHover" lay-href="member/home.html" lay-text="赵芳丽（住院）" >
          <div class="layui-col-md4 layui-col-sm4 layui-col-xs3">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img class="photo" src="$contextPath/resource/layuiadmin/style/myRes/icon-jiating-nainai.png">
                <div class="layadmin-maillist-img layadmin-font-blod patientAge">年龄</div>
              </div>
            </a>
          </div>
          <div class="layui-col-md8 layadmin-padding-left10 layui-col-sm8 layui-col-xs9">
            <a href="javascript:;">
              <h3 class="layadmin-title">
                <strong><span class="patientName">患者姓名</span>&nbsp;</strong>
              </h3>
            </a>
            <div class="layadmin-address">
              <a href="javascript:;">
                            性别：<span class="patientSex"></span> <br>
                            门诊号: <span class="visitCardNo"></span> <br>
                            号别：<span class="serialNum"></span> <br>
                            挂号时间：<span class="registerTime"></span>
                </a>
            </div>
          </div>
        </div>
      </div><!-- 每个挂号患者的信息 end-->
     
    </div><!-- 列表 -->
   </div><!--pageContent -->

	#parse("./outpatient/transfuse/outTransfuseList.js.vm")
</body>
</html>