<style type="text/css">
.quota {
    text-align: center;
}
.quota button{
    width:93%;
    height:auto;
    margin:0px auto;
    padding:0px;
}
.quota button i{
    font-size: 40px;
    position:relative;
    float:left;
    top:15px;
    left:5%;
}

.quota .quota-content{
    height:55px;
    padding:8px 9px 8px 0px;
}
.quota button p{
    text-align: right;
}
.quota .number{
    font-size: 30px;
    line-height: 30px;
}
.quota .quota-title{
    line-height: 20px;
}

.quota .quota-bottom{
    height:18px;
    line-height:normal;
}
.quota .quota-bottom span{
    font-size: 12px;
    color:#ddd;
    padding: 3px;
}


.norm {
    text-align: center;
}

.icon-size {
    width: 50px;
    height: 50px;
    border-radius: 24px;
}

.norm button {
    width: 412px;
    height: 130px;
    margin: 0px auto;
    padding-right: 30px;
    border: 1px solid #d2d2d2;
}

.norm button i {
    line-height: 50px;
    font-size: 40px;
    position: relative;
    float: left;
    left: 20px;
}

.norm button p {
    text-align: right;
}

.norm .number {
    font-size: 35px;
    line-height: 35px;
    text-align: left;
    padding-left: 90px;
    font-weight: 700;
    color: #000;
}

.norm .norm-title {
    position: relative;
    right: 46px;
    top: -60px;
    font-weight: 700;
    width: 50px;
    font-size: 18px;
    line-height: 20px;
    color: #0e90d2;
}


.bg-blue{ background: #0089F9; }
.bg-blue .quota-bottom{ background: #0075D5; }
.bg-green{ background: #00C986; }
.bg-green .quota-bottom{ background: #00B976; }
.bg-orange{ background: #FF841F; }
.bg-orange .quota-bottom{ background: #EF740F; }
.bg-purple{ background: #D856CF; }
.bg-purple .quota-bottom{ background: #C846BF; }
</style>