<!DOCTYPE html>
<html>
<head>
	<title>患者皮试记录</title> 
	#parse("./common/pageCss.vm")
	#parse("./common/pageJs.vm")
</head>  

<body class="white-bg table-width-full">
  <!-- 查询表单 -->
  <form id="commonDiagnosis_queryForm" class="layui-form"> 
    <div class="layui-form-item p-t-xs"> 
		<div class="layui-inline">
		    <label class="layui-form-label">患者姓名</label>
		    <div class="layui-input-inline ">
		        #formTextInput("patientName" "" "id='patientName' class='layui-input ' placeholder='患者姓名'")
		    </div>
		</div>
		<div class="layui-inline">
           <label class="layui-form-label">皮试结果</label>
           <div class="layui-input-inline">
            #formSingleSelectSearchFirstNone("doctorOfficeId" "" ${dicData.dicConsultationStateFlag} " lay-search" "直接选择或搜索选择")
           </div>
        </div>
		<div class="layui-inline">
	         <button id="btn_query" class="layui-btn layui-btn-sm" type="button"><i class="layui-icon layui-icon-search"></i></button>
		</div>
    </div>
  </form>
 
  <div class="data-table" style="max-width: 1500px;">
	  <!-- 数据表格 -->
	  <table id="commonDiagnosisTable" lay-filter="commonDiagnosisTable"></table>
  </div>

  #parse("./outpatient/skinTest/skinTestList.js.vm")
</body>
</html>