<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${SessionSysPortal.appTitle}病历预览打印页面</title>
    #parse("./common/pageCss.vm")
    #parse("./common/visualizationCss.vm")
    <style type="text/css">
        .layui-table td, .layui-table th {
            padding: 9px 5px
        }
    </style>
</head>
<body>
<div class="pane ui-layout-center layui-content-wrapper" style="height: calc(100% - 40px);">
    <!-- 电子病历 -->
    <div class="layui-row white-bg full-scroll m-n layui-shade" >
        #formHiddenInput("emrTlpId" "$!{emrTlp.emrTlpId}" "id='emrTlpId'")
        #formHiddenInput("registerId" "$!info.registerId" "id='registerId'")
        #formHiddenInput("patientId" "$!info.patientId" "id='patientId'")
        #formHiddenInput("inhospitalId" "$!info.inhospitalId" "id='inhospitalId'")
        #formHiddenInput("patientHospitalEmrId" "$!info.patientHospitalEmrId" "id='patientHospitalEmrId'")
        #formHiddenInput("mouseroOnClick" "" "id='mouseroOnClick'")
        #formHiddenInput("orderId" "$!inpatientOrder.orderId" "id='orderId'")
        #formHiddenInput("signFlag" "$!patientHospitalEmr.signFlag" "id='signFlag'")
        #formHiddenInput("userId" "$!user.userId" "id='userId'")
        #formHiddenInput("manageNurseFlag" "$!manageNurseFlag" "id='manageNurseFlag'")
        #formHiddenInput("doctorSign" "$!doctorSign" "id='doctorSign'")
        #formHiddenInput("currentDoctorSign" "$!patientHospitalEmr.doctorSign" "id='currentDoctorSign'")
        <div class="full-height p-r-n p-l-n" id="designContent"
             style="width:100%; margin:0 auto; display: none;">$!emrTlp.emrTlpContent</div>
    </div>
</div>
<div class="tool-bottom-fixed ">
    <button class="layui-btn layui-btn-sm" onclick="preview()">打印预览</button>
</div>
</body>
    #parse("./common/pageJs.vm")
    #parse("./common/visualizationJs.vm")
<link rel="stylesheet" href="$!contextPath/resource/hplus/js/plugins/layout/layout-default-latest.css">
<script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery-ui.js"></script>
<script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery.layout.js"></script>
<script>
    var DOSE_WAY_CODE_INJECTION = "$!{CONST.AppConstants.DOSE_WAY_CODE_INJECTION}";
    var dicDrugNumUnitDosageUnit = JSON.parse('$dicTools.changeMapToJson($dicData.dicDrugNumUnitDosageUnit)'); //药品数量单位
    var dicDoseWay = JSON.parse('$dicTools.changeMapToJson($dicData.dicDoseWay)'); //给药途径
    layui.use(['layer'], function () {
        var layer = layui.layer;

        layer.load({
            offset: ['50%', '50%']
        });

        window.preview = function() {
            common.open('$!contextPath/resource/editor/mini-editor/dialogs/preview/preview.html', '打印预览', {
                area: ['100%', '100%']
            })
        }

        var patientId  = $("#patientId").val();
        var registerId  = $("#registerId").val();

        var minieditorDesign = new window.minieditorDesign('designContent', {
            initData: #if("$!emrData" != "") $!emrData #else '' #end,
            modelType: '$!{modelType}',
            printType: '$!{emrTlp.printType}',
            fontSize: '$!{emrTlp.fontSize}',
            emrTlpClassifyId: '$!{emrTlp.emrTlpClassifyId}',
            outhtmlWidth: '$!{emrTlp.emrTlpWidth}' + 'px',
            hospitalName:'$!{info.hospitalName}',
            rootUrl: '$!contextPath',
            doctorSign: '$!{patientHospitalEmr.doctorSign}',
            manageNurseFlag: $('#manageNurseFlag').val(),
            dicEmrClassNameKeyField: JSON.parse('$dicTools.changeMapToJson($dicData.dicEmrClassNameKeyField)'),
            baseFormParams: {
            PatientHospitalEmr: {
                patientHospitalEmrId: $('#patientHospitalEmrId').val(),
                    patientId: $('#patientId').val(),
                    registerId: $('#registerId').val(),
                    inhospitalId: $('#inhospitalId').val(),
                    emrTlpId: $('#emrTlpId').val()
            }
        }
    });
        function showEmrRecipeItem(recipeResult){
            var elem =  minieditorDesign.miniEditor.getControlById('OutpatientRecipeItem_injection');
            if (elem.length == 0) return false;
            var emrRecipeItem = '';
            var recipeItem = recipeResult.data
            if(recipeResult.count == 0){
                elem[0].setValue('');
                return false;
            } else if(recipeItem) {
                // 0.9% 氯化钠注射液 [50ml*1瓶] 50ml
                var outpatientRecipeItemsTr = $.map(recipeItem, function (outpatientRecipeItem) {
                    return '<tr><td style="border-color: #fff;" align="left">' + outpatientRecipeItem.orderName + '</td><td style="border-color: #fff;">[' + outpatientRecipeItem.medicineSpec + ']</td><td style="border-color: #fff;" align="right"><strong>'+  outpatientRecipeItem.dosage + (dicDrugNumUnitDosageUnit[outpatientRecipeItem.dosageUnit] || "")+ '</strong></td></tr>';
                }).join('');
                var tb = '<table><colgroup> <col width="40%"> <col width="150"> <col width="20%"> <col width="20%"> </colgroup><tbody>' + outpatientRecipeItemsTr + '</tbody></table>'
                elem[0].setValue(tb);
            }
            var medicineUsageElem =  minieditorDesign.miniEditor.getControlById('injection_medicineUsage');
            if (medicineUsageElem.length == 0) return false;
            medicineUsageElem[0].setValue('<strong>' + dicDoseWay[recipeItem[0].doseWayCode] + '</strong>');
        }

        getEmrRecipeItem = function(registerId, patientId){
            common.requestServer('$contextPath/outpatient/recipeItemPageData.jo', {registerId: registerId, patientId: patientId, doseWayCodeLeftLike : DOSE_WAY_CODE_INJECTION}, function (result) {
                showEmrRecipeItem(result);
            })
        }

        minieditorDesign.miniEditor.editor.ready(function () {
            if(minieditorDesign.baseFormParams.PatientHospitalEmr.emrTlpId == "$!{dicData.dicSysPro.get('EMR_TLP_ID_BOTTLE_LABELLING_PAPER')}") {
                //瓶签数据
                //设置门诊病历的数据
                getEmrRecipeItem(registerId, patientId);
            }
        })
    });
</script>
</html>
