
<button type="button" class="layui-btn    arrangeBed">分配床位</button>
<button type="button" class="layui-btn    changeOfficeBed">转科换床</button>
<button type="button" class="layui-btn    infantRegister">新生儿登记</button>
<button type="button" class="layui-btn    medicineSubmit">药品提交</button>
<button type="button" class="layui-btn    leaveMedicineSubmit">出院带药提交</button>
<button type="button" class="layui-btn    ">医嘱执行单</button>
