<button id="wizard" type="button" page-url="../inpatient/inpatientWizardList.do?" page-area="65%,90%" class="btn btn-outline btn-primary">入院向导</button>
<button id="order" type="button" page-url="../inpatient/inpatientOrder.do?" page-area="99%,98%" has-param="true" class="btn btn-outline btn-primary">医嘱录入</button>
<button id="emr" type="button" page-area="99%,98%" has-param="true" class="btn btn-outline btn-primary">病历书写</button>
<button id="diagnos" type="button" page-url="../inpatient/diagnosisEnter.do?saveBtn=1&defDiagnosis=6&" page-area="99%,98%" has-param="true" class="btn btn-outline btn-primary">诊断录入</button>
<button id="doc" type="button" page-url="../inpatient/BA_BRSYShow.do?" page-area="99%,98%" has-param="true" class="btn btn-outline btn-primary">病案首页</button>
<button id="lis" type="button" page-url="../inpatient/CheckShow.do?" page-area="99%,98%" has-param="true" class="btn btn-outline btn-primary">检验报告</button>
<button id="tech" type="button" page-area="99%,98%" has-param="true" class="btn btn-outline btn-primary">医技报告</button>
<button id="temp" type="button" page-area="99%,98%" has-param="true" class="btn btn-outline btn-primary">体温单</button>
<button id="nurse" type="button" page-url="../inpatient/nursingRecordEdit.do?" page-area="99%,98%" has-param="true" class="btn btn-outline btn-primary">护理记录</button>
<button id="infomation" type="button" page-area="99%,98%" has-param="true" class="btn btn-outline btn-primary">患者信息</button>
<button id="account" type="button" page-area="99%,98%" has-param="true" class="btn btn-outline btn-primary">患者账户</button>