<!-- 侧边菜单 -->
<div class="layui-side layui-side-menu" style="top: 52px">
    <div class="layui-side-scroll" style="width: 100%;">
        <ul id="leftMenu" class="layui-nav layui-nav-tree" lay-shrink="all" style="width: 100%; margin:0">
            <li data-name="home" class="layui-nav-item">
                <a href="javascript:;" lay-id="1" lay-tips="入院向导" lay-href="../inpatient/inpatientWizardList.do?" lay-direction="2">
                    <i class="layui-icon layui-icon-home"></i>
                    <cite>入院向导</cite>
                </a>
            </li>
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;" lay-id="2" lay-tips="医嘱处理" lay-direction="2">
                    <i class="layui-icon layui-icon-home"></i>
                    <cite>医嘱处理</cite>
                </a>
                <dl class="layui-nav-child">
                    <dd data-name="console" class="layui-this">
                        <a lay-id="3" lay-href="../inpatient/inpatientOrder.do?" lay-tips="医嘱录入">医嘱录入</a>
                    </dd>
                    <dd data-name="console">
                        <a lay-id="4" lay-href="#">检查申请单</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<!-- 
<ul class="nav"id="tools_btn">
	<li class="dropdown">
	   <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">入院申请查询</span> 
	   </a>				   
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">基本信息Ⅰ</span>
	   </a>
	</li>
	<li>
	    <a href="javascript:void(0);" data-index="0"> 
	       <span class="nav-label">欠费锁定医嘱/解锁</span>
	    </a>
	</li>
	<li>
	    <a href="javascript:void(0);" data-index="0"> 
	       <span class="nav-label">医嘱处理（A）</span>
	    </a>
	</li>
	<li>
	    <a href="javascript:void(0);" data-index="0"> 
	       <span class="nav-label">婴儿医嘱（B）</span>
	    </a>
	</li>
	<li>
	     <a href="javascript:void(0);" data-index="0"> 
	        <span class="nav-label">新生婴儿（N）</span> 
	     </a>
	</li>
	<li>
	     <a href="javascript:void(0);" data-index="0"> 
	        <span class="nav-label">医嘱查询</span> 
	     </a>
	</li>
	<li>
	     <a href="javascript:void(0);" data-index="0"> 
	        <span class="nav-label">医嘱复制</span> 
	    </a>
	</li>
	<li>
	    <a href="javascript:void(0);" data-index="0"> 
	    <span class="nav-label">病历书写（R）</span> 
	    </a>
	</li>
	<li>
	    <a href="javascript:void(0);" data-index="0"> 
	       <span class="nav-label">病历列表</span>
	    </a>
	</li>
	<li>
	    <a href="javascript:void(0);" data-index="0"> 
	       <span class="nav-label">婴儿医嘱（B）</span>
	    </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">病历书写（多窗口）</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">修改病历类型</span> 
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">病历书写_新</span> 
	   </a>
	</li>
	<li> 
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">病历完整浏览</span>
	   </a>
	</li>
	<li>
	    <a href="javascript:void(0);" data-index="0"> 
	       <span class="nav-label">病案首页（Z）</span>
	    </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	   <span class="nav-label">诊断处理（D）</span> 
	   </a>
	</li>
	<li>
	    <a href="javascript:void(0);" data-index="0"> 
	       <span class="nav-label">同级互认</span> 
	    </a>
	</li>
	<li class="dropdown">
	   <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" data-index="0"> 
	   <span class="nav-label">临床路径</span> 
	   <span class="fa arrow fa-angle-right"></span>
      <ul class="dropdown-menu">
         <li><a href="#">今日工作</a></li>
         <li><a href="#">路径导入</a></li>
         <li><a href="#">转换路径</a></li>
         <li><a href="#">调整路径</a></li>
         <li><a href="#">暂停路径</a></li>
         <li><a href="#">突发变异</a></li>
         <li><a href="#">出径处理</a></li>
         <li><a href="#">删除路径</a></li>
         <li><a href="#">今日停嘱</a></li>
         <li><a href="#">执行监控</a></li>
      </ul>
	</a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">患者出院</span>
	   </a>
	</li>
	<li class="dropdown">
	 <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" data-index="0"> 
	   <span class="nav-label">各种疾病报卡</span> 
	   <span class="fa arrow fa-angle-right"></span>
	  <ul class="dropdown-menu">
         <li><a href="#">传染病报卡</a></li>
         <li><a href="#">慢病报卡</a></li>
         <li><a href="#">肿瘤病报卡</a></li>
         <li><a href="#">死亡证明（推断）书</a></li>
         <li><a href="#">食源性疾病</a></li>
         <li><a href="#">医院感染病例报告表</a></li>
       </ul>
	 </a>
	</li>
	<li class="dropdown">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" data-index="0"> 
	  <span class="nav-label">各种检验检查特殊查询</span> 
	  <span class="fa arrow fa-angle-right"></span>
	  <ul class="dropdown-menu">
         <li><a href="#">检查报告</a></li>
         <li><a href="#">医技查询</a></li>
         <li><a href="#">危急值查询</a></li>
         <li><a href="#">市一琅东B超报告</a></li>
         <li><a href="#">听力与聋病基因筛结果查询</a></li>
         <li><a href="#">门诊历史检验医技报告</a></li>
      </ul>
	 </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	     <span class="nav-label">体温单（T）</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">护理记录（N）</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">护理记录Ⅱ</span> 
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">评估表</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">账户查询（M）</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">用血申请</span> 
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">会诊申请（Y）</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">转科申请（W）</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">会诊结果（V）</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">转科结果（Z）</span>	
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">手术申请（O）</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> n
	      <span class="nav-label">手术风险评估_2</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0">
	      <spanclass="nav-label">ICU患者各危险等级登记表</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">病危通知单</span> 
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">病历分型（E）</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">病历质量查询</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">病历质量评估2</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">康复医学病程治疗记录</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">透析患者治疗质量评估表1</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	   <span class="nav-label">神经内科量表</span>
	   </a>
	</li>
	<li class="dropdown">
	 <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" data-index="0"> 
	   <span class="nav-label">神经外科观察记录表</span> 
	   <span class="fa arrow fa-angle-right"></span>
	  <ul class="dropdown-menu">
         <li><a href="#">生命征-神经功能征</a></li>
         <li><a href="#">肝肾凝血功能呢</a></li>
         <li><a href="#">脑功能</a></li>
         <li><a href="#">使用呼吸机</a></li>
      </ul>
	 </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">APACHE Ⅱ 评分表</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">急诊遗嘱</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">急诊病历</span>
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">社区转诊</span> 
	   </a>
	</li>
	<li>
	   <a href="javascript:void(0);" data-index="0"> 
	      <span class="nav-label">刷新（R）</span>
	   </a>
	</li>
</ul>
-->