<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>国家电子病历标准数据集列表</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
#parse("./common/pageCss.vm") #parse("./common/pageJs.vm")
</head>
<body>
    <div class="layui-fluid">
                <!-- 列表表格 工具栏-->
              <!--搜索条件 开始-->
                <form class="layui-form">
                    <div class="layui-row-query layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-input-inline">#formTextInput("dataElementName" "" " maxlength='50' id='q_dataElementName' autocomplete='off' placeholder='请输入数据元名称' class='layui-input'")</div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">#formTextInput("dataElementId" "" " maxlength='20' id='q_dataElementId' autocomplete='off' placeholder='请输入数据元标识符' class='layui-input'")</div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">#formTextInput("dataElementDesc" "" " maxlength='100' id='q_dataElementDesc' autocomplete='off' placeholder='请输入定义' class='layui-input'")</div>
                        </div>
                        <div class="layui-inline m-r-n">
                            <div class="layui-btn-group">
                                <button class="layui-btn  layui-btn-sm " lay-tips="查询" lay-submit lay-filter="btn_query" id="btn_query">
                                    <i class="layui-icon layui-icon-search "></i>
                                </button>
                                <button class="layui-btn layui-btn-sm " type="reset" lay-tips="刷新" id="btn_reset" style="margin-left: auto;">
                                    <i class="layui-icon layui-icon-refresh"></i>
                                </button>
                            </div>
                            <button class="layui-btn  layui-btn-sm layui-btn-normal " type="button" lay-tips="新增" id="btn_add">
                                <i class="layui-icon layui-icon-edit"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!--列表 begin-->
                <table id="emrDataElement" lay-filter="emrDataElement"></table>
                <script type="text/html" id="colstoolbar">
                         <a class="layui-btn layui-btn-xs " lay-tips="编辑" lay-event="edit"><i class="layui-icon"></i></a>
<a class="layui-btn layui-btn-danger layui-btn-xs " lay-tips="删除" lay-event="del"><i class="layui-icon layui-icon-delete"></i></a>
                    </script>

    </div>
    <!-- 本页面js -->
    #parse("./emr/emrDataElement/emrDataElementList.js.vm")
</body>
</html>
