/*后台css*/
body
{
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: Arial,宋体;
	font-size: 13px;
}
#adContainer
{
	position: relative;
	margin: 1px auto 0px auto;
	width: 900px;
	text-align: left;
}
#adBanner
{
	width: 100%;
	height: 100px;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
}
#adLeft
{
	float: left;
	width: 20%;
	height: auto;
	margin: 0px;
	padding: 0px;
	background: #F1F6FE url(../images/side_bg.gif) repeat-x bottom left;
}
#adLeft #adNavigator
{
	width: 100%;
	height: auto;
}
#adMain
{
	width: 79%;
	height: auto;
	margin: 0px;
	padding: 0px;
	float: left;
	background: #F1F6FE url(../images/side_bg.gif) repeat-x bottom left;
}
#adMain #adToolBar
{
	width: 100%;
	height: 17px;
	background-repeat: repeat-x;
	padding-top: 2px;
}
#adMain #adToolBar ul
{
	list-style-type: none;
	display: inline;
	padding: 0px;
	margin: 0px;
}
#adMain #adToolBar li
{
	float: left;
	text-align: center;
	width: 80px;
}
#adMain #adToolBar li a:link, #adMain #adToolBar li a:visited
{
	color: #000000;
	text-decoration: none;
}
#adMain #adToolBar li a:hover
{
	color: #FF0000;
	text-decoration: underline;
}
#adMain #adContent
{
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 5px;
}
#adFooter
{
	clear: both;
	margin-top: 20px;
	padding: 4px 0px;
	text-align: center;
	width: 100%;
	font-size: 13px;
	background-color: #d9e9ff;
}
#adFooter A:link
{
	color: #000000;
	text-decoration: none;
}
#adFooter A:visited
{
	color: #000000;
	text-decoration: none;
}
#adFooter A:hover
{
	color: #FF0000;
	text-decoration: underline;
}


/*前台*/

.mybody
{
	text-align: center;
	background-color: #E0E0E0;
}
#container
{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	text-align: left;
	background: #FFFFFF;
	border: 8px solid #FFFFFF;
}
#banner
{
	width: 100%;
	height: 121px;
	margin: 0px;
	padding: 0px;
	background-repeat: repeat-x;
}
#menu
{
	width: 100%;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
	margin-bottom: 1px;
}
#menu ul
{
	list-style-type: none;
	display: inline;
	padding: 0px;
	margin: 0px;
	color: #4a89be;
}
#menu li
{
	float: left;
	text-align: center;
}
#menu li a
{
	width: 100px;
}
#menu li a:link, #menu li a:visited
{
	color: #4a89be;
	text-decoration: none;
}
#menu li a:hover
{
	text-decoration: underline;
}

#menu .relogin
{
	display: block;
	background: url(../images/refresh.png) no-repeat 5px 2px;
}
#menu .editpwd
{
	display:block;
	background: url(../images/editpwd.png) no-repeat 5px 2px;
}
#menu .userManage
{
	display:block;
	background: url(../images/users.png) no-repeat 5px 2px;
}
#menu .logout
{
	display: block;
	background: url(../images/logout.png) no-repeat 5px 2px;
}
#menu .helpcenter
{
	display: block;
	background: url(../images/help.png) no-repeat 5px 2px;
}
#menu .time
{
	display: block;
	background: url(../images/clock.png) no-repeat 20px 2px;
}
#menu .chart
{
	display: block;
	background: url(../images/chart.png) no-repeat 5px 2px;
}

#content
{
	width: 100%;
	height: auto;
	text-align: center;
	margin-bottom: 10px;border:1px solid #fff;
}
#footer
{
	color: #FFFFFF;
	margin: 0px;
	height: 17px;
	padding: 6px 0px;
	text-align: center;
	background-color: #4a89be;
	width: 100%;
	font-size: 13px;
}
#footer A:link
{
	color: #FFFFFF;
	text-decoration: none;
}
#footer A:visited
{
	color: #FFFFFF;
	text-decoration: none;
}

/* 心电图菜单栏 */

.ecgMenu
{
	width: 100%;
	background: url(../images/menubg.gif) repeat-x;
	padding-top: 5px;
	height: 22px;
	margin-top: 5px;
}
.ecgMenu ul
{
	list-style-type: none;
	display: inline;
	padding: 0px;
	margin: 0px;
	text-align: center;
	width: 100%;
	height: 20px;
	line-height: 20px;
}
.ecgMenu ul li
{
	float: left;
	font-size: 10px;
	margin-left: 10px;
	position: relative;
	z-index: 100;
}

.ecgMenu ul li a
{
	display: block;
	text-decoration: none;
	color: #000000;
}

.menu1
{
	background: url(../images/tools.gif) no-repeat 0 0;
	width: 100px;
}
.menu2
{
	background: url(../images/tools.gif) no-repeat 0 -19px;
	width: 100px;
}
.menu3
{
	background: url(../images/tools.gif) no-repeat 0 -38px;
	width: 100px;
}
.menu4
{
	background: url(../images/tools.gif) no-repeat 0 -57px;
	width: 100px;
}
.menu5-1
{
	background: url(../images/tools.gif) no-repeat 0 -76px;
	width: 100px;
}
.menu5-2
{
	background: url(../images/tools.gif) no-repeat 0 -95px;
	width: 100px;
}
.menu7-1
{
	background: url(../images/tools.gif) no-repeat 0 -114px;
	width: 100px;
}
.menu7-2
{
	background: url(../images/tools.gif) no-repeat 0 -133px;
	width: 100px;
}
.menu6
{
	background: url(../images/tools.gif) no-repeat 0 -152px;
	width: 100px;
}
.menuprint
{
	width: 100px;
	background: url(../images/bgbar04.png) repeat-x;
	border-left: 1px solid #ffa930;
	border-right: 1px solid #ffa930;
}
.menuprintOn
{
	width: 100px;
	background: url(../images/bgbar05.png) repeat-x;
	border-left: 1px solid #ffa930;
	border-right: 1px solid #ffa930;
	padding-left: 1px;
}

.hidden
{
	display: none;
}

.nav_sub
{
	border: 1px #fdad34 solid;
	width: 97px;
	overflow: hidden;
	background-color: #fffcf5;
	margin-top: -1px;
	margin-left: 0px;
	position: absolute;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=95);
	-moz-opacity: .95;
	opacity: 0.95;
}

.nav_sub a
{
	display: block;
	overflow: hidden;
	text-decoration: none;
	color: #000000;
	padding: 2px 0;
	border-bottom: 1px solid #ffc88e;
	font-size: 12px;
}
.nav_sub a:hover, .nav_sub a:active
{
	background: #fef0e2;
	text-decoration: none;
	color: #000000;
}

.nav_sub a.play
{
	background: url(../images/tools.gif) no-repeat 10px -239px;
}
.nav_sub a.play:hover, nav_sub a.play:active
{
	background: #fef0e2 url(../images/tools.gif) no-repeat 12px -239px;
}
.nav_sub a.stop
{
	background: url(../images/tools.gif) no-repeat 10px -257px;
}
.nav_sub a.stop:hover, nav_sub a.img:active
{
	background: #fef0e2 url(../images/tools.gif) no-repeat 12px -257px;
}

.nav_sub a.tbl1
{
	background: url(../images/tools.gif) no-repeat 10px -172px;
}
.nav_sub a.tbl1:hover, .nav_sub a.tbl1:active
{
	background: #fef0e2 url(../images/tools.gif) no-repeat 12px -172px;
}
.nav_sub a.tbl2
{
	background: url(../images/tools.gif) no-repeat 10px -194px;
}
.nav_sub a.tbl2:hover, .nav_sub a.tbl2:active
{
	background: #fef0e2 url(../images/tools.gif) no-repeat 12px -194px;
}
.nav_sub a.tbl3
{
	background: url(../images/tools.gif) no-repeat 10px -218px;
}
.nav_sub a.tbl3:hover, .nav_sub a.tbl3:active
{
	background: #fef0e2 url(../images/tools.gif) no-repeat 12px -218px;
}

.state
{
	padding-top: 2px;
	background: url(../images/sina.gif) repeat-x 0 -750px;
	width: 100%;
	height: 20px;
	line-height: 20px;
}
.state ul
{
	list-style-type: none;
	display: inline;
	padding: 0px;
	margin: 0px;
	color: #000000;
	text-align: left;
	width: 100%;
}
.state ul li
{
	float: left;
	line-height: 20px;
	margin-left: 20px;
	font-size: 12px;
}

.tip
{
	position: absolute;
	z-index: 51;
	width: 136px;
	height: 58px;
	background: url(    '../images/tipbg.gif' ) no-repeat;
	padding: 5px;
	text-align: left;
	visibility: hidden;
}
.rect
{
	position: absolute;
	z-index: 50;
	border: 1px solid #FF0000;
	background-color: #fffcf5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	-moz-opacity: .8;
	opacity: 0.8;
	visibility: hidden;
}


a.down
{
	text-decoration: none;
	color: #41ace7;
	background: url(../images/download.gif) no-repeat 0 4px;
	padding-left: 20px;
	text-align: left;
	display: block;
	margin-top: 15px;
	height: 20px;
	line-height: 20px;
}
a.down:hover
{
	text-decoration: underline;
}

/*缩略图*/
.image1
{
	cursor: pointer;
}

.image4
{
	width: 444px;
	float: left;
	border: 8px solid transparent !important;
	cursor: pointer;
}
.image4:hover
{
	border: solid 8px #4bacff !important;
}

.image9
{
	width: 290px;
	float: left;
	border: 8px solid transparent !important;
	cursor: pointer;
}
.image9:hover
{
	border: solid 8px #4bacff !important;
}

.image12
{
	width: 214px;
	float: left;
	border: 8px solid transparent !important;
	cursor: pointer;
}
.image12:hover
{
	border: solid 8px #4bacff !important;
}

.div
{
	border: 1px solid #BDE2F8;
	padding: 0px;
}
.div h2
{
	background-repeat: repeat-x;
	margin-top: 0px;
	margin-bottom: 5px;
}
.button
{
	font-family: "Tahoma" , "宋体";
	font-size: 9pt;
	color: #003399;
	color: #006699;
	border: 1px solid #93bee2;
	background-color: #e8f4ff;
	cursor: pointer;
	font-style: normal;
	height: 23px !important;
	width: 50px;
}
.table
{
	border: 1px solid #BDE2F8;
	padding: 0px;
}
.table td
{
	border: 1px solid #BDE2F8;
	padding: 4px 10px;
	text-align:left;
}

.datalist
{
	border: 1px solid #d0dde4;
	font-family: Arial;
	border-collapse: collapse;
	background-color: #EFF3FB;
	font-size: 14px;
}
.datalist th
{
	border: 1px solid #FFFFFF;
	background-color: #65C0FA;
	color: #FFFFFF;
	font-weight: bold;
	padding: 4px 7px;
	text-align: center;
}
.datalist td
{
	border-bottom: 1px solid #65C0FA;
	text-align: center;
	padding: 4px 6px;
}
.datalist tr.altrow
{
	background-color: #FFFFFF;
}

.datalist a
{
	color: #0000FF;
}
.datalist a:visited
{
	color: #0000FF;
}

/* 查询列表 */
table.query
{
    table-layout:fixed;
}

table.query .query-title
{
    width: 60px;
    float:left;
    text-align:right;
    margin-right: 10px;
}

table.query input
{
    width: 170px;
    height: 21px;
    line-height:21px;
    padding: 0px;
    margin: 0px;
    border: #999 1px solid;
}

table.query select
{
    width: 172px;
    height: 25px;
    line-height:25px;
    padding: 0px;
    margin: 0px;
    border: #999 1px solid;
}

/* 列表 */

.tablelist
{
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	table-layout:fixed;
}
.tablelist th
{
	background: url(../images/bgbar03.png) repeat-x;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
.tablelist th a, .tablelist th a:visited
{
	color: #fff;
	text-decoration: none;
}
.tablelist th a:hover
{
	text-decoration: underline;
}
.tablelist th, .tablelist td
{
	padding: 6px 3px;
	border: 1px solid #d0dde4;
}
.tablelist th
{
	padding: 7px 4px;
}
.tablelist td
{
	color: #595959;
}

.box71, .hobox71:hover
{
	background-color: #edf5fb;
}
.box72, .hobox72:hover
{
	background-color: #def0f9;
}
.featurebox_center
{
	background-color: #fffff6;
	margin: 5px 8px;
	padding: 0px;
	width: 930px;
	height: auto;
	border: 1px solid #DFE8F7;
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	line-height: 18px;
	color: #333333;
}
.divECG
{
	margin: 0px;
	padding: 0px;
	width: 1035px;
	height: auto;
	border: 1px solid #FDD164;
	text-align: left;
	overflow: hidden;
	background: #FFFFFF url(../images/ecgbg1.gif);
	position: relative;
}
#rRightDown
{
	position: absolute;
	width: 7px;
	height: 7px;
	z-index: 5;
	font-size: 0;
	cursor: nw-resize;
	right: -4px;
	bottom: -4px;
	background-color: #00F;
}

.clearfix
{
	zoom: 1;
}
.clearfix:after
{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	font: 0/0 sans-serif;
	visibility: hidden;
}

.pagesdiv
{
	padding: 8px;
	border-top: 0px;
	text-align: center;
}

.pages
{
	font-size: 14px;
	width: 100%;
	color: #4b4e51;
	text-align: left;
}
.pages img
{
	padding: 5px 3px;
	float: left;
}
.pages a, .pages .cpb
{
	text-decoration: none;
	float: left;
	padding: 0 5px;
	margin: 0 2px;
	color: #4b4e51;
}

.pages a:hover
{
	text-decoration: underline;
}
.pages .cpb
{
	color: red;
}

.uipages
{
	height: 19px;
	width: 150px;
	border-left: 1px solid #ffa930;
	border-right: 1px solid #ffa930;
	background: url(../images/bgbar04.png) repeat-x;
	padding-left: 5px;
}

table.diagnose
{
	text-align: left;
	font-size: 13px;
	width: 600px;
	height: auto;
	padding-left: 3px;
	border: 5px solid #EAEAEA;
	background-color: #FFFFFF;
}


table.diagnose .tr
{
	background-image: url(../images/diagnosebg.gif);
	line-height: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

table.diagnose span
{
	height: 20px;
	color: Red;
	font-weight: normal;
}

.text
{
	width: 100%;
	height: 100%;
	overflow: auto;
	background-image: url(../images/diagnosebg.gif);
	height: 194px;
	width: 383px;
	line-height: 20px;
	border: 0;
}
.closebutton
{
	font-family: "Tahoma" , "宋体";
	font-size: 12px;
	background-color: #EAEAEA;
	cursor: hand;
	text-align: center;
	width: 60px;
}

.modalBackground
{
	background-color: #000000;
	filter: alpha(opacity=30);
	opacity: 0.3;
}


.divouter
{
	border: 1px solid #d3d4d8;
	border-top: 0px;
	background: #fff url(../images/bgbar01.png) repeat-x;
}

.divinner
{
	padding: 5px 0;
	background: url(../images/bgbar02.png) repeat-x left bottom;
}

.table_display_recode
{
	font-size: 13px;
	width: 100%;
}
.table_display_recode td
{
	padding: 3px;
}
.table_display_recode .tdtitle
{
	text-align: right;
	width: 70px;
	padding-right:5px;
	line-height:20px;
}
.table_display_recode .tdcontent
{
	text-align: left;
	border-bottom: 1px solid #d5e0e7;
}

.title
{
	padding: 4px;
	background: url(../images/bgbar03.png) repeat-x;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border: 1px solid #b1c8da;
	width: 100%;
}

.statlink a
{
	font-family: "Tahoma" , "宋体";
	font-size: 9pt;
	color: #006699;
	border: 1px solid #93bee2;
	background-color: #e8f4ff;
	cursor: pointer;
	font-style: normal;
	height: 25px;padding:4px 8px;
	display:inline;
	text-decoration:none;
	margin-left:5px;
}



.tableGridView
{
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
}
.tableGridView th
{
	background: url() repeat-x;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
.tableGridView th a, .tableGridView th a:visited
{
	color: #fff;
	text-decoration: none;
}
.tableGridView th a:hover
{
	text-decoration: underline;
}
.tableGridView th, .tableGridView td
{
	padding: 6px 3px;
	border: 1px solid #d0dde4;
}
.tableGridView th
{
	padding: 7px 4px;
}
.tableGridView td
{
	color: #595959;
}


#statistic a:link
{
	color: #000000;
	text-decoration: none;
}
#statistic a:visited
{
	color: #000000;
	text-decoration: none;
}
#statistic a:hover
{
	color: #FF0000;
	text-decoration: underline;
}

.printcontainer
{
    display:none;
}