<!DOCTYPE html>
<html>
<head>
    <title>数据中心-运营数据中心-科主任视图</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link href="../../../resource/layuiadmin/layui/css/layui.css"  rel="stylesheet" media="all">
    <link href="../../../resource/layuiadmin/style/admin.css?v=124" rel="stylesheet" media="all">
    <link href="../../../resource/layuiadmin/style/media.css?v=124" rel="stylesheet" media="all">
    <link href="../../../resource/layuiadmin/style/template.css" rel="stylesheet" media="all">
    <link href="../../../resource/layuiadmin/style/style.css" rel="stylesheet" media="all">
    <link href="./datacenter.css" rel="stylesheet" media="all">

    <script src="../echarts.min.js"></script>
    <script nomodule src="../../../resource/polyfill/polyfill.js"></script>
    <script src="../../../resource/hplus/js/jquery.min.js"></script>
    <script src="../../../resource/hplus/js/plugins/layer/laydate/laydate.js"></script>
    <script src="../../../resource/hplus/js/validate/form-validator.js"></script>
    <script src="../../../resource/hplus/js/contabs.js?v=12"></script>
    <script src="../../../resource/hplus/js/app-common.js?v=11"></script>
    <script src="../../../resource/hplus/js/common-ui.js?v=1"></script>

    <script src="../../../resource/layuiadmin/layui/layui.js" ></script>
<!--    <script src="../datacenter.js"></script>-->
</head>
<body>
<div class="layui-fluid"  style="height:calc(100% - 40px);">
    <!-- 指标 -->
    <div class="layui-col-xs6">
        <!-- row1 -->
        <div class="layui-row m-sm">
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-blue">
                    <i class="iconfont icon-huanzhe2"></i>
                    <div class="quota-content">
                        <p class="number">3844</p>
                        <p class="quota-title">本月门急诊就诊人次</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：-5.15%</span>
                        <span>环比：6.31%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-green">
                    <i class="iconfont icon-huanzhe2"></i>
                    <div class="quota-content">
                        <p class="number">4012</p>
                        <p class="quota-title">上月门急诊就诊人次</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：10.27%</span>
                        <span>环比：15.62%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-orange">
                    <i class="iconfont icon-huanzhe2"></i>
                    <div class="quota-content">
                        <p class="number">53698</p>
                        <p class="quota-title">本年累计门急诊就诊人次</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：10.15%</span>
                    </div>
                </button>
            </div>
        </div>
        <!-- row2 -->
        <div class="layui-row m-sm">
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-blue">
                    <i class="iconfont icon-huanzhe1"></i>
                    <div class="quota-content">
                        <p class="number">433</p>
                        <p class="quota-title">本月出院人次</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：20.52%</span>
                        <span>环比：25.31%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-green">
                    <i class="iconfont icon-huanzhe1"></i>
                    <div class="quota-content">
                        <p class="number">523</p>
                        <p class="quota-title">上月出院人次</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：1.11%</span>
                        <span>环比：5.31%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-orange">
                    <i class="iconfont icon-huanzhe1"></i>
                    <div class="quota-content">
                        <p class="number">4577</p>
                        <p class="quota-title">本年累计出院人次</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：12.85%</span>
                    </div>
                </button>
            </div>
        </div>
        <!-- row3 -->
        <div class="layui-row m-sm">
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-blue">
                    <i class="iconfont icon-zhuyuanxinxi"></i>
                    <div class="quota-content">
                        <p class="number">8.54</p>
                        <p class="quota-title">本月平均住院日</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：12.91%</span>
                        <span>环比：5.23%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-green">
                    <i class="iconfont icon-zhuyuanxinxi"></i>
                    <div class="quota-content">
                        <p class="number">8.96</p>
                        <p class="quota-title">上月平均住院日</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：8.39%</span>
                        <span>环比：6.48%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-orange">
                    <i class="iconfont icon-zhuyuanxinxi"></i>
                    <div class="quota-content">
                        <p class="number">8.77</p>
                        <p class="quota-title">本年平均住院日</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：11.22%</span>
                    </div>
                </button>
            </div>
        </div>
        <!-- row4 -->
        <div class="layui-row m-sm">
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-blue">
                    <i class="iconfont icon-jiaofei"></i>
                    <div class="quota-content">
                        <p class="number">651422.30</p>
                        <p class="quota-title">本月门诊总收入</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：-12.15%</span>
                        <span>环比：-5.31%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-green">
                    <i class="iconfont icon-jiaofei"></i>
                    <div class="quota-content">
                        <p class="number">758211.11</p>
                        <p class="quota-title">上月门诊总收入</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：10.25%</span>
                        <span>环比：15.52%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-orange">
                    <i class="iconfont icon-jiaofei"></i>
                    <div class="quota-content">
                        <p class="number">9852442.54</p>
                        <p class="quota-title">本年累计门诊总收入</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：9.43%</span>
                    </div>
                </button>
            </div>
        </div>
        <!-- row5 -->
        <div class="layui-row m-sm">
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-blue">
                    <i class="iconfont icon-jiaofei"></i>
                    <div class="quota-content">
                        <p class="number">5551158.15</p>
                        <p class="quota-title">本月住院总收入</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：11.15%</span>
                        <span>环比：8.21%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-green">
                    <i class="iconfont icon-jiaofei"></i>
                    <div class="quota-content">
                        <p class="number">4155648.74</p>
                        <p class="quota-title">上月住院总收入</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：-10.85%</span>
                        <span>环比：5.31%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-orange">
                    <i class="iconfont icon-jiaofei"></i>
                    <div class="quota-content">
                        <p class="number">58221448.19</p>
                        <p class="quota-title">本年累计住院总收入</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：6.14%</span>
                    </div>
                </button>
            </div>
        </div>
        <!-- row6 -->
        <div class="layui-row m-sm">
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-blue">
                    <i class="iconfont icon-24x24shoufeisvg"></i>
                    <div class="quota-content">
                        <p class="number">231.45</p>
                        <p class="quota-title">本月门诊均次费用</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：-5.23%</span>
                        <span>环比：-6.31%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-green">
                    <i class="iconfont icon-24x24shoufeisvg"></i>
                    <div class="quota-content">
                        <p class="number">241.56</p>
                        <p class="quota-title">上月门诊均次费用</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：10.74%</span>
                        <span>环比：5.31%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-orange">
                    <i class="iconfont icon-24x24shoufeisvg"></i>
                    <div class="quota-content">
                        <p class="number">233.46</p>
                        <p class="quota-title">本年门诊均次费用</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：9.75%</span>
                    </div>
                </button>
            </div>
        </div>
        <!-- row7 -->
        <div class="layui-row m-sm">
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-blue">
                    <i class="iconfont icon-24x24shoufeisvg"></i>
                    <div class="quota-content">
                        <p class="number">12820.32</p>
                        <p class="quota-title">本月住院均次费用</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：30.23%</span>
                        <span>环比：6.31%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-green">
                    <i class="iconfont icon-24x24shoufeisvg"></i>
                    <div class="quota-content">
                        <p class="number">7945.78</p>
                        <p class="quota-title">上月住院均次费用</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：-30.74%</span>
                        <span>环比：-28.31%</span>
                    </div>
                </button>
            </div>
            <div class="layui-col-xs4 quota">
                <button class="layui-btn bg-orange">
                    <i class="iconfont icon-24x24shoufeisvg"></i>
                    <div class="quota-content">
                        <p class="number">12720.43</p>
                        <p class="quota-title">本年住院均次费用</p>
                    </div>
                    <div class="quota-bottom">
                        <span>同比：9.75%</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <!-- 同比统计图 -->
    <div class="layui-col-xs6 full-height">
        <div id="peopleAndPrin"></div>
    </div>

</div>
<script>
    var smartBiRoot = "http://bofan.eicp.net:9008/databi";
    var smartBiResource = smartBiRoot + "/vision/openresource.jsp?user=admin&password=7ujm8ik,9ol.&resid=";
    var todayOfficePeopleResid = 'dd11e03f03763fbb19da745c4a879003';
    var todayRegisterPeopleResid = '7e60281f4c3f6c082e9e768ebb455638';
    // layui.use(['element'], function () {
    //
    //     //$('#today_office_people').attr('src', smartBiResource + todayOfficePeopleResid);
    //     $('#today_register_people').attr('src', smartBiResource + todayRegisterPeopleResid);
    //
    // });
    let docBodyH = $('.full-height').height()
    document.querySelector('.full-height').style.height = docBodyH + 'px'

</script>

<script src="./datacenter.js"></script>

</body>

</html>