<style>
body {background-color: #DFF1F8;}
/* 下拉日期 css调整部分*/
xm-select .scroll-body div {margin:0 !important;}
xm-select .xm-body {padding:0 !important;border:none;background-color:usnet;box-shadow:none;}
xm-select .xm-tips {color:#006FDE !important;font-weight:bold !important;}
xm-select .xm-select-default { left: 0;}
.dataDisplay { padding: 0; height: 100%; overflow: hidden;}
.dataDisplay .title { font-size: 22px; text-align: center; padding: 15px 0 10px; font-weight: bold }
.layui-form { text-align: center; padding: 5px 10px;}
.layui-form-label { width: 58px;}
.layui-form-item .layui-inline { margin-bottom: 0;}
.layui-form-item .layui-inline:last-child { margin-left: 20px;}
.layui-col-md6 { background-color: #fff; width: calc(50% - 60px); margin: 20px 0 20px 40px; border-radius: 5px; border: #d1e2e9 1px solid;}
.layui-col-md12 { width: calc(100% - 70px); border-radius: 5px; margin: 10px 30px 30px; background-color: #fff; }
.dataDisplay-body { height: calc(100% - 98px); overflow-x: hidden; overflow-y: auto; margin-bottom: 30px;}
.dataDisplay-body > div {width: 80%; margin: 0 auto;}
</style>
