<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>${SessionSysPortal.appTitle}</title>
#parse("./common/pageCss.vm") 
<style type="text/css">

    .btn-box{
        margin-top:100px;
    }
    .btn-box button{
        height:120px;
        width:280px;
        font-size: 25px;
    }
</style>
</head>

<body class="white-bg" style="height:calc(100% - 200px);">
    <div class="white-bg text-center btn-box p-sm" style="height: calc(100% - 60px);">
        <div class="layui-row m-b-md">
	        <button class="layui-btn inhospitalRegister" style="background: #01A0B3;">入院登记</button>
	        <button class="layui-btn inhospitalRegister" style="background: #6040C0;">患者管理</button>
	        <button class="layui-btn inhospitalRegister" style="background: #20C0C0;">预交款办理</button>
        </div>
        <div class="layui-row m-b-md">
	        <button class="layui-btn inhospitalRegister" style="background: #663333;">结算管理</button>
	        <button class="layui-btn inhospitalRegister" style="background: #E08040;">日终结账</button>
	        <button class="layui-btn inhospitalRegister" style="background: #4080C0;">发票合并打印</button>
        </div>
        <div class="layui-row">
	        <button class="layui-btn inhospitalRegister" style="background: #669966;">历史结算查询</button>
	        <button class="layui-btn inhospitalRegister" style="background: #00C0C0;">票据使用查询</button>
	        <button class="layui-btn inhospitalRegister" style="background: #80C040;">患者查询</button>
        </div>
    </div>
</body>
#parse("./common/pageJs.vm") 

<script type="text/javascript">
$(document).ready(function(){
	
	$(".inhospitalRegister").on("click",function(){
		createMenuItem('入院登记',"inpatient/inhospitalRegisterList.do");
	});
});

</script>
</html>
