<!DOCTYPE html>
<html>
<head>
    <title>支付宝授权码</title>
    <link href="$!contextPath/resource/hplus/js/plugins/layout/layout-default-latest.css" rel="stylesheet">
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
    #parse("./settlement/inpatient/feeSett/aliPayView.css.vm")<!-- 页面css -->
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery-ui.js"></script>
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery.layout.js"></script>
</head>  
<body>  
    <form id="inPatientForm" class="layui-form">
          <div class="layui-row-query" > 
                   <div class="layui-inline">
                       <label class="layui-form-label">支付宝授权码</label>
                        <div class="layui-inline   white">
                        #formTextInput("authCode" "" "id='authCode' class='layui-input selecting'  style='width:220px' ")
                       </div>
                   </div>
                   <div class="layui-inline">
                       <button id="btn_query" class="layui-btn layui-btn-sm m-l-lg" type="button">支付</button>
                   </div>
          </div>
      
     </form>
     
    #parse("./settlement/inpatient/feeSett/aliPayView.js.vm")
</body>
</html>     
        