<!DOCTYPE html>
<html>
<head>
    <title>费用清单</title>
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
    #parse("./settlement/inpatient/feeSett/feeSett.css.vm")
</head>
<body style="height:calc(100% - 0px)">
<div class="layui-row-query" style="height: 90px;">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-inline wd-120">
                #formTextInput("patientName" "$!inpatientInhospitalInfo.patientName"
                    "id='patientName' class='layui-input' readOnly")
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">患者性质</label>
            <div class="layui-inline wd-120">
                #formTextInput("patientKind" "" "id='patientKind' class='layui-input' readOnly")
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">患者科室</label>
            <div class="layui-inline wd-120">
                #formTextInput("currentOfficeName" "$!inpatientInhospitalInfo.currentOfficeName"
                    "id='currentOfficeName' class='layui-input' readOnly")

            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">日期</label>
            <div class="layui-inline ">
                #formTextInput("inhospitalDate" "$!inpatientInhospitalInfo.inhospitalDate"
                    "id='inhospitalDate' class='layui-input' readOnly")
            </div>
        </div>
        <div class="layui-inline">
            <label>至</label>
            <div class="layui-inline ">
                #formTextInput("outhospitalDate" "$!inpatientInhospitalInfo.outhospitalDate"
                    " id='outhospitalDate'class='layui-input' readOnly")
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">住院号码</label>
            <div class="layui-inline wd-120">
                #formTextInput("inhospitalId" "$!inpatientInhospitalInfo.inhospitalId"
                    " id='inhospitalId' class='layui-input' readOnly")
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">患者床号</label>
            <div class="layui-inline wd-120">
                #formTextInput("currentBedNo" "$!inpatientInhospitalInfo.currentBedNo"
                    "id='currentBedNo' class='layui-input'  readOnly")
            </div>
        </div>
    </div>
</div>
<div class="main full-height layui-form" style="padding: 2px;  height: 450px;">
    <div class="payInTab" style="height: 425px;">
        <form id="feeItem_qfrom" class="layui-form">
            #formHiddenInput("inhospitalId" "$!inpatientInhospitalInfo.inhospitalId" "id=''")
        </form>
        <!-- 数据表格 -->
        <table id="feeItemListTab" lay-filter="feeItemListTab"></table>
    </div>

##    <div class="feeTab"
##         style="width: calc(35% - 20px);height: 425px;float: left;background-color: #f5f6f7;border-left: 1px solid #e6e6e6; ">
##
##        <div class="layui-form-item">
##            <div class="layui-inline">
##                <label class="layui-form-label">清单总金额</label>
##                <div class="layui-inline wd-120">
##                    #formTextInput("actualChargeAmount" "$!settlement.actualChargeAmount" "id='' class='layui-input' ")
##                </div>
##            </div>
##        </div>
##        <div class="layui-form-item" style="margin: 0px 10px 10px 10px; border-bottom: 1px solid #e1e1e1;"></div>
##        <div class="layui-form-item">
##            <div class="layui-inline">
##                <label class="layui-form-label"> #if($cashFlag == 1) #requiredTag #end 现金金额</label>
##                <div class="layui-inline wd-120">
##                </div>
##            </div>
##            <div class="layui-inline">
##                <label class="layui-form-label">现金退款</label>
##                <div class="layui-inline wd-120">
##                </div>
##            </div>
##        </div>
##    </div>

</div>
    #parse("./settlement/inpatient/feeSett/feeItemList.js.vm")
</body>
</html>     
        