<style type="text/css">

/* 页面样式调整 */
.layui-table-view .layui-table td, .layui-table-view .layui-table th {
	padding: 3px 0px;
}

.layui-input, .layui-select, .layui-textarea {
	height: 30px;
	line-height: 1.3;
	line-height: 38px\9;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	border-radius: 2px;
}

.layui-form-label {
	padding: 5px 9px;
	width: 60px;
}

.layui-table td, .layui-table th {
	padding: 0;
}

.layui-form-radio {
	margin: 1px 0px 0 0;
}
/* 页面样式调整  end*/
.layui-table-tool {
	min-height: 40px;
	line-height: 20px;
	padding: 5px 15px;
}

##.layui-form-item .layui-form-label {
##	width: 70px;
##}

.print {
	background-color: #f2f2f2;
	border-bottom: 1px solid #e1e1e1;
}

.main-header {
	height: 35px;
	line-height: 35px;
	color: #333;
	text-align: center;
	background-color: #fff;
	font-size: 17px;
	font-weight: 700;
}

table.fee {
	max-width: 1280px;
}

table.fee tbody tr td {
	height: 35px;
	line-height: 35px;
}

.selecting{
    background-color: #f7f9fb;
}

</style>
