<!DOCTYPE html>
<html>
<head>
    <title>患者缴款记录</title>
    <link href="$!contextPath/resource/hplus/js/plugins/layout/layout-default-latest.css" rel="stylesheet">
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
    #parse("./settlement/inpatient/feeSett/feeSett.css.vm")<!-- 页面js -->
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery-ui.js"></script>
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery.layout.js"></script>
</head>  
<body>  
     <!-- 数据表格 -->
     <table id="regPatientTable" lay-filter="regTab"></table>
     #parse("./settlement/inpatient/feeSett/payInRecord.js.vm")
</body>
</html>     
        