<!DOCTYPE html>
<html>
<head>
    <title>医生详情</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
    <link rel="stylesheet" href="../resource/hplus/js/webui-popover/jquery.webui-popover.css" />
    <link href="$!contextPath/resource/hplus/js/plugins/layout/layout-default-latest.css" rel="stylesheet">
    <script src="../resource/hplus/js/webui-popover/jquery.webui-popover.js?v=2" ></script>
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery-ui.js"></script>
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery.layout.js"></script>

</head>
<body >
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
       <div class="layui-col-md12" id="payFather">
            <div class="layui-row-query" >
                <div class="layui-form-item">
                    <div class="layui-inline">
                         <label class="layui-form-label">工号</label>
                         <div class="layui-inline wd-120" id="paientSelectDiv">
                           #formTextInput("doctorCode" "#htmlEscape($!{arrangeDutyDoctor.doctorCode})" "id='drugstoreInWay' class='layui-input'  readOnly")
                         </div>
                     </div>
                     <div class="layui-inline">
                         <label class="layui-form-label">姓名</label>
                         <div class="layui-inline wd-120">
                           #formTextInput("doctorName" "#htmlEscape($!{arrangeDutyDoctor.doctorName})" " class='layui-input'  readOnly")
                         </div>
                     </div>
                     <div class="layui-inline">
                         <label class="layui-form-label">所在科室</label>
                         <div class="layui-inline wd-120">
                           #formTextInput("doctorOfficeName" "#htmlEscape($!{arrangeDutyDoctor.doctorOfficeName})" "' class='layui-input' readOnly")
                         </div>
                     </div>
                     <div class="layui-inline">
                         <label class="layui-form-label">诊室名称</label>
                         <div class="layui-inline wd-120 ">
                           #formTextInput("consultingRoomName" "#htmlEscape($!{arrangeDutyDoctor.consultingRoomName})" " class='layui-input' readOnly ")
                         </div>
                     </div>
                    <div class="layui-inline">
                         <label class="layui-form-label">工作日期</label>
                         <div class="layui-inline wd-120 ">
                           #formTextInput("arrangeDutyDate" "$!date.format('yyyy-MM-dd', ${arrangeDutyDoctor.arrangeDutyDate})" " class='layui-input' readOnly ")
                         </div>
                     </div>
                    <div class="layui-inline">
                         <label class="layui-form-label">值班类别</label>
                         <div class="layui-inline wd-120 ">
                           #formTextInput("arrangeDutyType" "#lookUpDict(${dicData.dicVisitTimeFlag} $!{arrangeDutyDoctor.arrangeDutyType})" " class='layui-input' readOnly ")
                         </div>
                     </div>
                     <div class="layui-inline">
                         <label class="layui-form-label">挂号限额</label>
                         <div class="layui-inline wd-120">
                           #formTextInput("limitCount" "$!{arrangeDutyDoctor.limitCount}" " class='layui-input' readOnly")
                         </div>
                     </div>
                     <div class="layui-inline">
                         <label class="layui-form-label">已挂人数</label>
                         <div class="layui-inline wd-120">
                           #formTextInput("registerCount" "$!{arrangeDutyDoctor.registerCount}" "id='' class='layui-input' readOnly")
                         </div>
                     </div>
                     <div class="layui-inline">
                         <label class="layui-form-label">预约人数</label>
                         <div class="layui-inline wd-120">
                           #formTextInput("appointCount" "$!{arrangeDutyDoctor.appointCount}" "id='' class='layui-input' readOnly")
                         </div>
                     </div>
                     <div class="layui-inline">
                         <label class="layui-form-label">是否停挂</label>
                         <div class="layui-inline wd-120">
                           #formTextInput("validFlag" "#if($!{CONST.AppConstants.YES_FLAG}==$!{arrangeDutyDoctor.validFlag}) 否 #else 是 #end" "id='invoiceNum' class='layui-input' readOnly")
                         </div>
                     </div>
                 </div>
             </div>
       </div>
    </div>
</div>
#parse("./drugstore/drugstorein/financialAcceptance.js.vm")
</body>
</html>
