<!DOCTYPE html>
<html>
<head>
	<title>疾病诊断</title> 
	#parse("./common/pageCss.vm")
	#parse("./common/pageJs.vm") 
	<style type="text/css">
	 .layui-table, .layui-table-view {  margin: 0px 0; }
	</style>
</head>  

<body class="full-height white-bg table-width-full" >
  <!-- 查询表单 -->
  <!-- 查询表单 -->
  <form id="medicine_queryForm">
      #formHiddenInput("keyWord" "" " id='keyWord' ")
      #formHiddenInput("medicineType" "" " id='medicineType'")
  </form>
  <!-- 数据表格 -->
  <table id="medicineTable" lay-filter="medicineTable">
  </table>


  #parse("./medicine/medicineSelect.js.vm")
</body>
</html>