<!DOCTYPE html>
<html>
<head>
    <title>${SessionSysPortal.appTitle}-系统维护-基础配置-药品</title>
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
    <style>
        .layui-form-item .layui-form-checkbox {
            margin-top: 0;
        }
    </style>
</head>
<body>
<div class="layui-content-wrapper">
    <div class="layui-fluid">
        <!--搜索条件 开始-->
        <form id="medicine_queryForm" class="layui-form autoWidth">
            <div class="layui-row-query search-term">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">药品药物分类</label>
                        <div class="layui-input-inline wd-120">
                            #formSingleSelectSearchFirstNone("medicineTypeLeftLike" "" $!{dicData.dicMedicineTypeMedicine} "id='q_medicineTypeLeftLike' lay-search " "")
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">药物剂型</label>
                        <div class="layui-input-inline">
                            #formSingleSelectSearchFirstNone("dosageForm" "" $!{dicData.dicDosageForm} "id='q_dosageForm' lay-search " "")
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">处方分类</label>
                        <div class="layui-input-inline">
                            #formSingleSelectSearchFirstNone("medicineRecipeClassify" "" $!{dicData.dicMedicineRecipeClassify} "id='q_medicineRecipeClassify' lay-search " "")
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">医嘱项目类型</label>
                        <div class="layui-input-inline">#formSingleSelectSearchFirstNone("doctorOrderType" "" ${dicData.dicDoctorOrderTypeMedicine} "lay-filter='doctorOrderType' id='doctorOrderType' lay-search" "")
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline" style="width: auto;">
                            <input type="checkbox" name="needSkinTestFlag" value="1" id="needSkinTestFlag" title="是否需要皮试" lay-filter="needSkinTestFlag">
                            <input type="checkbox" name="specialMedicineFlag" value="1" id="specialMedicineFlag" title="特殊药物" lay-filter="specialMedicineFlag">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-input-inline wd-220">
                            #formTextInput("keyWord" "" "class='layui-input' id='q_keyWord' autocomplete='off'
                            maxlength='40' placeholder='名称/编码' lay-tips='支持名称/编码查询'")
                        </div>
                    </div>
                    <div class="layui-inline layui-btn-group">
                        <button type="button" class="layui-btn layui-btn-sm" id="btn_query" lay-tips="查询"><i class="layui-icon layui-icon-search"></i></button>
                        <button type="button" class="layui-btn layui-btn-sm" id="btn_clean" lay-tips="清 空"><i class="iconfont icon-qingchu"></i></button>
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal" id="btn_add" lay-tips="新增"><i class="layui-icon layui-icon-add-1"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <!--搜索条件 结束-->
        <!-- 是否有效开关 -->
        <script type="text/html" id="validFlagTpl">
            <input type="checkbox" name="validFlag" value="{{d.medicineId}}" lay-filter="validFlag" lay-skin="switch" lay-text="有效|无效" {{Boolean(+d.validFlag) && 'checked' }} >
        </script>
        <!-- 操作栏按钮模板 -->
        <script type="text/html" id="operateTpl">
            <a class="layui-btn layui-btn-xs layui-btn-normal " lay-tips="详情" lay-event="btn_show"><i class="layui-icon layui-icon-about"></i></a>
            <a class="layui-btn layui-btn-xs" lay-tips="修改" lay-event="btn_edit"><i class="layui-icon layui-icon-edit"></i></a>
        </script>
        <!-- 列表表格 工具栏 结束-->
        <!-- 列表表格 begin -->
        <table id="medicineListGrid" lay-filter="medicineListGrid"></table>
        <!--  列表表格 end -->
    </div>
</div>
<!-- 本页面js -->
#parse("./medicine/medicineNoValidList.js.vm")
</body>
</html>
