<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>${SessionSysPortal.appTitle}</title>
#parse("./common/pageCss.vm")
#parse("./common/pageJs.vm")
<style type="text/css">

    .layui-input-sm{
        max-width:60px;
    }

    .layui-col-xs6 .layui-form-label{
        padding:5px;
    }
    .label-sm{
        mix-width:30px;
        width:30%;
        max-width:50px;
    }
    .layui-card{
        border-top: 1px solid #cccccc;
        border-left: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }
    .layui-form-selectup dl{
        top:auto;
        bottom:42px;
    } 
    .input-col1 { width:calc(100% - 120px); max-width:160px; }
</style>
</head>
<body class="full-height ">
    <form class="layui-form" id="editForm">         
        #formHiddenInput("inpatientWardOnDutyId" "$!nurseOnDuty.inpatientWardOnDutyId" "") 
        <!-- 正常班 -->
        <div class="layui-col-xs4">
            <div class="layui-card">
                <div class="layui-card-header text-center" style="font-size:16px;">正常班 &nbsp; &nbsp; &nbsp; 08:00——18:00</div>
                <div class="layui-card-body layui-form p-xs">
                    <div class="layui-row text-center">
                     <div class="layui-inline layui-col-xs6 layui-col-xs6">
                         <label class="layui-form-label label-sm">原有</label>
                         <div class="layui-input-inline">
                             #formIntInput("dayPaitentOriCount" "$!nurseOnDuty.dayPaitentOriCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id='dayPaitentOriCount'")
                         </div>
                     </div>
                     <div class="layui-inline layui-col-xs6 layui-col-xs6">
                         <label class="layui-form-label label-sm">外出</label>
                         <div class="layui-input-inline">
                             #formIntInput("dayGoOutCount" "$!nurseOnDuty.dayGoOutCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id='dayGoOutCount'")
                         </div>
                     </div>
                    </div>
                    <div class="layui-row text-center">
                     <div class="layui-inline layui-col-xs6 ">
                         <label class="layui-form-label label-sm">入院</label>
                         <div class="layui-input-inline">
                             #formIntInput("dayPaitentInCount" "$!nurseOnDuty.dayPaitentInCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id='dayPaitentInCount'")
                         </div>
                     </div>
                     <div class="layui-inline layui-col-xs6">
                         <label class="layui-form-label label-sm">出院</label>
                         <div class="layui-input-inline">
                             #formIntInput("dayPaitentOutCount" "$!nurseOnDuty.dayPaitentOutCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id='dayPaitentOutCount'")
                         </div>
                     </div>
                    </div>
                    <div class="layui-row text-center">
                     <div class="layui-inline layui-col-xs6">
                         <label class="layui-form-label label-sm">转入</label>
                         <div class="layui-input-inline">
                             #formIntInput("dayPaitentRollinCount" "$!nurseOnDuty.dayPaitentRollinCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id='dayPaitentRollinCount'")
                         </div>
                     </div>
                     <div class="layui-inline layui-col-xs6">
                         <label class="layui-form-label label-sm">转出</label>
                         <div class="layui-input-inline">
                             #formIntInput("dayPaitentRolloutCount" "$!nurseOnDuty.dayPaitentRolloutCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id='dayPaitentRolloutCount'")
                         </div>
                     </div>
                    </div>
                    <div class="layui-row text-center">
                     <div class="layui-inline layui-col-xs6">
                         <label class="layui-form-label label-sm">分娩</label>
                         <div class="layui-input-inline">
                             #formIntInput("dayNormalLaborCount" "$!nurseOnDuty.dayNormalLaborCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id='dayBabyBirthCount'")
                         </div>
                     </div>
                     <div class="layui-inline layui-col-xs6">
                         <label class="layui-form-label label-sm">出生</label>
                         <div class="layui-input-inline">
                             #formIntInput("dayBabyBirthCount" "$!nurseOnDuty.dayBabyBirthCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id='dayBabyBirthCount'")
                         </div>
                     </div>
                    </div>
                    <div class="layui-row text-center">
                     <div class="layui-inline layui-col-xs6">
                         <label class="layui-form-label label-sm">婴儿</label>
                         <div class="layui-input-inline">
                             #formIntInput("dayBabyCount" "$!nurseOnDuty.dayBabyCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id='dayBabyCount'")
                         </div>
                     </div>
                     <div class="layui-inline layui-col-xs6">
                         <label class="layui-form-label label-sm">特护</label>
                         <div class="layui-input-inline">
                             #formIntInput("daySpecialNurseCount" "$!nurseOnDuty.daySpecialNurseCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id='daySpecialNurseCount'")
                         </div>
                     </div>
                    </div>
                    <div class="layui-row text-center">
                     <div class="layui-inline layui-col-xs6">
                         <label class="layui-form-label label-sm">病重</label>
                         <div class="layui-input-inline">
                             #formIntInput("dayDiseaseCount" "$!nurseOnDuty.dayDiseaseCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id='dayDiseaseCount'")
                         </div>
                     </div>
                     <div class="layui-inline layui-col-xs6">
                         <label class="layui-form-label label-sm">病危</label>
                         <div class="layui-input-inline">
                             #formIntInput("dayIcuDiseaseCount" "$!nurseOnDuty.dayIcuDiseaseCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id=''")
                         </div>
                     </div>
                    </div>
                    <div class="layui-row text-center">
                     <div class="layui-inline layui-col-xs6">
                         <label class="layui-form-label label-sm">手术</label>
                         <div class="layui-input-inline">
                             #formIntInput("daySurgeryCount" "$!nurseOnDuty.daySurgeryCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id=''")
                         </div>
                     </div>
                     <div class="layui-inline layui-col-xs6">
                         <label class="layui-form-label label-sm">死亡</label>
                         <div class="layui-input-inline">
                             #formIntInput("dayPaitentDeathCount" "$!nurseOnDuty.dayPaitentDeathCount" 
                             "class='layui-input layui-input-sm' maxlength='5' id='dayPaitentDeathCount'")
                         </div>
                     </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label ">现有人数</label>
                        <div class="layui-input-inline input-col1">
                            #formIntInput("dayPaitentCurrentCount" "$!nurseOnDuty.dayPaitentCurrentCount" 
                            "class='layui-input' maxlength='5' id=''")
                        </div>
                    </div>
                    <div class="layui-inline ">
                        <label class="layui-form-label ">陪住人数</label>
                        <div class="layui-input-inline input-col1">
                            #formIntInput("dayStayingWithCount" "$!nurseOnDuty.dayStayingWithCount" 
                            "class='layui-input ' maxlength='5' id=''")
                        </div>
                    </div>
                    <div class="layui-inline ">
                        <label class="layui-form-label ">护士人数</label>
                        <div class="layui-input-inline input-col1">
                            #formIntInput("dayNurseCount" "$!nurseOnDuty.dayNurseCount" 
                            "class='layui-input ' maxlength='5' id=''")
                        </div>
                    </div>
                    <div class="layui-inline ">
                        <label class="layui-form-label ">当值护士$!nurseOnDuty.dayNurseId</label>
                        <div class="layui-input-inline input-col1">
                            #formSingleSelectFirstNone("dayNurseId" "$!nurseOnDuty.dayNurseId.toString()" $!dicData.dicNurse
                            "class='' id='dayNurseId' " "请选择")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 小夜班 -->
        <div class="layui-col-xs4">
            <div class="layui-card">
                <div class="layui-card-header text-center" style="font-size:16px;">小夜班 &nbsp; &nbsp; &nbsp; 18:00——2:00</div>
                <div class="layui-card-body layui-form p-xs">
                    <div class="layui-row text-center">
                        <div class="layui-inline layui-col-xs6 layui-col-xs6">
                            <label class="layui-form-label label-sm">原有</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightPaitentOriCount" "$!nurseOnDuty.midnightPaitentOriCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightPaitentOriCount'")
                            </div>
                        </div>
                        <div class="layui-inline layui-col-xs6 layui-col-xs6">
                            <label class="layui-form-label label-sm">外出</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightGoOutCount" "$!nurseOnDuty.midnightGoOutCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightGoOutCount'")
                            </div>
                        </div>
                    </div>
                    <div class="layui-row text-center">
                        <div class="layui-inline layui-col-xs6 ">
                            <label class="layui-form-label label-sm">入院</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightPaitentInCount" "$!nurseOnDuty.midnightPaitentInCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightPaitentInCount'")
                            </div>
                        </div>
                        <div class="layui-inline layui-col-xs6">
                            <label class="layui-form-label label-sm">出院</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightPaitentOutCount" "$!nurseOnDuty.midnightPaitentOutCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightPaitentOutCount'")
                            </div>
                        </div>
                    </div>
                    <div class="layui-row text-center">
                        <div class="layui-inline layui-col-xs6">
                            <label class="layui-form-label label-sm">转入</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightPaitentRollinCount" "$!nurseOnDuty.midnightPaitentRollinCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightPaitentRollinCount'")
                            </div>
                        </div>
                        <div class="layui-inline layui-col-xs6">
                            <label class="layui-form-label label-sm">转出</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightPaitentRolloutCount" "$!nurseOnDuty.midnightPaitentRolloutCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightPaitentRolloutCount'")
                            </div>
                        </div>
                    </div>
                    <div class="layui-row text-center">
                        <div class="layui-inline layui-col-xs6">
                            <label class="layui-form-label label-sm">分娩</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightNormalLaborCount" "$!nurseOnDuty.midnightNormalLaborCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightNormalLaborCount'")
                            </div>
                        </div>
                        <div class="layui-inline layui-col-xs6">
                            <label class="layui-form-label label-sm">出生</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightBabyBirthCount" "$!nurseOnDuty.midnightBabyBirthCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightBabyBirthCount'")
                            </div>
                        </div>
                    </div>
                    <div class="layui-row text-center">
                        <div class="layui-inline layui-col-xs6">
                            <label class="layui-form-label label-sm">婴儿</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightBabyCount" "$!nurseOnDuty.midnightBabyCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightBabyCount'")
                            </div>
                        </div>
                        <div class="layui-inline layui-col-xs6">
                            <label class="layui-form-label label-sm">特护</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightSpecialNurseCount" "$!nurseOnDuty.midnightSpecialNurseCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightSpecialNurseCount'")
                            </div>
                        </div>
                    </div>
                    <div class="layui-row text-center">
                        <div class="layui-inline layui-col-xs6">
                            <label class="layui-form-label label-sm">病重</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightDiseaseCount" "$!nurseOnDuty.midnightDiseaseCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightDiseaseCount'")
                            </div>
                        </div>
                        <div class="layui-inline layui-col-xs6">
                            <label class="layui-form-label label-sm">病危</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightIcuDiseaseCount" "$!nurseOnDuty.midnightIcuDiseaseCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightIcuDiseaseCount'")
                            </div>
                        </div>
                    </div>
                    <div class="layui-row text-center">
                        <div class="layui-inline layui-col-xs6">
                            <label class="layui-form-label label-sm">手术</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightSurgerCount" "$!nurseOnDuty.midnightSurgerCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightSurgerCount'")
                            </div>
                        </div>
                        <div class="layui-inline layui-col-xs6">
                            <label class="layui-form-label label-sm">死亡</label>
                            <div class="layui-input-inline">
                                #formIntInput("midnightPaitentDeathCount" "$!nurseOnDuty.midnightPaitentDeathCount" 
                                "class='layui-input layui-input-sm' maxlength='5' id='midnightPaitentDeathCount'")
                            </div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label ">现有人数</label>
                        <div class="layui-input-inline input-col1">
                            #formIntInput("midnightPaitentCurrentCount" "$!nurseOnDuty.midnightPaitentCurrentCount" 
                            "class='layui-input' maxlength='5' id='midnightPaitentCurrentCount'")
                        </div>
                    </div>
                    <div class="layui-inline ">
                        <label class="layui-form-label ">陪住人数</label>
                        <div class="layui-input-inline input-col1">
                            #formIntInput("midnightStayingWithCount" "$!nurseOnDuty.midnightStayingWithCount" 
                            "class='layui-input ' maxlength='5' id='midnightStayingWithCount'")
                        </div>
                    </div>
                    <div class="layui-inline ">
                        <label class="layui-form-label ">护士人数</label>
                        <div class="layui-input-inline input-col1">
                            #formIntInput("midnightNurseCount" "$!nurseOnDuty.midnightNurseCount" 
                            "class='layui-input ' maxlength='5' id='midnightNurseCount'")
                        </div>
                    </div>
                    <div class="layui-inline ">
                        <label class="layui-form-label ">当值护士</label>
                        <div class="layui-input-inline input-col1">
                            #formSingleSelectFirstNone("midnightNurseId" "$!nurseOnDuty.midnightNurseId" $!dicData.dicNurse
                            "class='' id='midnightNurseId' " "请选择")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 大夜班 -->
        <div class="layui-col-xs4">
                <div class="layui-card">
                    <div class="layui-card-header text-center" style="font-size:16px;">大夜班 &nbsp; &nbsp; &nbsp; 02:00——8:00</div>
                    <div class="layui-card-body layui-form p-xs">
                        <div class="layui-row text-center">
                            <div class="layui-inline layui-col-xs6 layui-col-xs6">
                                <label class="layui-form-label label-sm">原有</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightPaitentOriCount" "$!nurseOnDuty.nightPaitentOriCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightPaitentOriCount'")
                                </div>
                            </div>
                            <div class="layui-inline layui-col-xs6 layui-col-xs6">
                                <label class="layui-form-label label-sm">外出</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightGoOutCount" "$!nurseOnDuty.nightGoOutCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightGoOutCount'")
                                </div>
                            </div>
                        </div>
                        <div class="layui-row text-center">
                            <div class="layui-inline layui-col-xs6 ">
                                <label class="layui-form-label label-sm">入院</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightPaitentInCount" "$!nurseOnDuty.nightPaitentInCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightPaitentInCount'")
                                </div>
                            </div>
                            <div class="layui-inline layui-col-xs6">
                                <label class="layui-form-label label-sm">出院</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightPaitentOutCount" "$!nurseOnDuty.nightPaitentOutCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightPaitentOutCount'")
                                </div>
                            </div>
                        </div>
                        <div class="layui-row text-center">
                            <div class="layui-inline layui-col-xs6">
                                <label class="layui-form-label label-sm">转入</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightPaitentRollinCount" "$!nurseOnDuty.nightPaitentRollinCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightPaitentRollinCount'")
                                </div>
                            </div>
                            <div class="layui-inline layui-col-xs6">
                                <label class="layui-form-label label-sm">转出</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightPaitentRolloutCount" "$!nurseOnDuty.nightPaitentRolloutCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightPaitentRolloutCount'")
                                </div>
                            </div>
                        </div>
                        <div class="layui-row text-center">
                            <div class="layui-inline layui-col-xs6">
                                <label class="layui-form-label label-sm">分娩</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightNormalLaborCount" "$!nurseOnDuty.nightNormalLaborCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightNormalLaborCount'")
                                </div>
                            </div>
                            <div class="layui-inline layui-col-xs6">
                                <label class="layui-form-label label-sm">出生</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightBabyBirthCount" "$!nurseOnDuty.nightBabyBirthCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightBabyBirthCount'")
                                </div>
                            </div>
                        </div>
                        <div class="layui-row text-center">
                            <div class="layui-inline layui-col-xs6">
                                <label class="layui-form-label label-sm">婴儿</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightBabyCount" "$!nurseOnDuty.nightBabyCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightBabyCount'")
                                </div>
                            </div>
                            <div class="layui-inline layui-col-xs6">
                                <label class="layui-form-label label-sm">特护</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightSpecialNurseCount" "$!nurseOnDuty.nightSpecialNurseCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightSpecialNurseCount'")
                                </div>
                            </div>
                        </div>
                        <div class="layui-row text-center">
                            <div class="layui-inline layui-col-xs6">
                                <label class="layui-form-label label-sm">病重</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightDiseaseCount" "$!nurseOnDuty.nightDiseaseCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightDiseaseCount'")
                                </div>
                            </div>
                            <div class="layui-inline layui-col-xs6">
                                <label class="layui-form-label label-sm">病危</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightIcuDiseaseCount" "$!nurseOnDuty.nightIcuDiseaseCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightIcuDiseaseCount'")
                                </div>
                            </div>
                        </div>
                        <div class="layui-row text-center">
                            <div class="layui-inline layui-col-xs6">
                                <label class="layui-form-label label-sm">手术</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightSurgeryCount" "$!nurseOnDuty.nightSurgeryCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightSurgeryCount'")
                                </div>
                            </div>
                            <div class="layui-inline layui-col-xs6">
                                <label class="layui-form-label label-sm">死亡</label>
                                <div class="layui-input-inline">
                                    #formIntInput("nightPaitentDeathCount" "$!nurseOnDuty.nightPaitentDeathCount" 
                                    "class='layui-input layui-input-sm' maxlength='5' id='nightPaitentDeathCount'")
                                </div>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label ">现有人数</label>
                            <div class="layui-input-inline input-col1">
                                #formIntInput("nightPaitentCurrentCount" "$!nurseOnDuty.nightPaitentCurrentCount" 
                                "class='layui-input' maxlength='5' id='nightPaitentCurrentCount'")
                            </div>
                        </div>
                        <div class="layui-inline ">
                            <label class="layui-form-label ">陪住人数</label>
                            <div class="layui-input-inline input-col1">
                                #formIntInput("nightStayingWithCount" "$!nurseOnDuty.nightStayingWithCount" 
                                "class='layui-input ' maxlength='5' id='nightStayingWithCount'")
                            </div>
                        </div>
                        <div class="layui-inline ">
                            <label class="layui-form-label ">护士人数</label>
                            <div class="layui-input-inline input-col1">
                                #formIntInput("nightNurseCount" "$!nurseOnDuty.nightNurseCount" 
                                "class='layui-input ' maxlength='5' id='nightNurseCount'")
                            </div>
                        </div>
                        <div class="layui-inline ">
                            <label class="layui-form-label ">当值护士</label>
                            <div class="layui-input-inline input-col1">
                                #formSingleSelectFirstNone("nightNurseId" "$!nurseOnDuty.nightNurseId" $!dicData.dicNurse
                                "class='' id='nightNurseId' " "请选择")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </form>  
#parse("./inpatient/nurseOnDuty/nurseOnDutyEdit.js.vm")

</body>
</html>