<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
#parse("./common/pageCss.vm")
#parse("./common/pageJs.vm")
#parse("./datacenter/datacenter.js.vm")
#parse("./datacenter/datacenter.css.vm")
<style type="text/css">

.item-peolpe {
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
}

.item-tag {
    font-size: 20px;
    font-weight: 600;
}

.item-data {
    font-size: 36px;
    font-weight: 700;
}

.item-list {
    color: black;

}

.exponent button {
    width: 98%;
    height: 170px;
    padding-right: 30px;
    border: 1px solid #d2d2d2;
    line-height: 45px;
    text-align: center;
    margin-bottom: 6px;
}

.exponent button i {
    line-height: 50px;
    font-size: 40px;
    position: relative;
    float: left;
    left: 20px;
}

</style>
</head>
<body>
<!-- 业务量概括 -->
<div class="layui-fluid"  style="height:calc(100% - 40px);">
    <h2 style="font-weight: 700;margin-left:20px;">业务量概况（当月）</h2>
    <!-- 指标 -->
    <div class="layui-row m-sm" style="height:calc(100% - 300px);">
        <div class="layui-col-xs5">
            <div class="layui-row">
		        <div class="layui-col-xs6 exponent">
		            <button class="layui-btn layui-bg-white">
		                 <span class="item-list item-tag">门诊总数</span><br>
                         <span class="item-list item-data">$!outpatientCount</span>
		            </button>
		        </div>
		        <div class="layui-col-xs6 exponent">
		            <button class="layui-btn layui-bg-white">
		                 <span class="item-list item-tag">急诊总数</span><br>
                         <span class="item-list item-data">$!outpatientEmrCount</span>
		            </button>
		        </div>
	       </div>
            <div class="layui-row">
		        <div class="layui-col-xs6 exponent">
		            <button class="layui-btn layui-bg-white">
		                 <span class="item-list item-tag">入院总数</span><br>
                         <span class="item-list item-data">$!countInpatientInhospital</span>
		            </button>
		        </div>
		        <div class="layui-col-xs6 exponent">
		            <button class="layui-btn layui-bg-white">
		                 <span class="item-list item-tag">出院总数</span><br>
                         <span class="item-list item-data">$!outhospitalReportCount</span>
		            </button>
		        </div>
	       </div>
	   </div>
	   
	   <!-- 分析图 -->
	   <div class="layui-col-xs7 full-height">
	       <iframe id="chart1" width="100%" height="100%" src="" frameborder="0"></iframe>
	   </div>
    </div>
    
    <!-- 前三科室表格 -->
    <div class="layui-row" style="height:250px;">
        <iframe id="chart2" width="100%" height="100%" src="" frameborder="0"></iframe>
    </div>
    
    
</div>

<script>
layui.use(['element'], function(){
    //初始化分析图表1
    $("#chart1").attr("src",smartBiResource + "f4bd8764b16a973c90379ab1a90ba2d3");
    //初始化分析图表1
    $("#chart2").attr("src",smartBiResource + "4f8ca58eea205e0ebc52f2a4afde337b");

});

</script>
</body>

</html>