<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
    #parse("./datacenter/datacenter.css.vm")
    <style type="text/css">


        .bg-white {
            background: #0089F9;
        }

        .bg-green {
            background: #00C986;
        }

        .bg-orange {
            background: #FF841F;
        }

        .bg-purple {
            background: #D856CF;
        }

        .bg-blue {
            background: blue;
        }

        .bg-yellow {
            background: yellowgreen;
        }
        .bg-red {
            background: red;
        }
       
    </style>
</head>
<body>
<div class="layui-fluid" style="height:calc(100% - 40px);">

    <!-- 指标 -->
    <div class="layui-row m-sm">
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white ">
                <i class="icon iconfont icon-icon9001 bg-orange icon-size"></i>
                <div class="">
                    <p class="number">$!currYearhospitalSum</p>
                    <p class="norm-title">| 医院总费用</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-wenjian bg-purple icon-size"></i>
                <div class="">
                    <p class="number">$!MedicinSum</p>
                    <p class="norm-title">| 药品总费用</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-shenqing bg-green icon-size"></i>
                <div class="">
                    <p class="number">$!checkSum</p>
                    <p class="norm-title">| 检查费用</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-zhuyuanxinxi bg-blue icon-size"></i>
                <div class="">
                    <p class="number">$!DrogerieSum</p>
                    <p class="norm-title">| 检验费用</p>
                </div>
            </button>
        </div>
    </div>
    <!-- 指标2 -->
    <div class="layui-row m-sm">
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-24x24shoufeisvg bg-yellow icon-size"></i>
                <div class="">
                    <p class="number">$!materialSum</p>
                    <p class="norm-title">| 卫生材料费用</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-yiliaomedical44 bg-red icon-size"></i>
                <div class="">
                    <p class="number">$!surgerySum</p>
                    <p class="norm-title">| 手术费用</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-zysf bg-orange icon-size"></i>
                <div class="">
                    <p class="number">$!cureSum</p>
                    <p class="norm-title">| 治疗费用</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-yiliaomedical44 bg-green icon-size"></i>
                <div class="">
                    <p class="number">$!AntibiosisSum</p>
                    <p class="norm-title">| 抗菌药物总费用</p>
                </div>
            </button>
        </div>
    </div>
    <div class="layui-col-xs3">
        <div class="layui-row" style="height: 430px; margin: 0px 13px;">
            <iframe id="outpatient_inhospital_income_theme" width="100%" height="100%" src="" frameborder="0"></iframe>
        </div>
    </div>
    <div class="layui-col-xs9">
        <div class="layui-row" style="height: 430px; margin: 0px 13px 0px 0px;">
            <iframe id="today_office_people" width="100%" height="100%" src="" frameborder="0"></iframe>
        </div>
    </div>
</div>

<script>
    var smartBiRoot = "http://bofan.eicp.net:9008/databi";
    var smartBiResource = smartBiRoot + "/vision/openresource.jsp?user=admin&password=7ujm8ik,9ol.&resid=";
    var outpatientInhospitalIncomeThemeResid = '42e1d5e924969201eed8edf2c969294d';
    var todayOfficePeopleResid = '6ff3551f4d77e1559dbe7f799a6684ee';
    layui.use(['element'], function () {
        $('#outpatient_inhospital_income_theme').attr('src', smartBiResource + outpatientInhospitalIncomeThemeResid);
        $('#today_office_people').attr('src', smartBiResource + todayOfficePeopleResid);

    });

</script>
</body>

</html>