<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
#parse("./common/pageCss.vm")
#parse("./common/pageJs.vm")
#parse("./datacenter/datacenter.js.vm")
#parse("./datacenter/datacenter.css.vm")
<style type="text/css">
.table-title{
    font-weight: 700;
}
.layui-table thead th{
    text-align:center;
    color: #eee;
}
.bg-blue  th{
    background-color: #31ABFE;
}
.bg-green  th{
    background-color: #05D77D;
}
.bg-orange  th{
    background-color: #FDAD23;
}
.bg-red  th{
    background-color: #FC6342;
}
</style>
</head>
<body>
<div class="layui-fluid"  style="overflow:auto">

    <!-- 左侧 统计表格 -->
    <div class="layui-col-xs3 full-height">
        <!--业务量监控  -->
        <div class="layui-row" >
            <h2 class="table-title">业务量监控</h3>
	        <table class="layui-table">
	           <thead class="bg-blue">
		           <th>KPI</th>
		           <th>今日</th>
		           <th>昨日</th>
	           </thead>
	           <tr>
	               <td>门诊人次</td>
	               <td>153</td>
	               <td>132</td>
	           </tr>
	           <tr>
	               <td>急诊人次</td>
	               <td>1</td>
	               <td>2</td>
	           </tr>
	           <tr>
	               <td>门急诊合计</td>
	               <td>154</td>
	               <td>134</td>
	           </tr>
	        </table>
        </div>
        <!--收入监控  -->
        <div class="layui-row">
            <h2 class="table-title">收入监控</h3>
	        <table class="layui-table">
	           <thead class="bg-green">
		           <th>KPI</th>
		           <th>今日</th>
		           <th>昨日</th>
	           </thead>
	           <tr>
	               <td>门诊收入</td>
	               <td>45118.66</td>
	               <td>39548.15</td>
	           </tr>
	           <tr>
	               <td>其中药品收入</td>
	               <td>23184.12</td>
	               <td>18485.63</td>
	           </tr>
	           <tr>
	               <td>门急诊合计</td>
	               <td>50185.12</td>
	               <td>51256.66</td>
	           </tr>
	           <tr>
	               <td>其中药品收入</td>
	               <td>25481.64</td>
	               <td>26415.92</td>
	           </tr>
	        </table>
        </div>
        <!--药品分析  -->
        <div class="layui-row">
            <h2 class="table-title">药品分析</h3>
	        <table class="layui-table">
	           <thead class="bg-orange">
		           <th>KPI</th>
		           <th>今日</th>
		           <th>昨日</th>
	           </thead>
	           <tr>
	               <td>门诊药占比</td>
	               <td>54.44%</td>
	               <td>50.85%</td>
	           </tr>
	           <tr>
	               <td>急诊药占比</td>
	               <td>78.15%</td>
	               <td>82.21%</td>
	           </tr>
	           <tr>
	               <td>门急诊合计</td>
	               <td>55.64%</td>
	               <td>52.37%</td>
	           </tr>
	        </table>
        </div>
        <div class="layui-row">
            <h2 class="table-title">检查分析</h3>
	        <table class="layui-table">
	           <thead class="bg-red">
		           <th>KPI</th>
		           <th>今日</th>
		           <th>昨日</th>
	           </thead>
	           <tr>
	               <td>门诊检查比</td>
	               <td>1.12%</td>
	               <td>0.38%</td>
	           </tr>
	           <tr>
	               <td>急诊检查比</td>
	               <td>100%</td>
	               <td>100%</td>
	           </tr>
	           <tr>
	               <td>门急诊合计</td>
	               <td>1.56%</td>
	               <td>0.89%</td>
	           </tr>
	        </table>
        </div>
    </div>
    
    <div class="layui-col-xs9 full-height">
	    <div class="layui-row full-height">
	        <iframe id="chart1" width="100%" height="100%" src="" frameborder="0"></iframe>
	    </div>
    </div>
    
</div>

<script>
layui.use(['element'], function(){
    //初始化图表
    $("#chart1").attr("src",smartBiResource + "f25c1de86888f875aae3fa36c45cda28");
});

</script>
</body>
