<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
#parse("./common/pageCss.vm")
#parse("./common/pageJs.vm")
#parse("./datacenter/datacenter.js.vm")
#parse("./datacenter/datacenter.css.vm")
<style type="text/css">

.item-peolpe {
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
}

.item-tag {
    font-size: 20px;
    font-weight: 600;
}

.item-data {
    font-size: 36px;
    font-weight: 700;
}

.item-list {
    color: black;

}

.exponent button {
    width: 98%;
    height: 270px;
    padding-right: 30px;
    border: 1px solid #d2d2d2;
    line-height: 70px;
    text-align: center;
    margin-bottom: 6px;
}

.exponent button i {
    line-height: 60px;
    font-size: 40px;
    position: relative;
    float: left;
    left: 20px;
}

</style>
</head>
<body>
<!-- 业务量概括 -->
<div class="layui-fluid"  style="height:calc(100% - 40px);">
    <h2 style="font-weight: 700;margin-left:20px;">医保完成情况分析</h2>
    <!-- 指标 -->
    <div class="layui-row m-sm" style="height:calc(100% - 300px);">
        <div class="layui-col-xs5">
            <div class="layui-row">
		        <div class="layui-col-xs6 exponent">
		            <button class="layui-btn layui-bg-white">
		                 <span class="item-list item-tag">年迄今医保支付金额</span><br>
                         <span class="item-list item-data">331.62万元</span>
		            </button>
		        </div>
		        <div class="layui-col-xs6 exponent">
		            <button class="layui-btn layui-bg-white">
		                 <span class="item-list item-tag">当月医保支付完成金额</span><br>
                         <span class="item-list item-data">32.18万元</span>
		            </button>
		        </div>
	       </div>
            <div class="layui-row">
		        <div class="layui-col-xs6 exponent">
		            <button class="layui-btn layui-bg-white">
		                 <span class="item-list item-tag">年迄今医保总药费完成金额</span><br>
                         <span class="item-list item-data">251.71万元</span>
		            </button>
		        </div>
		        <div class="layui-col-xs6 exponent">
		            <button class="layui-btn layui-bg-white">
		                 <span class="item-list item-tag">当月医保总药费完成金额</span><br>
                         <span class="item-list item-data">13.30万元</span>
		            </button>
		        </div>
	       </div>
	   </div>
	   
	   <!-- 分析图 -->
	   <div class="layui-col-xs7 full-height">
	       <iframe id="chart1" width="100%" height="100%" src="" frameborder="0"></iframe>
	   </div>
    </div>
    
    <div class="layui-row" style="height:250px;">
        <iframe id="chart2" width="100%" height="100%" src="" frameborder="0"></iframe>
    </div>
</div>

<script>
layui.use(['element'], function(){
    //初始化分析图表1
    $("#chart1").attr("src",smartBiResource + "139702ba5fea5a86fe51c8981bd59292");
    $("#chart2").attr("src",smartBiResource + "ed4fc05d1c6788b764b17d21332b9bb6");

});

</script>
</body>

</html>