<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
#parse("./common/pageCss.vm")
#parse("./common/pageJs.vm")
#parse("./datacenter/datacenter.js.vm")
#parse("./datacenter/datacenter.css.vm")
</head>
<body>
<div class="layui-fluid"  style="height:calc(100% - 40px);">
    <!-- 指标 -->
    <div class="layui-row m-sm">
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-icon9001 bg-orange icon-size"></i>
                <div class="">
                    <p class="number"><!-- $!quotaMap.get("outpatientCount") -->31</p>
                    <p class="norm-title">| 门急诊人次</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-wenjian bg-purple icon-size"></i>
                <div class="">
                    <p class="number"><!-- $!quotaMap.get("outpatientCountOfInsurance") -->7</p>
                    <p class="norm-title">| 门急诊医保人次</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-24x24shoufeisvg bg-green icon-size"></i>
                <div class="">
                    <p class="number"><!-- $!quotaMap.get("insurancePatientFeeSum") -->2654</p>
                    <p class="norm-title">| 门急诊医保患者总费用</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-wenjian bg-blue icon-size"></i>
                <div class="">
                    <p class="number"><!-- $!quotaMap.get("insurancePatientFeeAvg") -->354</p>
                    <p class="norm-title">| 门急诊医保患者均次费</p>
                </div>
            </button>
        </div>
    </div>
    <div class="layui-row m-sm">
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-yiliaomedical44  bg-green icon-size"></i>
                <div class="">
                    <p class="number"><!-- $!quotaMap.get("drugProportion")% -->64%</p>
                    <p class="norm-title">| 门急诊医保患者药占比</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-24x24shoufeisvg bg-blue icon-size"></i>
                <div class="">
                    <p class="number"><!-- $!quotaMap.get("outpatientFeeSumOfInsurance") -->1651</p>
                    <p class="norm-title">| 门急诊医保支付金额</p>
                </div>
            </button>
        </div>

        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-jiaofei bg-purple icon-size"></i>
                <div class="">
                    <p class="number"><!-- $!quotaMap.get("outpatientFeeSumOfSelfPay") -->1985</p>
                    <p class="norm-title">| 门急诊医保患者自费费用金额</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-wenjian bg-orange icon-size"></i>
                <div class="">
                    <p class="number"><!-- $!quotaMap.get("selfPayRate")% -->53%</p>
                    <p class="norm-title">| 门急诊医保患者自费费用比例</p>
                </div>
            </button>
        </div>
    </div>

    <!-- 收入比例 -->
    <div class="layui-row" style="height:310px;">
        <iframe id="chart1" width="100%" height="100%" src="" frameborder="0"></iframe>
    </div>


</div>

<script>
layui.use(['element'], function(){
    //初始化分析图表1
    //$("#chart1").attr("src",smartBiResource + "db544d59337e464520cb6608994ba930");
    $("#chart1").attr("src",smartBiResource + "cf10812138de47aa64d4214799c6b9b1");


});

</script>
</body>

</html>
