<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
    #parse("./datacenter/datacenter.css.vm")
    <style type="text/css">


        .bg-white {
            background: #0089F9;
        }

        .bg-green {
            background: #00C986;
        }

        .bg-orange {
            background: #FF841F;
        }

        .bg-purple {
            background: #D856CF;
        }

        .bg-blue {
            background: blue;
        }

        .bg-yellow {
            background: yellowgreen;
        }
        .bg-red {
            background: red;
        }
    </style>
</head>
<body>
<div class="layui-fluid" style="height:calc(100% - 40px);">


    <div class="layui-row m-sm">
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-yiliaomedical44  bg-orange icon-size"></i>
                <div class="">
                    <p class="number">30%</p>
                    <p class="norm-title">抗菌药物使用率</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-wenjian bg-purple icon-size"></i>
                <div class="">
                    <p class="number">40%</p>
                    <p class="norm-title">门急诊注射药品处方率</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-24x24shoufeisvg bg-red icon-size"></i>
                <div class="">
                    <p class="number">50%</p>
                    <p class="norm-title">药品收入占医疗总收入比重</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-yiliaomedical44 bg-blue icon-size"></i>
                <div class="">
                    <p class="number">11%</p>
                    <p class="norm-title">抗菌药物占比</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-wenjian bg-green icon-size"></i>
                <div class="">
                    <p class="number">65</p>
                    <p class="norm-title">抗菌药物处方数/每百张门诊处方</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-wenjian bg-yellow icon-size"></i>
                <div class="">
                    <p class="number">11%</p>
                    <p class="norm-title">注射剂处方数</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-zhuyuanfayaochaxun bg-orange icon-size"></i>
                <div class="">
                    <p class="number">11%</p>
                    <p class="norm-title">抗菌药物送检率</p>
                </div>
            </button>
        </div>
        <div class="layui-col-xs3 norm">
            <button class="layui-btn layui-bg-white">
                <i class="icon iconfont icon-yiliao_medical  bg-purple icon-size"></i>
                <div class="">
                    <p class="number">115</p>
                    <p class="norm-title">抗菌药物品种</p>
                </div>
            </button>
        </div>
    </div>

    <div class="layui-col-xs6">
        <div class="layui-row" style="height: 290px; margin: 0px 13px 0px; "  >
            <iframe id="today_register_people" width="100%" height="100%" src="" frameborder="0"></iframe>
        </div>
    </div>
    <div class="layui-col-xs6">
        <div class="layui-row" style="height: 290px; margin: 0px 13px 0px 0px;">
            <iframe id="today_office_people" width="100%" height="100%" src="" frameborder="0"></iframe>
        </div>
    </div>
    <div class="layui-col-xs6">
        <div class="layui-row" style="height: 290px; margin: 0px 13px 0px;">
            <iframe id="today_offic_people" width="100%" height="100%" src="" frameborder="0"></iframe>
        </div>
    </div>
    <div class="layui-col-xs6">
        <div class="layui-row" style="height: 290px; margin: 0px 13px 0px 0px;">
            <iframe id="today_offi_people" width="100%" height="100%" src="" frameborder="0"></iframe>
        </div>
    </div>

</div>

<script>
    var smartBiRoot = "http://bofan.eicp.net:9008/databi";
    var smartBiResource = smartBiRoot + "/vision/openresource.jsp?user=admin&password=7ujm8ik,9ol.&resid=";
    var todayOfficePeopleResid = '21baba5032e1454a0d2fafc054756a62';
    var todayRegisterPeopleResid = 'c2bac9cb0ea48b765b0f7e549a750166';
    var proportionOfAntimicrobialResid='b8ff3098b7deaeeb816fb02dd3a0d933';
    var useIntensityResid='f0e029b7eabd02af4c22bd573a0b6774';
    layui.use(['element'], function () {

        $('#today_office_people').attr('src', smartBiResource +todayOfficePeopleResid );
        $('#today_register_people').attr('src', smartBiResource +todayRegisterPeopleResid );
        $('#today_offic_people').attr('src', smartBiResource +proportionOfAntimicrobialResid );
        $('#today_offi_people').attr('src', smartBiResource +useIntensityResid );

    });

</script>
</body>

</html>
