    <style type="text/css">
    
           .techReportExam .layui-colla-title {
            height: 32px !important;
            line-height: 32px !important;
        }
        
        .techReportExam   .layui-colla-content{
    padding: 5px 0px 5px ;
    
    }
    
    </style>