<!DOCTYPE html>
<html>
<head>
	<title>疾病诊断</title> 
	#parse("./common/pageCss.vm")
	#parse("./common/pageJs.vm") 
	<style type="text/css">
	 .layui-table, .layui-table-view {  margin: 0px 0; }
	</style>
</head>  

<body class="full-height white-bg table-width-full" >
  <!-- 查询表单 -->
  <form id="emrTlp_queryForm"> 
    #formHiddenInput("keyWord" "" " id='keyWord' class='layui-input' placeholder='病历模板检索' ")
  </form>
 
  <!-- 数据表格 -->
  <table id="emrTlpTable" lay-filter="emrTlpTable"></table>
 
  #parse("./emr/emrTlpSelect.js.vm")<!-- 页面js -->
</body>
</html>