<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>设置我的资料</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">用户信息</div>
                <div class="layui-card-body" pad15>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">单位名称</label>
                            <div class="layui-input-inline">#formTextInput("" "$!{sysUser.unitOrgName}" "
                                class='layui-input ' readonly")
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">所在部门</label>
                            <div class="layui-input-inline">
                                #formTextInput("" "#foreach($option in $!{sysUser.sysOrgList})${option.name} #end" "
                                class='layui-input ' readonly")
                            </div>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户账号</label>
                            <div class="layui-input-inline">#formTextInput("" "$!{sysUser.account}" "

                                class='layui-input ' readonly")
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">用户编码</label>
                            <div class="layui-input-inline">#formTextInput("" "$!{sysUser.code}" "

                                class='layui-input ' readonly ")
                            </div>
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户属性</label>
                            <div class="layui-input-inline">#formTextInput(""
                                "#lookUpDict($dicData.dicSysUserAttributeTable, $!{sysUser.userAttributeId})" "
                                class='layui-input ' readonly")
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">排序</label>
                            <div class="layui-input-inline">#formTextInput("" "$!{sysUser.sort}" "

                                class='layui-input ' readonly ")
                            </div>
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">用户姓名</label>
                            <div class="layui-input-inline">#formTextInput("" "$!{sysUser.name}" "
                                class='layui-input ' readonly ")
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">身份证号</label>
                            <div class="layui-input-inline">#formTextInput("" "$!{sysUser.idCard}" "

                                class='layui-input ' readonly ")
                            </div>
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-inline">#formTextInput(""
                                "#lookUpDict($dicData.dicSex,$!{sysUser.sex})" "

                                class='layui-input ' readonly ")
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">出生日期</label>
                            <div class="layui-input-inline">#formTextInput("" "$!{sysUser.birthDate}" "

                                class='layui-input ' readonly ")
                            </div>
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-inline">#formTextInput("" "$!{sysUser.phone}" "

                                class='layui-input ' readonly ")
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">办公电话</label>
                            <div class="layui-input-inline">#formTextInput("" "$!{sysUser.workPhone}" "

                                class='layui-input ' readonly ")
                            </div>
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">传真</label>
                            <div class="layui-input-inline">#formTextInput("" "$!{sysUser.photograph}" "

                                class='layui-input ' readonly ")
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">#formTextInput("" "$!{sysUser.email}" "

                                class='layui-input ' readonly ")
                            </div>
                        </div>

                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">职务</label>
                            <div class="layui-input-inline">#formTextInput("" "$!{sysUser.sysDuty.name}" "
                                class='layui-input ' readonly ")
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">工作地址</label>
                            <div class="layui-input-inline">#formTextInput("" "$!{sysUser.workAddress}" "
                                class='layui-input ' readonly ")
                            </div>
                        </div>

                    </div>
                    <div class="layui-form-item layui-form-text ">
                        <label class="layui-form-label">用户简介</label>
                        <div class="layui-input-inline " style="width: 465px;">#formTextarea(""
                            "#htmlEscape($!{sysUser.remark})" " class='layui-textarea' readonly")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">用户角色</div>
                <div class="layui-card-body" pad15>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">角色名</label>
                            <div class="layui-input-inline"></div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 280px;">描述</div>
                        </div>
                    </div>
                    #foreach($option in $!{sysUser.userRoles})
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                #formTextInput("" "${option.roleName}" "
                                class='layui-input ' readonly")
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 280px;">
                                #formTextInput("" "${option.roleNode}" "
                                class='layui-input ' readonly")
                            </div>
                        </div>
                    </div>
                    #end
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>

<script>
    layui.config({
        base: '../resource/layuiadmin/'
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index'], function () {

    });
</script>
</body>
</html>