<!DOCTYPE html>
<html>
<head>
<title>密码修改</title> 
#parse("./common/pageCss.vm") 
#parse("./common/pageJs.vm")
</head>
<body>
    <div class="main full-height" lay-filter="" id="" style="width: 360px;margin: 20px auto;">
       <form id="editForm" class="layui-form full-height">
        #formHiddenInput("consultingRoomId" "$!{consultingRoom.consultingRoomId}" " id='consultingRoomId' ") #formHiddenInput("roomDeviceCode" "#htmlEscape($!{consultingRoom.roomDeviceCode})" " id='roomDeviceCode' ")
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">#requiredTag()旧密码</label>
                <div class="layui-input-inline">#formPasswordInput("oldPassword" "" "id='oldPassword' class='layui-input' lay-verify='required' ") </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">#requiredTag()新密码</label>
                <div class="layui-input-inline">
                #formPasswordInput("newPassword" "" "id='newPassword' class='layui-input' lay-verify='required'  maxlength='20'  ")
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">#requiredTag()确认密码</label>
                <div class="layui-input-inline">#formPasswordInput("confirmPassword" "" "id='confirmPassword' class='layui-input' lay-verify='required'  maxlength='20'  ")</div>
            </div>
        </div>
         
         <!-- 底部按钮栏  -->
        <div class="layui-form-item" style="margin: 10px 0px 0px 100px;">
             <button lay-filter="saveNewPassword" lay-submit class="layui-btn layui-btn-sm" type="button">修  改</button>
             <button id="resetForm" class="layui-btn layui-btn-sm" type="button" style="margin-left: 10px;" >重  置</button>
        </div> 
     </form>
   </div>
<script type="text/javascript">
layui.use(['form', 'table', 'laydate', 'element'], function(){
    var table = layui.table,  element = layui.element,laydate = layui.laydate,form = layui.form;
    form.verify({});    
    
    function saveNewPassword() {
       var params = common.serializeObject($('#editForm'));
        
       if (params.newPassword != params.confirmPassword) {
           common.alert("新密码和确认密码不一致", 0);
           return ;
       }
       var reg = new RegExp(/^(?![^a-zA-Z]+$)(?!\D+$)/);
       
       if (params.newPassword.length < 6 || !reg.test(params.newPassword)) {
           common.alert("密码必须包含数字和字母且长度要6位字符以上", 0);
           return ;
       }

       $.post('$contextPath/sys/passwordChange.jo', params, function (result){
           if (result.code == "0") {
               layer.msg(result.msg, { icon: iconType.success, time: 2000 }, function(){
	               // 关闭窗口
	               var index = parent.layer.getFrameIndex(window.name);
	               parent.layer.close(index); 
               }); 
               
           } else {
               common.msg(result.msg, iconType.warn);
           }
       }, 'json');
    }

	function resetForm() {
	    $('#oldPassword').val('');
	    $('#newPassword').val('');
	    $('#confirmPassword').val('');
	}
   
	 
 
	 //监听提交
	 form.on('submit(saveNewPassword)', function(data){
	     saveNewPassword();
	     return false;
	 });
    //页面初始化
    $(document).ready(function() {
	    $('#resetForm').click(function (){
	        resetForm();
	    });
    });
});//layui.use end
</script>
</body>
</html>