<script>
	var dicProducingArea = JSON.parse('$dicTools.changeMapToJson($dicData.dicProducingArea)');//产地
	var dicMedicineVendor = JSON.parse('$dicTools.changeMapToJson($dicData.dicMedicineVendor)');//供应商
	var dicDrugNumUnitDosageUnit = JSON.parse('$dicTools.changeMapToJson($dicData.dicDrugNumUnitDosageUnit)');//供应商
	var dicDosageForm = JSON.parse('$dicTools.changeMapToJson($dicData.dicDosageForm)');//供应商
	var medicineDosage = JSON.parse('$dicTools.changeMapToJson($dicData.medicineDosage)');//供应商
	var dicDrugReportUsage = JSON.parse('$dicTools.changeMapToJson($dicData.dicDrugReportUsage)');// 报告用药
	var dicOffice = JSON.parse('$dicTools.changeMapToJson($dicData.dicOffice)');// 科室
	var dicDrugNumUnit = JSON.parse('$dicTools.changeMapToJson($dicData.dicDrugNumUnit)');//
	var templateTr = $('#itemList tr:last').prop("outerHTML");
	layui.use(['table', 'element', 'laydate', 'form', 'util'], function () {
		var table = layui.table, util = layui.util;
		var form = layui.form;

		var $ = layui.jquery, element = layui.element, laydate = layui.laydate;
		//按日期范围查询
		laydate.render({
			elem: '#outTimeSearch',trigger: 'click', range: true, done: function (value, date, endDate) {

			}
		});
		initLayout = function() {
			$('#container').layout({
				west__size: 450//pane的大小
				,togglerContent_open: "<div style='background:#6cbbd4;line-height: 9px;'>◀</div>"//pane打开时，边框按钮中需要显示的内容可以是符号"<"等。需要加入默认css样式.ui-layout-toggler .content
				,togglerContent_closed: "<div style='background:#6cbbd4;line-height: 9px;'>▶</div>"//pane关闭时，同上。
				,spacing_open:8//边框的间隙
				,maskIframesOnResize:".resizeiframe"
				,onopen_end: refreshTable
			});
		}

		//页面初始化
		$(function() {
			initLayout();
		});

		//监听搜索
		$('#btn_query').on('click', function () {
			refreshTable();
		});

		// 清空按钮
		$('#btn_clean').click(function () {
			common.cleanForm('queryForm');
		});

		function refreshTable() {
			table.reload('mainTable',{
				where: getQueryParams()
			});
		}

		// 获取查询表单参数对象
		function getQueryParams() {
			var queryForm = common.serializeObject($('#queryForm'), ['outTimeSearch']);
			return $.extend({
				drugstoreOutWay: '',
				drugstoreId: '',
				outTimeBegin: '',
				outTimeEnd: '',
				outFinishFlag: ''
			}, queryForm);
		}

		var mainTable = table.render($.extend(basePageTable, {
			elem: '#mainTable'
			, height: getLeftTableHeight()
			, url: '../drugstore/drugstoreOutJsonList.jo' //数据接口
			, where: getQueryParams()
			, id: 'mainTable'
			, cols: [[ //表头
				{
					type: 'radio', fixed: 'left'
				}, {
					field: 'drugstoreOutId',
					title: '出库单号',
					width: 100,
					fixed: 'left'
				}, {
					field: 'drugstoreName',
					title: '药库名称',
					width:85
				}, {
					field: 'pharmacyName',
					title: '领药药房',
					width:85
				}, {
					field: 'outTime',
					title: '出库日期',
					minWidth: 120,
					templet: function (row) {
						if (null != row.outTime) {
							return util.toDateString(row.outTime, 'yyyy-MM-dd');
						}
						return "";
					}
				},{
					field: 'drugstoreOutRemak',
					title: '备注'
				}
			]]
		}));
		var itemTable = table.render($.extend(singlePageTable, {
			elem: '#itemTable'
			, height: getRightTableHeight()
			, data: []
			, cols: [[ //表头
				{type: 'numbers', fixed: 'left'}
				, {field: 'medicineName', title: '药品名称', width: 200, fixed: 'left'}
				, {field: 'producingAreaName', title: '产地名称', width: 120, sort: true}
				, {field: 'applyCount', title: '申请数量', width: 80}
				, {field: 'outCount', title: '实发数量', width: 80}
				, {
					field: 'expireDate',
					title: '药品效期',
					width: 120,
					templet: function (res) {
						return layui.util.toDateString(res.expireDate, 'yyyy-MM-dd');
					}
				}
				, {
					field: 'medicineUnit', title: '出库单位', width: 80, templet: function (row) {
						if (row.medicineUnit) {
							return row.medicineUnit ? dicDrugNumUnit[row.medicineUnit] : ''
						}
						return ''
					}
				}
				, {field: 'medicineSpec', title: '药品规格', width: 150}
				, {field: 'pharmacyHospitalName', title: '领药机构名称', width: 150}
				, {field: 'pharmacyName', title: '领药名称', width: 80}
				, {field: 'drugstoreName', title: '药库名称', width: 80}
				, {field: 'drugstoreOutWayName', title: '出库方式', width: 80}
				, {field: 'medicineVendorName', title: '供应商名称', width: 80}
				, {field: 'producingAreaName', title: '产地名称', width: 80}
				, {field: 'remark', title: '备注', width: 80}

			]]
		}));

		//监听行单击事件（单击事件为：row）
		table.on('row(mainTable)', function (obj) {
			obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');//选中行样式
			obj.tr.find('input[lay-type="layTableRadio"]').prop("checked", true);
			var index = obj.tr.data('index')
			var thisData = table.cache.mainTable;//tableName 表名
			//重置数据单选属性
			layui.each(thisData, function (i, item) {
				if (index === i) {
					item.LAY_CHECKED = true;
				} else {
					delete item.LAY_CHECKED;
				}
			});
			form.render('radio');

			var sum = 0;
			var data = obj.data;
			$('#drugstoreOut').find('input, select').each(function () {
				var name = $(this).attr('name');
				if (!data[name]) {
					$(this).val('');
					return;
				}
				if (name && data[name]) {
					if (name === 'applyTime' || name === 'outTime') {
						console.log(name);
						console.log(data[name]);
						$(this).val(new Date(data[name]).format('yyyy-MM-dd'));
					} else {
						$(this).val(data[name]);
					}
				}
			});
			var drugstoreOutId = data.drugstoreOutId;
			table.reload('itemTable', {
				where: {drugstoreOutId: drugstoreOutId}
				, url: '../drugstore/drugstoreOutItemListData.jo' //数据接口
				,height: getRightTableHeight()
			});
			form.render();
		});

		$("#searchByDate").on('click', function () {
			var params = common.serializeObject($('#queryHead'), ['createTime']);
			var title = '账本查询';
			var content = '$contextPath' + '/drugstoreSearch/accountBookSearch.do?createTimeBegin=' + JSON.stringify(params).createTimeBegin + '&createTimeEnd=' + JSON.stringify(params).createTimeEnd;
			//true 执行
			common.open(content, title, {
				area: ['999px', '666px'],
				btn: ['导出', '明细', '打印', '退出'],
				yes: function (index, layero) {
					// save(index, layero);
				}
			});
		});

		// 获取表格高度
		function getLeftTableHeight() {
			return $('.layui-fluid').height() - $('#queryForm').height() - 10;
		}

		function getRightTableHeight() {
			return ($('body').height() - $("#drugstoreOut").height() - 10);
		}

		$(window).resize(function () {
			table.reload('mainTable', {
				height: getLeftTableHeight()
			})
		})

	});
</script>
