<style type="text/css">
.outExamineGroupEdit .layui-table[table-eidt] tr td {
    padding: 0px 0px !important;
    text-align: center !important;
}
.outExamineGroupEdit .order-group{margin-bottom: 39px;}
.outExamineGroupEdit .order-group-item  .layui-card-body-content{
 padding: 0 5px;
}
.outExamineGroupEdit .layui-card-header  .title{
  margin-left: 32px;
  color: #333;
  text-decoration: underline;
}
.outExamineGroupEdit .main-content.table-width-full{
 overflow-x: scroll;height: calc(100% - 2px); 
}
.outExamineGroupEdit .main-content.table-width-full .layui-table{
 width: 1500px;margin-top: 0;
}

.outExamineGroupEdit .add-btn{
	float: right;padding-right: 25px;
	background-color: #5FB878!important;
}
.outExamineGroupEdit .add-btn{
	float: right;padding-right: 25px;
	background-color: #5FB878!important;
}
.outExamineGroupEdit .add-btn > i{
	top:43%;
}
</style>