<style type="text/css">
.outRecipeTcmGroupEdit .layui-table[table-eidt] tr td {
    padding: 0px 0px !important;
    text-align: center !important;
}

.outRecipeTcmGroupEdit .order-group-item  .layui-card-body-content{
 padding: 0 5px;
}
.outRecipeTcmGroupEdit .layui-card-header  .title{
  margin-left: 32px;
  color: #333;
  text-decoration: underline;
}
.outRecipeTcmGroupEdit .main-content.table-width-full{
 overflow-x: scroll;height: calc(100% - 2px);
}
.outRecipeTcmGroupEdit .main-content.table-width-full .layui-table{
 width: 1500px;margin-top: 0;
}

@media screen and (max-width: 1100px){
    .layui-layer-iframe {
        overflow-y: hidden;
    }
}
</style>
