<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=gbk" />
  <title>$!_System_Name_</title>
  <link href="../script/css.css" rel="stylesheet" type="text/css" />
  <script language="javascript" type="text/javascript" src="../script/common.js"></script>
  <script language="JavaScript" type="text/javascript" src="../script/validator.js"></script>
<script type="text/javascript">
function submitSystemData() {
    if (validator.checkAll()) {
        document.editForm.submit();
    }
}
</script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="top" height="1">
    <td>
      <table width="100%" height="26" border="0" cellpadding="0" cellspacing="0" class="table_bg">
        <tr>
          <td height="24">
            <table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0" class="pagetitle">
              <tr>
                <td>
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="unnamed1">
                    <tr>
                      <td width="1%"></td>
                      <td width="49%" height="24">
                        <img src="../images/mb_top_zl1.gif" width="16" height="13" align="absmiddle" alt="工具条" />
                        <span class="text12">成功加载系统数据</span>
                      </td>
                      <td width="49%" align="right" valign="middle" class="text12">
                      </td>
                      <td width="1%"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>
