<script type="text/javascript">
var dicOffice = JSON.parse('$dicTools.changeMapToJson( $dicData.dicOffice)');

var verifyTechItem;//验证医技明细参数
var outMainWin = parent.parent; //门诊医生主窗口页面对象
var showExamineOrderItem;//显示已保存的检查明细项
var getExamineOrderItems;
var winClose;


layui.use(['form', 'element','table'], function(){
    var layer = layui.layer, form = layui.form, table = layui.table, $ = layui.$;
    var doctorOrderSubtype = '$!doctorOrderSubtype';




    //页面初始化
    $(document).ready(function() {

    });
});


 </script>

