<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
#parse("./common/pageCss.vm") #parse("./common/pageJs.vm")
<style type="text/css">
.layui-form-select dl {
    max-height: 220px;
}
</style>
</head>
<body>
<form id="queryForm" class="layui-form">
    <div class="layui-row-query">
##    <div class="layui-form" lay-filter="" style="padding: 20px 30px 0 0;">
        <!--  -->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label wd-150">#requiredTag()人员医疗就诊事件ID</label>
                <div class="layui-inline wd-120">
                    <input type="text" name="aaz217" id="aaz217" class="layui-input" value="">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label wd-150">#requiredTag()执行社会保险办法</label>
                <div class="layui-inline wd-120">
                    <input type="text" name="ykb065" id="ykb065" class="layui-input" value="">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">#requiredTag()支付类别</label>
                <div class="layui-inline wd-120">
                    <input type="text" name="aka130" id="aka130" class="layui-input" value="">
                </div>
            </div>

            <div class="layui-inline">
                <button class="layui-btn  layui-btn-sm " id="btn_query" type="button" lay-tips="查询">
                    <i class="layui-icon layui-icon-search "></i>
                </button>
                <button class="layui-btn layui-btn-sm " type="reset" lay-tips="取消" id="btn_freshen" style="margin-left: auto;">
                    <i class="layui-icon layui-icon-refresh"></i>
                </button>
            </div>

    </div>
    </div>
</form>

<form class="layui-form" lay-filter="formInfo">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label wd-150">处方单据号：</label>
            <div class="layui-inline">
                <input type="text" id="akc220" name="akc220" class="layui-input" value=" " readonly="ture">
            </div>

        </div>
        <div class="layui-inline">
            <label class="layui-form-label wd-150">处方单据时间：</label>
            <div class="layui-inline">
                <input type="text" id="akc221" name="akc221" class="layui-input" value="" readonly="ture">
            </div>

        </div>
        <div class="layui-inline">
            <label class="layui-form-label wd-150">开单科室编码：</label>
            <div class="layui-inline">
                <input type="text" id="yka097" name="yka097" class="layui-input" value="" readonly="ture">
            </div>

        </div>
        <div class="layui-inline">
            <label class="layui-form-label wd-150">开单科室名称：</label>
            <div class="layui-inline">
                <input type="text" id="yka098" name="yka098" class="layui-input" value="" readonly="ture">
            </div>

        </div>
    <div class="layui-inline">
        <label class="layui-form-label wd-150">开单医生编码：</label>
        <div class="layui-inline">
            <input type="text" id="ykd102" name="ykd102" class="layui-input" value="" readonly="ture">
        </div>

    </div>
    <div class="layui-inline">
        <label class="layui-form-label wd-150">开单医生姓名：</label>
        <div class="layui-inline">
            <input type="text" id="yka099" name="yka099" class="layui-input" value="" readonly="ture">
        </div>

    </div>

        <div class="layui-inline">
            <label class="layui-form-label wd-150">受单科室编码：</label>
            <div class="layui-inline">
                <input type="text" id="yka100" name="yka100" class="layui-input" value="" readonly="ture">
            </div>

        </div>

        <div class="layui-inline">
            <label class="layui-form-label wd-150">受单科室名称：</label>
            <div class="layui-inline">
                <input type="text" id="yka101" name="yka101" class="layui-input" value="" readonly="ture">
            </div>

        </div>

        <div class="layui-inline">
            <label class="layui-form-label wd-150">受单医生编码：</label>
            <div class="layui-inline">
                <input type="text" id="ykd106" name="ykd106" class="layui-input" value="" readonly="ture">
            </div>

        </div>

        <div class="layui-inline">
            <label class="layui-form-label wd-150">受单医生姓名：</label>
            <div class="layui-inline">
                <input type="text" id="yka102" name="yka102" class="layui-input" value="" readonly="ture">
            </div>

        </div>

        <div class="layui-inline">
            <label class="layui-form-label wd-150">费用发生日期：</label>
            <div class="layui-inline">
                <input type="text" id="ake007" name="ake007" class="layui-input" value="" readonly="ture">
            </div>

        </div>

        <div class="layui-inline">
            <label class="layui-form-label wd-150">单据有效期：</label>
            <div class="layui-inline">
                <input type="text" id="yka341" name="yka341" class="layui-input" value="" readonly="ture">
            </div>

        </div>


        <div class="layui-inline">
            <label class="layui-form-label wd-150">记账流水号：</label>
            <div class="layui-inline">
                <input type="text" id="yka105" name="yka105" class="layui-input" value="" readonly="ture">
            </div>

        </div>

        <div class="layui-inline">
            <label class="layui-form-label wd-170">医疗机构三大目录编码：</label>
            <div class="layui-inline">
                <input type="text" id="ake005" name="ake005" class="layui-input" value="" readonly="ture">
            </div>

        </div>
        <div class="layui-inline">
            <label class="layui-form-label wd-170">医疗机构三大目录编码名称：</label>
            <div class="layui-inline">
                <input type="text" id="ake006" name="ake006" class="layui-input" value="" readonly="ture">
            </div>

        </div>
        <div class="layui-inline">
            <label class="layui-form-label wd-170">社保三大目录统一编码：</label>
            <div class="layui-inline">
                <input type="text" id="ake001" name="ake001" class="layui-input" value="" readonly="ture">
            </div>

        </div>
        <div class="layui-inline">
            <label class="layui-form-label wd-150">数量：</label>
            <div class="layui-inline">
                <input type="text" id="akc226" name="akc226" class="layui-input" value="" readonly="ture">
            </div>

        </div>
        <div class="layui-inline">
            <label class="layui-form-label wd-150">实际价格：</label>
            <div class="layui-inline">
                <input type="text" id="akc225" name="akc225" class="layui-input" value="" readonly="ture">
            </div>

        </div>
        <div class="layui-inline">
            <label class="layui-form-label wd-150">明细项目费用总额：</label>
            <div class="layui-inline">
                <input type="text" id="yka315" name="yka315" class="layui-input" value="" readonly="ture">
            </div>

        </div>
        <div class="layui-inline">
            <label class="layui-form-label wd-150">备注：</label>
            <div class="layui-inline">
                <input type="text" id="aae013" name="aae013" class="layui-input" value="" readonly="ture">
            </div>

        </div>




        <table id="table" lay-filter="table"></table>

    </div>
</form>


    #parse("./gxpInsurance/outpatientSettleBill.js.vm")
</body>
</html>