<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
#parse("./common/pageCss.vm") #parse("./common/pageJs.vm")
<style type="text/css">
.layui-form-select dl {
    max-height: 220px;
}
</style>
</head>
<body>
<form id="queryForm" class="layui-form">
    <div class="layui-row-query">
##    <div class="layui-form" lay-filter="" style="padding: 20px 30px 0 0;">
        <!--  -->
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">#requiredTag()个人编号</label>
                <div class="layui-inline wd-120">
                    <input type="text" name="aac001" id="aac001" class="layui-input" value="">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label wd-120">待遇判断时间</label>
                <div class="layui-inline wd-130">
##                    #formDateTimeInput("aae030" "" " class='layui-input layer-date' placeholder='请选择出院日期范围' ")
                    <input type="text" name="aae030" id="aae030" class="layui-input " value="">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">支付类别</label>
                <div class="layui-inline wd-120">
                    <input type="text" name="aka130" id="aka130" class="layui-input" value="">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">病种</label>
                <div class="layui-inline wd-120">
                    <input type="text" name="aka120" id="aka120" class="layui-input" value="">
                </div>
            </div>

            <div class="layui-inline">
                <button class="layui-btn  layui-btn-sm " id="btn_query" type="button" lay-tips="查询">
                    <i class="layui-icon layui-icon-search "></i>
                </button>
                <button class="layui-btn layui-btn-sm " type="reset" lay-tips="取消" id="btn_freshen" style="margin-left: auto;">
                    <i class="layui-icon layui-icon-refresh"></i>
                </button>
            </div>

    </div>
    </div>
</form>

<form class="layui-form" lay-filter="formInfo">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">人员ID：</label>
            <div class="layui-inline">
                <input type="text" id="aac001" name="aac001" class="layui-input" value=" " readonly="ture">
            </div>

        </div>
        <div class="layui-inline">
            <label class="layui-form-label">姓名：</label>
            <div class="layui-inline">
                <input type="text" id="aac003" name="aac003" class="layui-input" value="" readonly="ture">
            </div>

        </div>
        <div class="layui-inline">
            <label class="layui-form-label">账户余额：</label>
            <div class="layui-inline">
                <input type="text" id="aae240" name="aae240" class="layui-input" value="" readonly="ture">
            </div>

        </div>
        <div class="layui-inline">
            <label class="layui-form-label">性别：</label>
            <div class="layui-inline">
                <input type="text" id="aac004" name="aac004" class="layui-input" value="" readonly="ture">
            </div>

        </div>
    <div class="layui-inline">
        <label class="layui-form-label">身份证件类型：</label>
        <div class="layui-inline">
            <input type="text" id="aac058" name="aac058" class="layui-input" value="" readonly="ture">
        </div>

    </div>
    <div class="layui-inline">
        <label class="layui-form-label">证件号码：</label>
        <div class="layui-inline">
            <input type="text" id="aac002" name="aac002" class="layui-input" value="" readonly="ture">
        </div>

    </div>


    <div class="layui-inline">
        <label class="layui-form-label">民族：</label>
        <div class="layui-inline">
            <input type="text" id="aac005" name="aac005" class="layui-input" value="" readonly="ture">
        </div>

    </div>

    <div class="layui-inline">
        <label class="layui-form-label">出生日期：</label>
        <div class="layui-inline">
            <input type="text" id="aac006" name="aac006" class="layui-input" value="" readonly="ture">
        </div>

    </div>
    <div class="layui-inline">
        <label class="layui-form-label">实足年龄：</label>
        <div class="layui-inline">
            <input type="text" id="yke112" name="yke112" class="layui-input" value="" readonly="ture">
        </div>

    </div>
        <div class="layui-inline">
            <label class="layui-form-label">数据中心：</label>
            <div class="layui-inline">
                <input type="text" id="yab278" name="yab278" class="layui-input" value="" readonly="ture">
            </div>

        </div>

        <table id="demo" lay-filter="test"></table>

    </div>
</form>


    #parse("./gxpInsurance/personalTreatment.js.vm")
</body>
</html>