<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>住院医生-住院管理-住院信息-帐卡|病区护士-住院管理-住院信息-帐卡</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    #parse("./common/pageCss.vm")
    <style>
        .register ul.layui-tab-title li:nth-child(n+1):nth-child(-n+9) i {
            display: none;
        }

        .register .layui-tab-content {
            padding: 0px;
        }
      .layui-tab-card { box-shadow: initial}
    </style>
</head>
<body>
<div class="layui-content-wrapper">
    <div class="layui-fluid register">
        <div class="layui-tab layui-tab-card m-n full-height " lay-allowClose="true" lay-filter="registerMainTab">
            <!-- 导航名称 -->
            <ul class="layui-tab-title highlight">
                <li lay-id="registerEdit" class="layui-this">帐卡</li>
                <li lay-id="appointRegister">缴费清单</li>
                <li lay-id="settleAccounts">历史结算记录</li>
                <li lay-id="paymentRecords">缴费记录</li>
            </ul>
            <!-- 导航内容 -->
            <div class="layui-tab-content " style="height: calc(100% - 32px);">
                <div lay-id="registerEdit" class="layui-tab-item layui-show full-height" lay-data="../inpatient/inpatientFeeItem.do?inhospitalId=$!inhospitalId">
                    <iframe src="" name="reg_patient_iframe" class="right_main_iframe" width="100%" height="100%" scrolling="no" frameborder="0" data-id="" seamless></iframe>
                </div>

                <div lay-id="appointRegister" class="layui-tab-item full-height" lay-data="../inpatient/payInventory.do?inhospitalId=$!inhospitalId">
                    <iframe src="" name="reg_patient_iframe" class="right_main_iframe" width="100%" height="100%" scrolling="no" frameborder="0" data-id="" seamless></iframe>
                </div>

                <div lay-id="settleAccounts" class="layui-tab-item full-height" lay-data="../inpatient/settleAccounts.do?inhospitalId=$!inhospitalId">
                    <iframe src="" name="reg_patient_iframe" class="right_main_iframe" width="100%" height="100%" scrolling="auto" frameborder="0" data-id="" seamless></iframe>
                </div>
                <div lay-id="paymentRecords" class="layui-tab-item full-height" lay-data="../inpatient/paymentRecords.do?inhospitalId=$!inhospitalId">
                    <iframe src="" name="reg_patient_iframe" class="right_main_iframe" width="100%" height="100%" scrolling="auto" frameborder="0" data-id="" seamless></iframe>
                </div>

            </div>
        </div>
	</div>
</div>
#parse("./common/pageJs.vm")
<!-- 页面js -->
#parse("./inpatient/inpatientOrder/inpatientFeeItemMain.js.vm")
</body>
</html>
