<!DOCTYPE html>
<html>
<head>
    <title>药房库存</title>
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
    <style type="text/css">
        /* 页面样式调整 */
        .layui-table-view .layui-table td, .layui-table-view .layui-table th {
            padding: 3px 0px;
        }

        .layui-input, .layui-select, .layui-textarea {
            height: 30px;
            line-height: 1.3;
            line-height: 38px \9;
            border-width: 1px;
            border-style: solid;
            background-color: #fff;
            border-radius: 2px;
        }

        .layui-form-label {
            padding: 5px 9px;
        }

        .layui-table td, .layui-table th {
            padding: 6px 15px;
        }

        /* 页面样式调整  end*/

        .layui-table, .layui-table-view {
            margin: 0px 0;
        }

        .layui-table-click {
            background: #AAD5FF;
        }
    </style>
</head>

<body class="full-height white-bg table-width-full">
<!-- 查询表单 -->
<form id="pharmacyStock_queryForm">
    #formHiddenInput("keyWord" "" " id='keyWord' class='layui-input' placeholder='药品检索' ")
    #formHiddenInput("medicineTypeLeftLike" "$!medicineType" "id='medicineTypeLeftLike'")
</form>

<!-- 数据表格 -->
<table id="pharmacyStockTable" lay-filter="pharmacyStockTable"></table>

<script type="text/html" id="operateFormatter">
    <a class="" title="选择"><i class="layui-icon layui-icon-ok-circle"></i></a>
</script>
#parse("./pharmacy/pharmacyStockPopover.js.vm")<!-- 页面js -->
</body>
</html>