<html>
    <head>
        <title>应用程序错误</title>
    </head>
    <body>
        <font face="Comic Sans MS" size="4">
        <blockquote>
        <center><h1><font color="red">应用程序错误</font></h1></center>
        #if($exception.getLocalizedMessage())
        <p />描述：$!exception.getLocalizedMessage()
        #end
        <p />错误信息：$!exception.toString()
        </blockquote>
        </font>
    </body>
</html>
