<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${SessionSysPortal.appTitle}</title>
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
    <link rel="stylesheet" href="../resource/hplus/js/webui-popover/jquery.webui-popover.css"/>
    <link href="$!contextPath/resource/hplus/js/plugins/layout/layout-default-latest.css" rel="stylesheet">
    <link href="$!contextPath/resource/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <script src="../resource/hplus/js/webui-popover/jquery.webui-popover.js?v=2"></script>
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery-ui.js"></script>
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery.layout.js"></script>
    <style type="text/css">
        .layui-table-click {
            background: #AAD5FF;
        }
/*工具栏图标大小*/
        td[lay-event="open"] i.fa {
            font-size: 18px;
        }
        td[lay-event="open"] i.fa {
            font-size: 18px;
        }
        .layui-table { margin: 0;}
    </style>
</head>

<body>
<div class="layui-content-wrapper">
    #formHiddenInput("inhospitalId" "" "")
    <div class="layui-tab m-b-n">
        <ul class="layui-tab-title">
            <li id="btn_assignment" class="layui-this">已分配床位</li>
            <li id="btn_unassignment">未分配床位</li>
        </ul>
        <div class="layui-tab-content layui-bg-white">
            <div class="layui-tab-item layui-show">
                <table class="layui-table lay-even " id="inpatientTable" lay-filter="inpatientTable"></table>
            </div>
            <div class="layui-tab-item">
                <table class="layui-table lay-even " id="wardBedTable" lay-filter="wardBedTable"></table>
            </div>
        </div>
    </div>
    <button type="button" id="query_btn" class="layui-hide"></button>
    <script type="text/html" id="operateFormatter">
        <a class="" ><i class="iconfont icon-shou"></i></a>
    </script>
</div>

#parse("./inpatient/nurseHome/wardInpatientList.js.vm")

</body>
</html>
