<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>${SessionSysPortal.appTitle}-字典域表管理</title>
#parse("./common/pageCss.vm")
#parse("./common/pageJs.vm")
</head>

<body class="gray-bg">
    <div class="wrapper-content full-height">
   <!--搜索条件 开始-->
	        <div class="ibox float-e-margins m-b-none">
	            <div class="ibox-content m-b-md p-b-n">
	                <div class="ibox-title">
	                    <h5>字典数据</h5>
	                </div>
	                <div class="row">
	                    <form id="basDic_queryForm" method="get" class="form-horizontal">
	                         #formHiddenInput("dicTypeId" "22" "id='dicTypeId'")
	                         <!-- #formHiddenInput("dicTypeId" "$!dicTypeId" "id='dicTypeId'") -->
	                        <div class="col-sm-3 m-b-sm m-r-n  p-l-n">
	                            <label class="control-label col-sm-4  p-r-n p-l-n ">字典名称</label>
	                            <div  class="col-sm-7 p-r-n">
	                                #formTextInput("name" "#htmlEscape($!{basDic.name})" " id='q_name' maxlength='50' class='form-control'")
	                            </div>
	                        </div>
	                    </form>
	                    </div>
	                </div>
	            </div>
	        <!--搜索条件 结束-->

           <!--列表 begin-->
	        <div class="table-responsive white-bg">
	            <!-- 列表表格 工具栏-->
	            <div class="fixed-table-toolbar">
	                <!-- <div class="bars pull-left hidden-xs">
	                    <button id="btn_add" type="button" class="btn btn-sm btn-outline btn-primary">
	                        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i> <span>新增</span>
	                    </button>
	                    <button id="btn_del" type="button" class="btn btn-sm btn-outline btn-danger">
	                        <i class="fa fa-ban" aria-hidden="true"></i> <span>删 除</span>
	                    </button>
	                </div> -->
	                <div class="bars pull-right hidden-xs">
	                    <button  id="btn_query_dic" type="button" class="btn btn-sm btn-outline btn-primary"><i class="layui-icon layui-icon-search"></i> <span>查 询</span></button>
	                    <button  id="btn_clean_dic" type="button" class="btn btn-sm btn-outline btn-info"><i class="iconfont icon-qingchu"></i> <span>清 空</span></button>
	                </div>
	            </div>
	            <!-- 列表表格 工具栏 结束-->
	            <!-- 列表表格 begin -->
	            <div class="example">
	                <table id="basDicListGrid" class="table table-hover table-striped" data-mobile-responsive="true"> </table>
	            </div>
	            <!--  列表表格 end -->
	        </div>
	        <!--列表end-->

    </div>
    <!-- 本页面js -->
    #parse("./select/selectSingleDic.js.vm")
</body>
</html>
