<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>${SessionSysPortal.appTitle}</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
#parse("./common/pageCss.vm")
#parse("./common/pageJs.vm")
	<link href="../resource/hplus/js/plugins/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
   <style type="text/css">
	 body{background-color: #ececec}
	 .u-select{ border-bottom: 1px solid #e1e1e1; width: 100%; margin: 2px; }
	 .main{height: 100%}
	</style>
</head>
<body>
    <div class="main">
        <!-- 机构树 -->
		<div class="layui-card full-height fl" style="width: 100%;">
			<div class="layui-card-body" style="height: calc(100% - 45px)">
			    <div class="white-bg full-height-scroll p-t-xs fl" id="orgTreeDiv" style="width: 100%;border-right: 1px solid #e1e1e1;">
					<ul id="commonTree" class="ztree"></ul>
			    </div>
			</div>
		</div>
    </div>
</body>
<script src="../resource/hplus/js/plugins/ztree/js/jquery.ztree.all.min.js"></script>
<script type="text/javascript">
layui.config({
    base: '../resource/layuiadmin/'
}).extend({
    dtree: 'modules/dtree/dtree'
}).use(['element', 'dtree', 'table'], function(){
    var element = layui.element, dtree = layui.dtree, table = layui.table;
	var zTreeObj, setting = {
		view : {
			selectedMulti : false
		},
		async : {
			enable : true,
			url : "../sys/getDepTree.jo?selectedIds=99",
			dataType : "json",
			autoParam : [ "id" ],
			type : "POST"
		},
		callback : {
			onAsyncSuccess: function(event, treeId, treeNode, msg){

				if(treeNode == undefined){
					treeNode = zTreeObj.getNodeByTId("tree_1");
				}
				zTreeObj.selectNode(treeNode, false, true);
				if (!(!!window.ActiveXObject || "ActiveXObject" in window)) { // 非ie
					zTreeObj.expandNode(treeNode, true, false, true, false); //只展开第一个节点
				}

				//only first time load tree includeRoot = true ,after set false
				zTreeObj.setting.async.otherParam["includeRoot"] = false;

			},
			onClick: function(event, treeId, treeNode) {
				if (treeNode) {
					if (!treeNode.orgId) {
						common.msg('机构编号无效', function (){});
						return ;
					}
					//不是叶子节点
					if(treeNode.isParent){
						return false;
					}
					if (parent.selectSingleDepartmentCall && typeof(parent.selectSingleDepartmentCall) == 'function') {
						parent.selectSingleDepartmentCall(treeNode);
					}
					var index = parent.layer.getFrameIndex(window.name);
					parent.layer.close(index);
				}
			},
			onCheck: function (event, treeId, treeNode) {
				console.log(treeNode);
				var selectedIds = $("#selectedIds").val();
				if (selectedIds.indexOf("," + treeNode.id + ",") > -1) {
					$("#" + treeNode.id).remove();
					selectedIds = selectedIds.replace(treeNode.id + ",", "");
					$("#selectedIds").val(selectedIds);
				} else {
					var nodeHtml = "<li id='" + treeNode.id + "'>" + treeNode.name + "</li>";
					$("#selected").append(nodeHtml);
					$("#selectedIds").val(selectedIds + treeNode.id + ",");
				}
			}
		}
	};

	zTreeObj = $.fn.zTree.init($("#commonTree"), setting, []);
    /*
    // 初始化树型
    var dtreeObj = dtree.render({
        dot:false,
        initLevel: 1,
        elem: "#orgTree",
        url: contextPath + "/sys/getOrgDtree.jo",
    });
    
    // 监听树型节点点击事件
    dtree.on("node('orgTree')" ,function(obj){
        var curNode = JSON.parse(obj.param.basicData);
        if (!curNode.orgId) {
            common.msg('机构编号无效', function (){});
            return ;
        }
        //不是叶子节点
        if(!obj.param.isLeaf){
        	return false;
        }
        if (parent.selectSingleDepartmentCall && typeof(parent.selectSingleDepartmentCall) == 'function') {
            parent.selectSingleDepartmentCall(curNode);
        }
        var index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index);
    });
*/
});
</script>
</html>