

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 网站用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  #parse("./common/pageCss.vm") #parse("./common/pageJs.vm")
</head>
<body>

    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="layui-form-item">
          <div class="layui-inline">
            <label class="layui-form-label">字典域编码</label>
            <div class="layui-input-block">
              <input type="text" name="dicTypeCode" id="q_dicTypeCode" placeholder="请输入" maxlength='24' autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">字典分类</label>
            <div class="layui-input-block">
              <input type="text" name="dicTypeName" placeholder="请输入" id='q_dicTypeName' maxlength='50' autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <label class="layui-form-label">标准编码</label>
            <div class="layui-input-block">
              <input type="text" name="standardCode" placeholder="请输入" id='q_standardCode' maxlength='20' autocomplete="off" class="layui-input">
            </div>
          </div>
          <div class="layui-inline">
            <button class="layui-btn layuiadmin-btn-useradmin layui-btn-sm " lay-submit lay-filter="LAY-user-front-search">
            查询
            </button>
             <button class="layui-btn layuiadmin-btn-useradmin layui-btn-sm " type="reset">
            清空
            </button>
          </div>
        </div>
      </div>
      
      <div class="layui-card-body">
        <table id="basDicTypeListGrid" lay-filter="basDicTypeListGrid"></table>
      </div>
    </div>

  <script>
  layui.config({
	  base: '../resource/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;

    //用户管理
    table.render({
      elem: '#basDicTypeListGrid'
      ,url:  "../basDicType/basDicTypeListData.jo" //接口
      ,cols: [[
        {type: 'radio', fixed: 'left'}
        ,{field: 'dicTypeCode',  title: '字典域编码', sort: true}
        ,{field: 'dicTypeName', title: '字典分类'}
        ,{field: 'standardCode', title: '国际/国家/行业标准编码'}
      ]]
      ,page: true
      ,height: 'full-140'
      ,text: '对不起，加载出现异常！'
    	  ,request: {
              pageName: 'pageNumber' //页码的参数名称，默认：page
             ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
           }
     //res = 如果是异步请求数据方式，res即为你接口返回的信息。 curr = 当前页码   count= 得到数据总量
       ,done: function(res, curr, count){
           curRows = res.data  || '';
       }
    });
  //监听行单击事件
    table.on('row(basDicTypeListGrid)', function(obj){
        obj.tr.find("input[lay-type='layTableRadio']").prop("checked",true);
        obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
        selectSingle(obj.data)
        form.render('radio');
   });
    function selectSingle(row){
    	 if (parent.selectSingleEventBack && typeof(parent.selectSingleEventBack) == "function") {
             parent.selectSingleEventBack(row);
             // 关闭窗口
             var index = parent.layer.getFrameIndex(window.name);
             parent.layer.close(index); 
         }
    }
    //监听搜索
    form.on('submit(LAY-user-front-search)', function(data){
      var field = data.field;
      
      //执行重载
      table.reload('LAY-user-manage', {
        where: field
      });
    });
  
    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-user-manage')
        ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
        
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证口令'
        }, function(value, index){
          layer.close(index);
          
          layer.confirm('确定删除吗？', function(index) {
            
            //执行 Ajax 后重载
            /*
            admin.req({
              url: 'xxx'
              //,……
            });
            */
            table.reload('LAY-user-manage');
            layer.msg('已删除');
          });
        });
      }
      ,add: function(){
        layer.open({
          type: 2
          ,title: '添加用户'
          ,content: 'userform.html'
          ,maxmin: true
          ,area: ['500px', '450px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
            ,submitID = 'LAY-user-front-submit'
            ,submit = layero.find('iframe').contents().find('#'+ submitID);

            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field; //获取提交的字段
              
              //提交 Ajax 成功后，静态更新表格中的数据
              //$.ajax({});
              table.reload('LAY-user-front-submit'); //数据刷新
              layer.close(index); //关闭弹层
            });  
            
            submit.trigger('click');
          }
        }); 
      }
    };
    
    $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
  </script>
</body>
</html>
