<style type="text/css">
#container .ui-layout-resizer-closed {
	display: block !important;
}

.ui-layout-pane {
	padding: 0 !important;
}

.ui-layout-resizer-east {
	width: 10px !important;
}

.ui-layout-toggler-east {
	background-color: #6cbbd4;
	line-height: 9px;
	width: 10px !important;
}


/* 页面样式调整 */
##.layui-table-view .layui-table td, .layui-table-view .layui-table th {
##	padding: 3px 0px;
##}
.layui-input, .layui-select, .layui-textarea {
	height: 30px;
	line-height: 1.3;
	line-height: 38px\9;
	border-width: 1px;
	border-style: solid;
	background-color: #fff;
	border-radius: 2px;
}

.layui-form-label {
	padding: 5px 9px;
}

.layui-table td, .layui-table th {
	padding: 6px 15px;
}

.layui-form-radio {
	margin: 1px 0px 0 0;
}
/* 页面样式调整  end*/
.layui-table-tool {
	min-height: 40px;
	line-height: 20px;
	padding: 5px 15px;
}

.layui-form-item .layui-form-label {
	width: auto;
}

.print {
	background-color: #f2f2f2;
	border-bottom: 1px solid #e1e1e1;
}

.tb-header{height: 35px;line-height:35px;color: #333; font-size: 16px;border: 1px solid #e1e1e1;border-bottom: none;text-align: center;}

.payInFeeTab .tbody-data  tr{
   height: 36px;
}
</style>
