<!DOCTYPE html>
<html>
<head>
    <title>未结算收据</title>
    <link href="$!contextPath/resource/hplus/js/plugins/layout/layout-default-latest.css" rel="stylesheet">
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
    #parse("./settlement/inpatient/payIn/payIn.css.vm")<!-- 页面js -->
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery-ui.js"></script>
    <script type="text/javascript" src="$!contextPath/resource/hplus/js/plugins/layout/jquery.layout.js"></script>
</head>


<body>
	<div class="layui-content-wrapper">
		<form id="unPayIn_queryForm" class="layui-form">
			  <div class="layui-row-query search-term" >
				  <div class="layui-form-item">
					   <div class="layui-inline">
						   <label class="layui-form-label">截止日期</label>
						   <div class="layui-input-inline ">
							 #formLayDateInput("endPayInDate" "" "id='endPayInDate' class='layui-input'")
						   </div>
					   </div>
					   <div class="layui-inline">
						   <label class="layui-form-label">患者姓名</label>
						   <div class="layui-input-inline">
							 #formTextInput("patientName" "" " class='layui-input' ")
						   </div>
					   </div>
					   <div class="layui-inline">
						   <label class="layui-form-label">收据号码</label>
						   <div class="layui-input-inline">
							 #formTextInput("receiptNo" "" " class='layui-input' ")
						   </div>
					   </div>
					  <div class="layui-inline layui-btn-group" >
						  <button class="layui-btn layui-btn-sm" id="btn_query" type="button" lay-tips="查询"><i class="layui-icon layui-icon-search"></i></button>
						  <button class="layui-btn layui-btn-sm " type="reset" lay-tips="刷新" id="btn_freshen"><i class="layui-icon layui-icon-refresh"></i></button>
					  </div>
					  <div class="layui-inline layui-btn-group" >
						  <button id="btn_regPass" class="layui-btn layui-btn-sm layui-btn-normal" type="button">当前未结算统计</button>
						  <button id="btn_regPass" class="layui-btn layui-btn-sm layui-btn-normal" type="button" lay-tips="导出"><i class="layui-icon layui-icon-export"></i></button>
						  <button id="btn_regPass" class="layui-btn layui-btn-sm layui-btn-normal" type="button" lay-tips="打印"><i class="layui-icon layui-icon-print"></i></button>
					  </div>
				  </div>
			  </div>

		 </form>

		 <div class="layui-form-item tb-header">住院患者缴款记录</div>
		 <!-- 数据表格 -->
		 <table id="unPayInTable" lay-filter="unPayInTable"></table>
	</div>
    #parse("./settlement/inpatient/payIn/unPayIn.js.vm")
</body>
</html>
