 <script>
   var dicRegisterType = JSON.parse('$dicTools.changeMapToJson($dicData.dicRegisterType)');
   var dicSex = JSON.parse('$dicTools.changeMapToJson($dicData.dicSex)');
   var dicPaymentMethod=JSON.parse('$dicTools.changeMapToJson($dicData.dicPaymentMethod)');
   var dicSysOrgName=JSON.parse('$dicTools.changeMapToJson($dicData.dicSysOrgName)');
   layui.use(['jquery','table', 'element', 'form', 'laydate','util'], function(){
      var table = layui.table;
      var laydate = layui.laydate;
      var form = layui.form;
      var element = layui.element;
      var util = layui.util;
      element.render();



    //第一个实例
      var tableIns = table.render({
         elem: '#unPayInTable'
        //,toolbar: '#toolbarDemo'
        ,defaultToolbar: []
        ,height: getTableHgt()//高度
        ,url: '../inpatient/selectUnpayInData.jo' //数据接口
        ,limit:20
        ,method:'post'
        ,request: {  pageName: 'pageNumber' ,limitName: 'pageSize' }
        ,where: common.serializeObject($('#unPayIn_queryForm'))
        ,cols: [[ //表头
           {field : 'receiptNo',title : '收据号码',minWidth: 100,templet:function(row){return row[0].receiptNo}}
          ,{field : 'inhospitalId',title : '住院号码',minWidth: 100,templet:function(row){return row[0].inhospitalId}}
          ,{field : 'patientName',title : '姓名',templet:function(row){return row[0].patientName}}
          ,{field : 'patientName',title : '床号',templet:function(row){return row[2].patientName}}
          ,{field : 'currentOfficeName',title : '科室',templet:function(row){return row[2].currentOfficeName}}
          ,{field : 'payInDate',title : '缴款日期',minWidth: 180,templet:function(row){
              if (row[0].payInDate != null){
                  return util.toDateString(row[0].payInDate);
              }else{
                  return "";
              }
             }
          }
          ,{field : 'prepayInAmount',title : '缴款金额',minWidth: 100,templet:function(row){return row[0].prepayInAmount}}
          ,{field : 'payInWay',title : '缴款方式',minWidth: 100,templet:function(row){
             return dicPaymentMethod[row[0].payInWay ||''];
          }}
          ,{field : 'cancelBillNo',title : '作废收据',minWidth: 100,templet:function(row){
              if (null != row[0].cancelBillNo) return row[0].cancelBillNo;
              return '';
        }}
          ,{field : 'cancelTime',title : '作废日期',minWidth: 180 ,templet : function(row) {
              return util.toDateString(row[0].cancelTime);
          }}
          ,{field : 'operPayUserName',title : '收款员',templet:function(row){return row[0].operPayUserName}}
          ,{field : 'validFlag',title : '备注',templet : function(row) {
              if (row[0].validFlag == "0"){
                  return "已作废"
              }else{
                  return "";
              }
              }
          }

        ]]
        ,page : true
        //res = 如果是异步请求数据方式，res即为你接口返回的信息。 curr = 当前页码   count= 得到数据总量
        ,done: function(res, curr, count){ }
      });//table.render

     function getTableHgt(){
         return ($('body').height() - $('#unPayIn_queryForm').height() - 36)
     }
     $(window).resize(function(){
         table.reload('unPayInTable',{
             height: getTableHgt()
         })
     })

      // 查询按钮
      $('#btn_query').click(function (){
        query();
      });
      //查询列表
      query = function() {
        var queryParams = common.serializeObject($('#unPayIn_queryForm'));
        tableIns.reload({
            where : queryParams
        });
      }
   // 刷新按钮
      $('#btn_freshen').click(function (){
          freshen();
      });
      //刷新列表
      freshen = function() {
        tableIns.reload({
            where : null
        });
      }
  });

</script>
