<script>

    var dicPathActivityType = JSON.parse('$dicTools.changeMapToJson($dicData.dicPathActivityType)');
    layui.config({
        base : '../resource/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form','jquery'], function(){
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element
            ,form = layui.form;

        form.render(null, 'component-form-element');
        element.render('breadcrumb', 'breadcrumb');

        function chagneClinicPathId(clinicPathId, clinicPathStageId){
            if(!clinicPathId){
                $("#pathStageList").html('无数据');
                $(".linchuanglujing").html('无数据');
                return null;
            }
            common.requestServer(contextPath + '/clinic/clinicPathInfo.jo', {clinicPathId: clinicPathId}, function (result) {
                if (result.code == '0') {
                    var data = result.data;
                    var clinicPath = data.clinicPath;
                    $("#pathDiseaseName").html(clinicPath.pathDiseaseName);
                    $("#hospitalStayDay").html(clinicPath.hospitalStayDay);
                    $("#estimatedCost").html(clinicPath.estimatedCost);
                } else {
                    common.alert(result.msg, 2)
                }
            })
            common.requestServer(contextPath + '/clinic/pathStageListData.jo', {clinicPathId: clinicPathId,orderbyFlag: 'o.sort asc'}, function (result) {
                if (result.code == '0') {
                    var timelines = $.map(result.data, function (item, index){
                        var radioFlag = false;
                        if(clinicPathStageId) {
                            radioFlag = clinicPathStageId == item.clinicPathStageId;
                        } else {
                            radioFlag = (index==0)
                        }
                        return '<li class="layui-timeline-item">' +
                            '<a data-d="'+layui.util.escape(JSON.stringify(item))+'" class="pathStageItem">' +
                            '<i class="layui-icon layui-timeline-axis '+ (radioFlag ?'layui-icon-radio' :'layui-icon-circle') +'"></i>' +
                            '<div class="layui-timeline-content layui-text">' +
                            '<div class="layui-timeline-title">'+ item.pathStageContent+'</div>' +
                            '</div>' +
                            '</a>' +
                            '</li>';
                    }).join('');
                    $("#pathStageList").html(timelines || '无数据').find('.pathStageItem').click(function (){
                        var data = $(this).data('d');
                        var clinicPathId = data.clinicPathId;
                        var clinicPathStageId = data.clinicPathStageId;
                        $("#pathStageContent").html(data.pathStageContent);
                        $("#clinicPathStageId").val(clinicPathStageId);
                        chagePathStage(clinicPathId, clinicPathStageId);
                        $(this).find('.layui-timeline-axis').removeClass('layui-icon-circle').addClass('layui-icon-radio')
                        $(this).parent('.layui-timeline-item').siblings().find('.layui-timeline-axis.layui-icon-radio').removeClass('layui-icon-radio').addClass('layui-icon-circle');
                    }).find('.layui-timeline-axis.layui-icon-radio').parent('a').click();
                } else {
                    common.alert(result.msg, 2)
                }
            })
        }
        function chagePathStage(clinicPathId, clinicPathStageId){
            common.requestServer(contextPath + '/clinic/pathActivityPageData.jo', {clinicPathId: clinicPathId, 'clinicPathStageId': clinicPathStageId || ''}, function (result) {
                if (result.code == '0') {
                    var activityTypeGroup = {};
                    $.each(result.data, function (index, item){
                        if (activityTypeGroup[item.activityType]) {
                            activityTypeGroup[item.activityType].push(item);
                        } else {
                            activityTypeGroup[item.activityType] = [item];
                        }
                    })

                    var cards = $.map(activityTypeGroup, function (val, key){
                        return '<div class="layui-card">' +
                            '<div class="layui-card-header">'+(dicPathActivityType[key] || '')+'</div>' +
                            '<div class="layui-card-body">' +
                            '<dl>' +
                            $.map(val, function (item){
                                return '<dd>'+(item.activityContent || "")+'</dd>';
                            }).join('') +
                            '</dl>' +
                            '</div>' +
                            '</div>';
                    }).join('');
                    $(".linchuanglujing").html(cards || '无数据');

                } else {
                    common.alert(result.msg, 2)
                }
            })
        }
        form.on('select(clinicPathId)', function(data){
            var clinicPathId = data.value;
            chagneClinicPathId(clinicPathId);
        });

        chagneClinicPathId($("#clinicPatientPathId").val(), $("#currentPatientStageId").val())

        form.on('submit(component-form-element)', function(data){
            layer.msg(JSON.stringify(data.field));
            return false;
        });

        $("#btn_save").click(function () {
            var clinicPathId = $("#clinicPathId").val();
            var clinicPatientPathId = $("#clinicPatientPathId").val();
            if (!clinicPathId) {
                common.msg("请选择临床路径病种", 0);
                return ;
            }
            common.requestServer(contextPath + '/clinic/saveClinicPatientPathDisease.jo', {clinicPathId: clinicPathId, clinicPatientPathId: clinicPatientPathId}, function (result) {
                if (result.code === '0') {
                    common.msg("保存成功", 1, function (){
                        $("#btn_cancel").click();
                    });

                } else {
                    common.alert(result.msg, 0);
                }
            })
        })

        $(document).ready(function () {
            $(".mainTwo").height($('body').height() - $(".mainOne").height() - 20);
            $(".linchuanglujing .layui-card").height($('.mainTwo').height()/2 - 40);
        });

        $("#btn_cancel").click(function (){
            history.back()
        })
    });


</script>