
<script>
    layui.config({
        base : '../resource/layuiadmin/'
    }).use([ 'form' ], function() {
        var $ = layui.$, form = layui.form;
        common.verify(form);

        $(window).resize(function () {
            $('#deps').height($('body').height() - 224);
        }).resize();
    })
</script>
