<!DOCTYPE html>
<html>
<head>
	<title>导入检查报告</title> 
	<link href="$contextPath/resource/hplus/css/plugins/laydate/laydateMini.css" rel="stylesheet" > 
	#parse("./common/pageCss.vm")	
	#parse("./common/pageJs.vm")
</head>  

<body class="full-height white-bg"  style="overflow-x:hidden">

  <div class="layui-row full-height">
     <!-- 检查报告信息 -->          
     <div class="main-left full-height">
         <!-- 查询表单 -->
		 <form id="examine_form" class="layui-form"> 
		     #formHiddenInput("patientId" "$!patientId" "id='patientId'")
		    
		 </form>
		
		 <table id="outpatientExamine" lay-filter="outpatientExamine"></table> <!-- 数据表格 -->
     </div>
      
     <!-- 检查报告明细 -->
     <div class="main-right layui-hide">
          <!-- 查询表单 -->
		  <form id="examineItem_Form"> 
		     #formHiddenInput("outpatientId" "" "id='outpatientId'") 
		     <div class="layui-form-item p-t-xs"> 
		         <button id="btn_import_examineItem" class="layui-btn layui-btn-sm" type="button">导入检查</button>
		         <button id="btn_check_unusual" class="layui-btn layui-btn-sm" type="button">勾选异常项</button>
		    </div>
		  </form>
		  <table id="outpatientExamine" lay-filter="outpatientExamine"></table><!-- 数据表格 -->
     </div>
     
  </div><!-- layui-row -->
	#parse("./outpatient/outpatientEmr/outpatientExamine.js.vm") <!-- 页面js -->
</body>
</html>