<!DOCTYPE html>
<html>
<head>
	<title>历史处方</title> 
	#parse("./common/pageCss.vm")	
	#parse("./common/pageJs.vm")
	#parse("./outpatient/recipeTcm/recipeTcm.css.vm")
</head>  

<body class="full-height white-bg">

  <div class="layui-row full-height">
     <!-- 历史处方主信息 -->          
     <div class="main-left full-height">
         <!-- 查询表单 -->
		 <form id="historyRecipeTcm_queryForm"> 
		     #formHiddenInput("patientId" "$!patientId" "id='patientId'")
		     #formHiddenInput("registerId" "$!registerId" " id='registerId' ")
		    <div class="layui-row m-t-10 layui-form  p-b-xs"  > 
		         <label class="layui-form-label layui-form-label-s">处方名称</label>
		         <div class="layui-inline wd-200">
		           #formTextInput("" "" "id='recipeNum'  class='layui-input layui-input-s'")
		         </div>
		         <button id="btn_query_recipeTcm" class="layui-btn layui-btn-sm" type="button"><i class="layui-icon layui-icon-search"></i></button>
		    </div>
		 </form>
		
		 <table id="historyRecipeTcmTable" lay-filter="historyRecipeTcmTable"></table> <!-- 数据表格 -->
     </div>
      
     <!-- 历史处方明细 -->
     <div class="main-right layui-hide">
          <!-- 查询表单 -->
		  <form id="historyRecipeTcmItem_queryForm"> 
		     #formHiddenInput("recipeId" "" "id='recipeId'") 
		     <div class="layui-row m-t-10 layui-form p-b-xs"  > 
		     	<button id="btn_import_recipeTcmItem" class="layui-btn layui-btn-sm" type="button">导入</button>
		    </div>
		  </form>
		  <table id="historyRecipeTcmItemTable" lay-filter="historyRecipeTcmItemTable"></table> <!-- 数据表格 -->
     </div>
     
  </div><!-- layui-row -->

   #parse("./outpatient/recipeTcm/recipeTcmHistory.js.vm")<!-- 页面js -->
</body>
</html>