<style type="text/css">
.main {
	padding: 0px 0px;
}

.wd-90 {
	width: 90px
}

.main-left {
	width: 40%;
	float: left;
	margin-left: 5px;
}

.main-right {
	width: calc(60% - 26px);
	float: right;
	margin: 0px 6px 0 0;
}

.reg-recipeTcm {
	width: calc(100% - 220px);
	float: left;
}

.much-recipeTcm {
	width: 200px;
	float: right;
}

.much-recipeTcm tr th {
	text-align: center !important;
}

.much-recipeTcm tr td {
	text-align: left !important;
}

.recipeTcm table tbody tr td:nth-child(2) div {
	text-align: left;
}

.recipeTcm table tbody tr td:nth-child(2) div i {
	color: #ccc;
}
</style>