<!DOCTYPE html>
<html>
<head>
    <title>${SessionSysPortal.appTitle}-系统维护-管理类配置-医生权限设置-医生职称</title>
    #parse("./common/pageCss.vm")
    #parse("./common/pageJs.vm")
</head>
<body>
<div class="layui-content-wrapper">
    <div class="layui-fluid">
        <!--搜索条件 开始-->
        <form id="basPostDoctor_queryForm" class="layui-form autoWidth">
            <div class="layui-row-query search-term">
                <div class="layui-form-item ">
                    <div class="layui-inline">
                        <label class="layui-form-label">科室</label>
                        <div class="layui-input-inline">
                            <div id="officeIds" style="height: 30px;"></div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">医生</label>
                        <div class="layui-input-inline">
                            #formTextInput("doctorName" "" "class='layui-input' id='q_doctorName' autocomplete='off' ")
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">职称</label>
                        <div class="layui-input-inline">
                            #formSingleSelectSearchFirstNone("doctorPost" "" $dicData.dicDoctorPost " id='doctorPost'
                            lay-filter='doctorPost' class='doctorInfo'
                            lay-search"
                            "")
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">电子病历签名</label>
                        <div class="layui-input-inline">
                            #formSingleSelectSearchFirstNone("doctorSign" "" $dicData.dicDoctorSignType "
                            id='doctorSign' lay-filter='doctorSign' class='doctorInfo'
                            lay-search"
                            "")
                        </div>
                    </div>
                    <div class="layui-inline">
                        <div class="layui-btn-group">
                            <button id="btn_query" class="layui-btn layui-btn-sm" type="button" lay-tips="查询"><i
                                    class="layui-icon layui-icon-search "></i></button>
                            <button id="btn_clean" class="layui-btn layui-btn-sm " type="button" lay-tips="清 空">
                                <i class="iconfont icon-qingchu"></i></button>
                        </div>
                        <button id="btn_add" class="layui-btn layui-btn-sm layui-btn-normal" type="button"
                                lay-tips="新增"><i class="layui-icon layui-icon-add-1"></i></button>
                        <button id="btn_postFee" class="layui-btn layui-btn-sm " type="button"
                                lay-tips="设置职称诊查费">设置职称诊查费
                        </button>
                        <button id="btn_postEmrSign" class="layui-btn layui-btn-sm " type="button"
                                lay-tips="设置职称电子病历签名">设置职称电子病历签名
                        </button>

                    </div>
                </div>
            </div>
        </form>
        <!--搜索条件 结束-->
        <!-- 列表表格 begin -->
        <table id="basPostDoctorListGrid" lay-filter="basPostDoctorListGrid"></table>
        <!--  列表表格 end -->

    </div>
</div>
<!-- 本页面js -->
#parse("./bas/basPostDoctor/basPostDoctorList.js.vm")
</body>
</html>
